
#comments
{ 
	padding: 1em;
}

.mobile #comments
{
	width: auto;
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
	padding: 1em .4em;
}

/***********************/
/* Comments section top */
/***********************/

#comments-top
{
	position: relative;
	background-color: transparent;
	font-size: 13px;
	padding: .5em 0;
	margin-bottom: 1em;
}

.page-settings-disabled.admin #comments-top
{
	background:  #aaa;
}

.page-settings-readonly.admin #comments-top
{
	background:  #eee;
}

.page-settings-pre-mod.admin #comments-top
{
	background:  #fcc;
}

#comments-top-text
{
	font-style: italic;
}

#comments #comments-actions
{ 
	float: right;
	position: relative;
	top: -5px;
	margin-left: .7em;
	margin-bottom: .5em;
}

#comments-actions a
{
	margin: 0 .5em;
	display: inline-block;
}

#page-settings-form
{
	display: inline;
}

#comments-list
{
	clear: both;
}

/***********************/
/* comment */
/***********************/

.comment
{
	font-size: 14px;
	padding: 1em 0em;
}

.threaded .comment.has-parent
{
	padding-left: 4em;
	border-top: none;
}

.mobile .threaded .comment.has-parent
{
	padding-left: 2em;	
}

.comment:not(.admin).has-children
{
	padding-bottom: 0em;
}

.comment.has-message
{
	padding-top: 0;
}

.comment.highlighted:not(.needs-attention)
{
	border-right: 3px solid yellow;
}

.comment.needs-attention:not(.highlighted)
{
	border-right: 3px solid red;
}

.comment.needs-attention.highlighted
{
	border-right: 6px solid;
	border-image: linear-gradient(to left,yellow 3px, red 3px) 6;
}

#comments .comment.not-published
{
	background-color: #ccc;
}

.comment-message
{
	background-color: rgba(255,255,255,.5);
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	padding: .7em;
	font-style: italic;
	margin-bottom: .5em;
}

/***********************/
/* Comment top line */
/***********************/

.comment-topline 
{
	color: rgba(0,0,0,.5);
	font-weight: normal;
	margin: 0;
	margin-bottom: .3em;
	display: flex;
	flex-wrap: wrap;
}

@media all and (max-width: 450px)
{
	.stats-info
	{
		white-space: normal;
	}	
}

.comment-topline>span,
.comment-topline>.stats-info>span
{
	margin-right: .6em;
	white-space: nowrap;
}

.comment-topline span.banned>a
{
	background-color: rgba(0,0,0,.2);
	color: rgba(0,0,0,1);
}

.comment-topline .pre-mod
{	
	flex-grow: 1;
	text-align: right;
	margin-left: 1em;
}

.comment-topline>.stats-info
{	
	flex-grow: 1;
	text-align: right;
	margin-left: 1em;
}

@media all and (max-width: 600px)
{
	.comment-topline>span
	{
		white-space: normal;
		line-height: 1.5em;
	}
}

.comment-topline>.stats-info>span:last-child
{
	margin-right: 0;
}

.comment-topline .username
{
	display: inline-block;
	vertical-align: top;
	min-width: 8em;
	max-width: 14em;
	overflow: hidden;
}

.comment-topline .username>a
{
	font-weight: bold;
	color: rgba(0,0,0,.9);
}

.comment-topline a
{
	color: rgba(0,0,0,.5);
	text-decoration: none;
}

.comment-topline .stats-link
{
	position: relative;
	padding: .1em;
}

.ban-popup
{
	display: none;
	z-index: 1;
}

.comment-show-popups .ban-popup
{
	position: absolute;
	background-color: #fe8;
	padding: .3em;
	display: inline-block;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.ban-popup button
{
	padding: .1em;
	line-height: .6em;
}

.mobile .ban-popup button
{
	padding: .5em;
}

.comment-topline .stats>span
{
	padding: .1em .2em;
}

.comment-topline .stats .needs-attention
{
	background-color: rgba(255,0,0,.1);
}

.comment-topline .stats .published
{
	background-color: rgba(0,255,0,.1);
}

#comments .comment-topline .stats .not-published
{
	background-color: rgba(0,0,0,.1);
}

/***********************/
/* Comment body */
/***********************/

.comment-body
{
	background-color: rgba(255,255,255,.2);
	padding: .8em .5em;
	margin: 0;
	word-break: break-word;
	hyphens: auto;
}

.comment.has-see-more .comment-body
{
	max-height: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.comment .see-more
{
	display: none;
	text-align: center;
}

.comment .see-more>span
{
	cursor: pointer;
	padding: .3em;
}

.comment .see-more>span:hover
{
	background-color: rgba(255,255,255,.2);
}
.comment.has-see-more .see-more
{
	display: block;
}

.comment-body a.text-url
{
	display: inline-block;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	vertical-align: top;
}

.comment-body img
{
	max-width: 100%;
	height:auto;
}

.comment .see-more
{
	font-style: italic;
}

/***********************/
/* Comment action line (buttons) */
/***********************/

.comment .comment-actions
{ 
	margin-top: 0;
	color: rgba(0,0,0,.5);
	position: relative;
	left: -11px; /* button padding overflow left */
}

.comment-actions button
{
	all: unset;
	background-color: transparent; /* IE11 */
	border: none;
	padding: .5em 11px;	
}

.comment-actions button
{
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.comment-actions button:active:not([disabled])
{
	transform: translateY(1px);
}

.comment-actions button:hover:not([disabled]),
.comment-actions button:focus-within
{
	background-color: rgba(255,255,0,.3);
	cursor: pointer;
}

.comment-actions button[disabled]
{
	color: rgba(0,0,0,.3);
}

.comment-actions .mod-buttons
{
	margin-right: 2em;
}

/* spread out buttons to avoid misclicks */
.mobile #comments.admin .comment-actions
{
	display: flex;
}

.mobile .comment-actions .mod-buttons
{
	margin-right: 0em;
}

/* spread out buttons to avoid misclicks */
.mobile #comments.admin .comment-actions .mod-buttons
{
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.mobile .mod-buttons button
{
	font-size: 0;
	margin-right: 0em;
	padding: 0;
}

.mobile .mod-buttons button::before
{
	font-size: 20px;
	padding: .1em .5em;
}

.mobile .mod-buttons button[name="ok"]::before
{
	content: '✓';
	color: green;
}
.mobile .mod-buttons button[name="unpublish"]::before
{
	content: 'x';
	color: red;
}

.mobile .mod-buttons button[name="unban"]::before
{
	content: 'B';
	color: green;
}
.mobile .mod-buttons button[name="ban"]::before
{
	content: 'B';
	color: red;
}

#comments.page-settings-readonly:not(.admin) .comment-add,
#comments.page-settings-readonly:not(.admin) .comment-edit
{
	display: none;
}

/***********************/
/* Form */
/***********************/

#comment-form
{
	position: relative;
	padding: 3px;
	box-shadow: 0 0 5px #555,0 0 5px #555;
	resize: vertical;
	overflow: hidden;
	min-height: 75px;
}

.form-has-fail-message
{
	background-color: rgba(255,0,0,.2);
}

#form-fail-message
{
	text-align: center;
	font-style: italic;
}

#comment-form form
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

#comment-form.waiting::before
{
	position: absolute;
	display: block;
	content: '';
	background-image: url('../waiting.gif');
	width: 32px;
	height: 32px;
}

#comment-form .validation-messages
{
	border: 1px solid #d77;
	background: #fcc;
	padding: 1em;
}

#edit-body
{
	flex-grow: 1;
	min-height: 30px; /* necessary, otherwise will not shrink !! */

	width: 100%;
	width: calc(100% - 25px);
	box-sizing: border-box;
	resize: none;
	padding: 7px;
}

.mobile #edit-body
{
	/* Safari on iPhone will zoom site if font size is less than 16px */
	font-size: 16px;
}

#edit-body.error
{
	border: 2px solid red;
}

#bottom-part
{
	min-height: 3em;
}

#edit-isPublished-wrapper,
#edit-needsAttention-wrapper
{
	display: inline-block;
	margin-right: 1em;
}

.form-submit-buttons
{
	display: inline-block;
	margin-right: 1em;
}

#edit-cancel
{
	all: unset;
	border: none;
	position: absolute;
	right: 0px;
	top: 0px;
	background: rgba(255,255,255,.7);
	border: 1px solid rgba(0,0,0,.5);
	border-bottom-left-radius: 2px;
	display: inline-block;
	width:  22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}

#edit-cancel:active
{
	transform: translateY(1px);
}

#edit-cancel:hover:hover,
#edit-cancel:hover:focus-within
{
	background-color: white;
	cursor: pointer;
}

#edit-delete
{
	color: red;
}

.comment-guidelines
{
	display: inline-block;
	padding: .5em;
	margin-right: .5em;
	margin-top: 5px;
	text-decoration: none;
	font-size: 10px;
	color: #333;
}

/***********************/
/* Other */
/***********************/

.more-comments,.pre-wait-more-comments
{
	font-size: 30px;
	text-align: center;
	height: 32px;
}

.waiting-more-comments
{
	color: transparent;
	background-image: url('../waiting.gif');
	background-repeat: no-repeat;
	background-position: center;
}
