
/*********** page top line   *************/

#mail-import-top
{
	line-height: 30px;
	margin-top: .6em;
	margin-bottom: .5em;
}

#new-mail
{
	display: inline-block;
	background-color: #d14836;
	color: white;
	font-size: 13px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	padding: 0 8px;
	height: 30px;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 2em;
	box-sizing: border-box;
}

#new-mail:hover
{
	background-color: #c13826;
}

.top-button,
.top-icon-button
{
	margin: 0 5px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 3px;
	vertical-align: middle;
	height: 30px;
	line-height: 27px;/* Why is 27 necessary ? (should be 30-border=28, but icon 1px too low) */
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: center;
}

.top-button:hover,
.top-icon-button:hover
{
	background-color: #e2e2e2;
}

.top-icon-button
{
}

.top-icon-button::before,
.top-icon-button span
{
	text-align: center;
	content: '';
	display: inline-block;
	vertical-align: middle;
}

#refresh
{
	width: 30px;
}

#refresh::before 
{
	width: @@sprite_width('refresh.svg')px;
	height: @@sprite_height('refresh.svg')px;
	background-image: url(@@sprite('refresh.svg'));
	background-position: @@sprite_bgpos('refresh.svg');
}

#message-categories
{
	margin: 0 1em;
	margin-right: 2em;
	display: inline-block;
	max-height: 30px;
}

#message-categories a,
#lists-link
{
	text-decoration: none;
	display: inline-block;
	color: black;
	padding: 0 .6em;
	box-shadow: 0px 0px 1px rgba(0,0,0,.2);
	margin-top: 3px;
}

#message-categories a.not-active:hover,
#lists-link:hover
{
	background-color: #fafafa;
}


#message-categories a.active
{
	border-top: 3px solid #d14836;
	color: #d14836;
	margin-top: 0px;
}

.active-backdrop
{
	background-color: #f6f0f0;
	display: inline-block;
	height: 50px;
	box-shadow: 0px 0px 1px rgba(0,0,0,.1);
	position: relative;
	z-index: 1;
}

.active-backdrop,.no-backdrop
{
	margin-left: .25em;
	margin-right: .25em;
}

.backdrop-corner
{
	display: none;
	position: absolute;
	bottom: 2px;
}

.active-backdrop .backdrop-corner
{
	display: block;
}

.backdrop-corner-left
{
	left: -10px;
	width: @@sprite_width('corner.svg#2')px;
	height: @@sprite_height('corner.svg#2')px;
	background-image: url(@@sprite('corner.svg#2'));
	background-position: @@sprite_bgpos('corner.svg#2');
}

.backdrop-corner-right
{
	right: -10px;
	width: @@sprite_width('corner.svg')px;
	height: @@sprite_height('corner.svg')px;
	background-image: url(@@sprite('corner.svg'));
	background-position: @@sprite_bgpos('corner.svg');
}

#message-categories .active-backdrop>a
{
	box-shadow: 0px 0px 1px rgba(0,0,0,0);
}

.no-backdrop
{
	display: inline-block;
}



#finish-choices .dropdown-button::before 
{
	width: @@sprite_width('close.svg')px;
	height: @@sprite_height('close.svg')px;
	background-image: url(@@sprite('close.svg'));
	background-position: @@sprite_bgpos('close.svg');

}

#display-compact
{
	width: 30px;
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#display-compact::before 
{
	width: @@sprite_width('lines-5.svg')px;
	height: @@sprite_height('lines-5.svg')px;
	background-image: url(@@sprite('lines-5.svg'));
	background-position: @@sprite_bgpos('lines-5.svg');
}

#display-full
{
	width: 30px;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

#display-full::before 
{
	width: @@sprite_width('lines-3.svg')px;
	height: @@sprite_height('lines-3.svg')px;
	background-image: url(@@sprite('lines-3.svg'));
	background-position: @@sprite_bgpos('lines-3.svg');
}

#display-density,
#display-order
{
	display: inline-block; 
}
#display-density .active,
#display-order .active
{
	background-color: #f0e0e0;
}

#display-order a
{
	display: inline-block;
	font-size: 11px;
	line-height: 13px;
	padding-top: 2px;
	text-decoration: none;
	color: black;
	width: 2.5em;
	text-align: center;
}

#order-urgent
{
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
#order-date
{
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

#sort-icon
{
	margin: 0;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
#sort-icon::before
{
	content: '';
	display: inline-block;
	width: @@sprite_width('sort.svg')px;
	height: @@sprite_height('sort.svg')px;
	background-image: url(@@sprite('sort.svg'));
	background-position: @@sprite_bgpos('sort.svg');
}

#search-form
{
	display: inline-block;
	float: right;
	margin-right: 1em;
	margin-top: .4em;
}
#search-form input[type="text"]
{
	width: 8em;
}


/*********** pager line  *************/

#pager-line
{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

#pager-line .pager
{
}

#pager-line-menu
{
	min-width: 600px;	
	margin-left: 0em;
	margin-right: .5em;
	margin-bottom: .5em;
}

#pager-line-menu.not-empty
{
	background-color: #f6f0f0;
	padding: .3em;
	padding-bottom: .1em;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	text-align: center;
}

#pager-line-label
{
	display: inline-block;
	margin-right: 1em;
}

#pager-line-menu>a
{
	margin-right: 1em;
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: .3em;
	background-color: white;

}

#pager-line-menu>a:hover
{
	color: #500;
	background-color: #fee;
}

#pager-line-menu>a.active
{
	color: #d14836;	
}

#thread-title
{
	display: inline-block;
	max-width: 540px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	line-height: 24px;
}

#finish-thread 
{
	display: inline-block;
	width: @@sprite_width('close.svg')px;
	height: @@sprite_height('close.svg')px;
	background-image: url(@@sprite('close.svg'));
	background-position: @@sprite_bgpos('close.svg');
	vertical-align: top;
	position: relative;
	top: 1px;
}

#finish-thread:hover
{
	background-color: rgba(255,255,0,.5);
}

#menu-list-id
{
	max-width: 8em;
	overflow: hidden;
	display: inline-block;
    white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis; 
}


/* ********** message-rule-manager  ************ */

#message-rule-manager-rules .table-render-title,
#message-rule-manager-rules .source-code-comments
{
	display: none;
}
									
#message-rule-manager-rules .table-render .longtext
{
	max-width: 400px;
}

#message-rule-manager-rules .table-render-csv-export
{
	display: none;
}


/* ********** message-list-compact  ************ */

.message-list-compact 
{
	border-collapse: collapse;
	font-size: 13px;
}

.message-list-compact tr
{
	background-color: #f3f3f3;
	border-top: 1px solid #ddd;
}
.message-list-compact tr.finished
{
	background-color: #ccc;
}

.message-list-compact tr.auto-hidden
{
	background-color: #dcc;
}

.message-list-compact tr.importance-trash
{
	background-color: #aaa;
}

.message-list-compact td
{
}
.message-list-compact td a
{
	display: block;
	padding: 6px 10px;
	text-decoration: none;
	color: black;
}

.message-list-compact td.finish
{
	cursor: pointer;
}

.message-list-compact td.finish::before 
{
	display: inline-block;
	content: '';
	width: @@sprite_width('close.svg')px;
	height: @@sprite_height('close.svg')px;
	background-image: url(@@sprite('close.svg'));
	background-position: @@sprite_bgpos('close.svg');
	vertical-align: middle;
}


.message-list-compact tr.auto-hidden td.finish::before,
.message-list-compact tr.importance-trash td.finish::before 
{
	background: none;
}


.message-list-compact tr.importance-trash td.finish
{
	cursor: auto;
}

.message-list-compact tr.importance-trash td.finish:hover
{
	background-color: transparent;
}

.message-list-compact td.subject
{
	min-width: 20em;
	max-width: 80em;
}

.message-list-compact td.finish:hover,
.message-list-compact td.subject a:hover,
.message-list-compact td.date a:hover
{
	background-color: rgba(255,255,0,.2);
}


/* ********** mailing lists  ************ */

#mailing-lists-title span
{
	font-weight: normal;
}

#mailing-lists td.tot,
#mailing-lists td.unread,
#mailing-lists td.last-mail
{
	text-align: right;
}

#mailing-lists td.subs-address
{
	word-wrap: break-word;
}

/* ********** message-details  ************ */
#message-headers
{
	max-width: 80em;
	/*max-height: 40em;*/
	overflow:auto;
	border:1px solid black;
	margin-left: 2em;
	padding: .3em;
	background-color: #efe;
}

#details-info li
{
	margin-bottom: .1em;
}

#details-info strong
{
	display: inline-block;
	min-width: 9em;
}
#details-attachments
{
	margin-bottom: 2em;
}
#details-attachments th,
#details-attachments td
{
	padding: .1em .4em;
}

/* ********** misc  ************ */

.mail-import-top-title
{
	font-size: 18px;
	margin: 0;	
	margin-bottom: .5em;
}

#finish-confirm-form .form-submit-buttons
{
	margin-bottom: 1em;
}
