/* ********** send mail form ************ */

#send-mail
{
	padding-left: 1em;
}

#send-mail .form-item-textfield label,
#send-mail .form-item-select label
{
	display: inline-block;
	min-width: 5em;
}

#edit-cc-wrapper,
#edit-bcc-wrapper
{
	display: none;
}

#edit-body
{
	width: 70em;
	height: 30em;
}

#attach>span
{
	display: inline-block;
	width: @@sprite_width('attach.svg')px;
	height: @@sprite_height('attach.svg')px;
	background-image: url(@@sprite('attach.svg'));
	background-position: @@sprite_bgpos('attach.svg');
}

.attachment.detached
{
	display: none;
}

#edit-send
{
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: white;
	border-radius: 2px;
	text-align: center;
	font-weight: bold;
	line-height: 27px;
	margin-top: 1em;
}

#edit-send:hover
{
	background-color: #3d80ee;
}
