
/* ********** css added inside email content ********** */

body
{
	margin: .5em;
}

#demosphere-subject
{
	display: none;
}

.demosphere-message-part
{
    margin: 1em;
    padding: .5em;
    border: 1px solid #aaa;
}

.demosphere-message-part.first-part
{
	border: none;
    margin: 0em;
    padding: .1em;
}

.demosphere-message-part.simple-type-pdf,
.demosphere-message-part.simple-type-office
{
	display: inline-block;
	background-color: 
}

.demosphere-message-part.simple-type-pdf::before,
.demosphere-message-part.simple-type-office::before
{
	content: '';
	width: @@sprite_width('attachment.svg')px;
	height: @@sprite_height('attachment.svg')px;
	background-image: url(@@sprite('attachment.svg'));
	background-position: @@sprite_bgpos('attachment.svg');
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

.demosphere-reply
{ 
    border-left: 2px solid black;
    margin-left: 1em;
    padding-left: 1em;
}

.demosphere-tracker-link
{
	background-color: #fef !important;
	color: black !important;
	border: 2px solid red !important;
}