
#menubar
{  
  background-color: #a00;
  color: white;
  text-align: center;
  padding: .3em;
}
#menubar a
{ 
  color: white;
  padding-left: .5em;
  padding-right: .5em;
 text-decoration: none;
}
#menubar a:hover
{ 
  color: black;
  background-color: white;
}

#mainContent
{ 
  padding: 0em;
}

.demosphere_highlight_diff
{ 
    background-color: red;
}
/* ********* text matching similar doc ******** */

#tm-similar-docs>p,
#tm-similar-docs>h3
{
	margin-left: .5em;
	margin-right: .5em;
}

#similar-doc-info
{
	
}
#similar-doc-info .tmInfo
{
	text-align: left;
	color: transparent;/* hide colon */
}
#similar-doc-info .similar-docs-link
{
	display: none;
}

.tmSimilar
{ 
	display: inline-block;
    background-color: #ddc;
	padding-left: .6em;
	margin-top: 1em;
}
.tmSimilar a
{
	display: inline-block;
	margin-left: 1em;
	background-color: rgba(255,255,255,.8);
	padding: .3em;
	text-decoration: none;
}
.tmSimilar a:hover
{
	background-color: rgba(255,255,0,.8);
}
.tm-similar-doc.event
{
	background-color: #a50;
}

.tm-similar-doc.tmpdoc
{
	background-color: #ca0;
	color: black;
}

.tm-similar-doc .title-line
{
	padding-left: 1em;
}

.tm-similar-doc .main-line
{
	height: 265px; 
}

#main .tm-similar-doc .dc-middle
{
}

#main .tm-similar-doc-content
{
	background-color: white;
	padding: .5em;
	overflow-y: auto;
	width: auto;
}
#main .tm-similar-doc-content img
{
	max-width: 400px;	
}

.tm-similar-doc.sameDateEvent
{ 
    border: 4px solid #fa0;
	border-radius: 8px;
	border-top-left-radius: 0;
}

.tm-similar-doc.old
{ 
    border-left: 6px solid black;
}

.tm-similar-doc.sameDateEvent
{ 
    border: 4px solid #fa0;
	border-radius: 8px;
	border-top-left-radius: 0;
}

.tm-similar-doc .status
{
	height: 2em;
	line-height: 2em;
	width: 100%;

}

.tm-similar-doc.status-published .status
{
	color: white;
}

.tm-similar-doc.status-created .status
{
    background-color:#fee;
}

.tm-similar-doc.status-waiting .status
{
    background-color:#ddf;
}


.tm-similar-doc.status-incomplete .status
{
    background-color:#dfd;
}

.tm-similar-doc.status-rejected .status
{
    background-color:#aaa;
}

.tm-similar-doc.status-rejected-shown .status
{
    background-color:#ccc;
}

.tm-similar-doc.nattention-level-2 .status
{
	color: white;
    background-color:red;
}


/* ********* text matching hdiff ******** */

.hdiff-col .hdiff-title
{
	font-size: 90%;
}

.hdiff-title>a
{
	text-decoration: none;
	display: block;
}

.hdiff-title .tmdoc-tid
{
	font-size: 70%;
	vertical-align: middle;
	margin-right: .6em;
}

.hdiff-event-date
{
	float: left;
}

.hdiff-event-place
{
	float: right;
}

.hdiff-event-info>div
{
	margin: .3em;
}

.hdiff-event-info span
{
	font-weight: bold;
}

.hdiff-col.tm_feed_import .hdiff-title
{
    background-color: $feedColor;
    color: white;
}

.hdiff-col.tm_feed_import .hdiff-title a {color: white;}

.hdiff-col.tm_mail_import .hdiff-title
{
    background-color: $mailColor;
    color: black;
}

.hdiff-col.tm_mail_import .hdiff-title a { color: black; }

.hdiff-col.tm_tmpdoc .hdiff-title
{
    background-color: #ca0;
    color: white;
}
.hdiff-col.tm_tmpdoc .hdiff-title a {color: white;}



/* ********* keyphrase diff ******** */

#keyphrase-diff-link
{
	position: absolute;
	right: 0;
	z-index: 10;
	padding: .2em;
	background-color: green;
	color: white;
	text-decoration: none;
}

#keyphrases
{

}
#keyphrases td
{
	padding: 1em;
	vertical-align: top;
}


.show-keyphrases #keyphrases
{
	display: block;
}

/* ********* stats ******** */

table#stats td{border-right: 1px solid black;padding-right: 2px;}
.stats-bar {border: none;padding: 0;}
.stats-bar div {background-color: red;}
