
.tmInfo
{
    text-align: right;
    display: block;
}

.tmInfo .similar-docs-link
{
	text-decoration: none;
	color: black;
}
.tmInfo .similar-docs-link:hover
{
	background-color: #ff0;
}


.tmInfo span.tmMatch
{ 
	display: inline-block;
    margin-right: .5em;
	height: 20px;
	line-height: 20px;
}

.tmInfo span.tmMatch>.accuracy
{ 
	display: inline-block;
	padding: 0 .2em;
	height: 20px;	
	line-height: 20px;
}

.tmInfo span.tmMatch>.diff
{ 
	display: inline-block;
	padding: 0 .2em;
	height: 20px;
}

.tmInfo span.tmMatch
{
    white-space: nowrap;
}
.tmInfo span.tmMatch>a
{
    text-decoration: none;
}
#wrap .tmInfo span.tmMatch>a:hover
{
    background-color: #ff0;
}

.tmInfo span.tmMatch.status-published .diff
{
	color: white;
}

.tmInfo span.tmMatch.status-created .diff
{
    background-color:#fee;
}

.tmInfo span.tmMatch.status-waiting .diff
{
    background-color:#ddf;
}


.tmInfo span.tmMatch.status-incomplete .diff
{
    background-color:#dfd;
}

.tmInfo span.tmMatch.status-rejected .diff
{
    background-color:#aaa;
}

.tmInfo span.tmMatch.status-rejected-shown .diff
{
    background-color:#ccc;
}

.tmInfo span.tmMatch.nattention-level-2 .diff
{
	color: white;
    background-color:red;
}


.tmInfo .tm_event
{
    background-color: $tmDocEvent;
    color: white;
}
.tmInfo .tm_event a { color: white; }

.tmInfo .tm_feed_import
{
    background-color: $feedColor;
    color: white;
}
.tmInfo .tm_feed_import a {color: white;}


.tmInfo .tm_mail_import
{
    background-color: $mailColor;
    color: black;
}
.tmInfo .tm_mail_import a { color: black; }


.tmInfo .tm_tmpdoc
{
    background-color: #ca0;
    color: white;
}
.tmInfo .tm_tmpdoc a { color: white; }

.tmInfo span.tmMatch.old
{ 
    border-bottom: 3px solid black;
    padding-bottom: 0px;
}

.tmInfo span.tmMatch.unpublished
{ 
/*    border-bottom: 4px solid #0f0 !important; */
    padding-bottom: 0px;
}

.tmInfo span.tmMatch.sameDateEvent
{ 
    border: 4px solid #fa0;
	border-radius: 8px;
	box-shadow: 0 0 1px 2px rgba(255,255,255,1);
	margin-top: 1px;
	margin-bottom: 1px;
}
