em.demosphere_timestamp
{
	background-color:#fa0;
	color: #00f;
	border: 1px solid white;
	font-style : inherit;
	cursor: pointer;
}

em.demosphere_timestamp:hover
{
	background-color:#f00;
}

em.demosphere_keyword
{
	background-color:#ff0;
	color: #00f;
	border: 1px solid white;
	font-style : inherit;
	font-weight:bold;
}
cite.demosphere_highlight_diff
{ 
	background-color: #faf;
	color: black;
	border: 1px solid white;
}

cite.demosphere_highlight_diff.demosphere_active,
em.demosphere_keyword.demosphere_active,
em.demosphere_timestamp.demosphere_active
{
	border: 2px dashed green;
}

/* example :
em.demosphere_keyword.demosphere_keywordgroup1
{ 
	background-color: #f0f;
}
*/

/************** events near date popup ************/

.eventsNearDatePopup
{  
	z-index:1000 !important;
	text-align: left !important;
/*    max-width: 30em;*/
	width: 820px;
	background-color:$tmDocEvent !important;
	color : black !important;
	/*display: inline ;*/
	display: block;
	top: 0em ;
	left: 0em ;
	font-size: 14px !important;
	line-height: 110% !important;
	margin-left: 9px !important;
	margin-top: 0 !important;
	padding: 3px !important;
	padding-top: 0 !important;
	font-family:Arial, Helvetica, Verdana, sans-serif !important;
	box-shadow:10px 10px 5px #888888;
	-moz-box-shadow:10px 10px 5px #888888;
	-webkit-box-shadow:10px 10px 5px #888888;
}

.eventsNearDatePopup>h1,
.eventsNearDatePopup>ul,
.eventsNearDatePopup>ul>li,
.eventsNearDatePopup>ul>li>a,
.eventsNearDatePopup>ul>li>a>strong
{
	position: static !important;
	padding: 0 !important;	
	font-size: 14px !important;
}
.eventsNearDatePopup>ul
{
	list-style-type: none;
	margin: 0 !important;
}

.eventsNearDatePopup>ul>li.eventsNearDatePopupLine
{ 
	margin: 0;
	padding: 0 4px !important;
	position: relative;
	white-space: nowrap;
}
p.eventsNearDatePopupLine.notPublished
{ 
}


.eventsNearDatePopup a
{ 
	/*display: block !important;*/
	display: inline ;
	color : black !important;
	text-decoration: none !important;
}

.eventsNearDatePopup  .deventPrivate
{
	background-color: $paletteFg;
	color: white;
	padding: 0 .2em;
}

.eventsNearDatePopup  .deventMessage 
{
	color: #600;
}

.eventsNearDatePopup a strong 
{ 
	font-weight: bold;
}
.eventsNearDatePopup a:hover
{ 
	color : #500 !important;
	text-decoration: underline !important;
}


.eventsNearDatePopup .stpCity
{ 
	font-weight: bold !important;
	position: absolute;
	right: 5px;
}

.eventsNearDatePopupTitlebar
{ 
	font-size: 16px !important;
	margin: 0em;
	line-height: 90%;
	text-align: right;
	background-color: #b73 !important;
	cursor: pointer;
}
.eventsNearDatePopupTitlebar:hover
{ 
	background-color: #d94 !important;
}


/************** events near date popup ************/
#sendUserCalMail textarea
{ 
	width:100%;
	height: 15em;
}
#sendUserCalMail input[type="text"]
{ 
	width:100%;
}

/* *********** colors for moderation status ********* */

/* craeted */
li.status-0
{
	background-color: #fee;
}

/* waiting */
li.status-1
{
	background-color: #ddf;
}

/* incomplete*/
li.status-3
{
	background-color: #dfd;
}

/* published */
li.status-4
{
	background-color: #6f6;
}

/* rejected */
li.status-6
{
	background-color: #aaa;
}

/* rejected-shown */
li.status-5
{
	background-color: #ccc;
}

/* trash */
li.status-7
{
	background-color: black;
	color: white;
}

li.status-trash a
{
	color: #aaf;
}

li.nattention-level-2
{
	background-color: #f88;
}

li.status-3.nattention-level-2 .deventTime
{
	background-color: #dfd;
	border: 1px solid #f88;
}

li.status-4.nattention-level-2 .deventTime
{
	background-color: #6f6;
	border: 1px solid #f88;
}
