/* ******* place merge and variants ***** */

.place-admin-help
{
	font-style: italic;
	color: #555;
	font-size: 14px;
}

.place-diff-list
{
	border-collapse:collapse;
} 

.place-diff-list tr.first
{
	font-weight: bold;
	background-color: rgba(255,255,255,.3);
}

.place-diff-list tr.hidden
{
	background-color: #aaa;
}
#main .place-diff-list tr:hover
{
	background-color:#ddf;
} 

.place-diff-list td
{
	vertical-align: top;
	padding: 0 .2em;
} 

#place-variants td:nth-child(3),
#place-variants td:nth-child(4)
{
	text-align: right;
}

#place-merge td:nth-child(2),
#place-merge td:nth-child(3),
#place-merge td:nth-child(4)
{
	text-align: right;
}

.place-diff-list tr.nearby td:nth-child(2)
{
	background-color:rgba(0,255,0,.5);
} 

.mapdiff
{
	color: red;
}

.place-diff-list .smalldiff
{
	color: #800;
}
.place-diff-list .bigdiff
{
	color: red;
	font-weight: bold;
}

/* ******* proximity ***** */

#proximity tr:hover
{
	background-color: rgba(255,255,255,.5);
}
