
h1
{ 
	font-size: 20px;    
	color: $paletteText;
}
.form-item
{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

#content .form-item-textfield label
{
	display: inline-block;
	min-width: 250px;
}
.form-text
{
	width: 280px;
}
.form-select
{ 
	position: absolute;
	left: 290px;
	top: 0px;
	width: 280px;
}
.description
{
	margin-top: 10px;
	color: #4d4d4d;
	font-style: italic;
	width: 430px;
	font-size: 13px;
}

.mobile .description
{
	width: auto;
}

#edit-active-wrapper
{
	border: none;
	margin-bottom: 0;
}

#edit-options1
{
	margin-top: 1em;
}

.form-item:last-child
{ 
	border: none;
}


#near-lat-lng-formitems .form-item
{
	max-width: 550px;
}

#near-lat-lng-formitems .form-text
{
	width: 200px;
}

#edit-near-lat-lng-distance-wrapper span.mapcircle-distance-buttons 
{
}

.mobile #near-lat-lng-map-wrapper
{
	position: static;
}

.inactive a
{
	color: grey;
}

#last-time-sent
{ 
	text-align: right;    
	font-style: italic;
}

#change-my-email-address
{
	margin-top: 0;
}

