/******* gmap circle ***** */

.mapcircle-distance-buttons a
{ 
	display: inline-block;
	width: 13px;
	/*height: 13px;*/
	background-color: white;
	border: 1px outset #aaa;
	color: black;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	padding: 0;
}

.mapcircle-distance-buttons a:hover
{
	background-color: #fee;	
}

/******* map-shape : named shape (ex: polygon) *****/

#map-shape-popup-container
{
	position: absolute; /* only to avoid line break on fp */
}
.map-shape-popup
{
	position: absolute;
	width: 600px;
	background-color: @@darken(@@mix($paletteBg,$paletteBg2,50),5);
	padding: 0px;
	border: 1px solid black;
	z-index: 10;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.map-shape-popup p
{
	margin: 0;
	text-align: right;
}
.map-shape-popup .popup-close
{
	float: right;
	padding: 7px;
	text-decoration: none;
}

.map-shape-popup object
{
	width: 550px;
}

/******* map : point near lat lng *****/

#near-lat-lng-map
{ 
	width: 300px;
	height: 300px;
}

#near-lat-lng
{ 
	position: relative;
}

#near-lat-lng.disabled label
{ 
	color: grey;
}
#near-lat-lng.disabled .description
{ 
	color: grey;
}

#near-lat-lng.disabled #edit-near-lat-lng-use-map-wrapper label
{ 
	color: black;
}

#near-lat-lng-map-wrapper
{
	position: absolute;
	right: 0px;
	z-index: 10;
}

#edit-map-latitude-and-longitude-wrapper
{
	padding-bottom: 25px;
}

#near-lat-lng
{ 
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

#near-lat-lng-disabled
{
	cursor: pointer;
	background-color: #ccc;
	color: #666;
	text-align: center;
	width: 300px;
	height: 300px;
	line-height: 300px;
	margin: 0;
}

#near-lat-lng #near-lat-lng-disabled
{
	display: none;
}
#near-lat-lng.disabled #near-lat-lng-disabled
{
	display: block;
}
#near-lat-lng.disabled #near-lat-lng-map
{
	display: none;
}

#near-lat-lng .mapcircle-distance-buttons
{
}

#near-lat-lng.disabled .mapcircle-distance-buttons a
{
	background-color: #ccc;
	color: #aaa;
}
#near-lat-lng.disabled .mapcircle-distance-buttons a:hover
{
	background-color: #ccc;
}

#near-lat-lng-and-city-warning
{
	font-style: italic;
	color: #a66;
	margin-top: 1em;
}

/******* more options collapsible  *****/

#more-options
{
	padding-bottom: 3px;
	border-bottom: 1px solid #eee;
} 
#more-options-content 
{
	margin-left: 1em;
}

#edit-select-vocab-term-or-wrapper.no-vocabs,
#edit-select-vocab-term-wrapper.no-vocabs
{
	display: none;
}