
.dcal h3
{
	font-family: sans-serif;
	background-color: $paletteFg;
	color: white;
	margin-bottom: 0;
	margin-top: 0;
	padding: .1em 0;
	padding-left: .3em;
}

.day-events
{
	width: 100%;
	list-style-type:none;
	padding: 0;
	word-wrap:break-word;
	margin-top: 0;
	margin-bottom: 0;
}

.day-events a
{
	text-decoration: none;
	color: black;
	display: block;
}

.day-events a:visited
{
	color: #113;
}

.dcal li
{
	margin: 0;
	padding: .2em 0;
	background-color: white;
}

.dcal li:nth-child(even)
{
	background-color: #f9f4f3;
	border-top:    1px solid #e9e4e3;
	border-bottom: 1px solid #e9e4e3;
}

.dcal li.contributor
{
	background-color: #f88;
}

.dcal li.rejected
{
	background-color: #666;
}

.dcal li.rejected span,
.dcal li.rejected a
{
	color: white;
}

.dcal .c1
{
	color: #311;
	padding-left: 2px;
}

.dcal .c3
{
	color: #311;
	padding-left: 2px;
}

.dcal .c2
{
	display: block;
	margin-left: .5em;
	font-size: 80%;
	line-height: 1.1em;
}

/* Topic COL */

.dcal .c0
{ 
	content: '';
	float: right;
	vertical-align: bottom;
	position: relative;
	bottom: 1px;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: @@sprite_width(  'topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite("topic-chart.svg",'mobile.png'));
	background-position: 10000px 10000px;
	background-repeat: no-repeat;
	margin-right: 2px;
}

<?foreach($topicIcons as $tid=>$name){?>
.dcal .t$tid .c0
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>

/* small dayrank Icon */
.dcal .cx
{
	float: right;
	position: relative;
	top: 2px;
	margin-right: 3px;
	display: block;
	width:  @@sprite_width('fp-dayrank1.svg','mobile.png')px;
	height: @@sprite_height('fp-dayrank1.svg','mobile.png')px;
	padding: 0px;
}

.dcal .dr1 .cx
{ 
	background-position: @@sprite_bgpos('fp-dayrank1.svg','mobile.png');
	background-image: url(@@sprite('fp-dayrank1.svg','mobile.png'));
}
.dcal .dr2 .cx
{ 
	background-position: @@sprite_bgpos('fp-dayrank2.svg','mobile.png');
	background-image: url(@@sprite('fp-dayrank1.svg','mobile.png'));
}

/* Month line */

.month-line
{
	font-size:28px;
	font-weight:bold;
	margin:.8em 0 .8em 0;
	padding:3px;
	padding-right:37px;
	text-align:center;

	<? $monthBg=$isLightBg ?  @@desaturate($paletteBg2,20) : @@mix($paletteBg,'#fff',90) ?>
	<? $monthFg=$isLightBg ?  @@mix($paletteFg,$paletteBg,50) : '#fff' ?>
	color: $monthFg;

	background-color: $monthBg;

	@@linear_gradient("to bottom",'rgba(255,255,255,.4)','1%','rgba(255,255,255,0)','20%',true);

	-moz-box-shadow:    2px 3px 3px #555;
	-webkit-box-shadow: 2px 3px 3px #555;
	box-shadow:			2px 3px 3px #555;


	position: relative;
}

.month-line span,
.month-line a.ret
{
	color: @@mix($monthFg,$monthBg,20);
}

.month-line span
{
	position: absolute;
	right: 20px;
}

.month-line a.ret
{ 
	text-decoration: none;
	position: absolute;
	left: 20px;
}

.month-line a.ret:hover
{ 
	color: #fff;
}

