/* Main html contents displayed in events, posts, places... */

#content .stdHtmlContent
{
	padding: 18px;
	padding-top: 13px;
	width: 960px;
	margin: 0;
	border: 2px solid $paletteFg;
	background-color: #fff;
	position: relative;

	-moz-border-radius: 23px;
	-webkit-border-radius: 23px;
	border-radius: 23px;
}

.mobile #content .stdHtmlContent
{
	padding: 0;
	padding-bottom: 1em;
	width: auto;
	border-radius: 0;
	border: none;
}

.mobile #content .post.stdHtmlContent
{
	padding-top: .5em;
	padding-bottom: 1em;
}

#content .stdHtmlContent.not-published
{
	background-color: #fdd;
}

h1#topTitle
{ 
	font-size: 20px;
	color: $paletteText;
	font-weight: bold;
}

.mobile .post h1#topTitle
{
	margin-left: .4em;
	margin-right: .4em;
}

#htmlView
{ 
	width: 576px;
	font-size: 15px;
	font-family: arial,sans-serif;
	position: relative;
	text-align: justify;
	/* word-break: break-all;*/
/*	word-break-inside: hyphenate;*/
	word-wrap: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mobile #htmlView
{
	padding: 0 .5em;
	width: auto;
	font-family: serif;
	font-size: medium;
	text-align: left;
}

#htmlView a
{
	text-decoration: none;
}

.mobile #htmlView .feed-public-list>span
{
	display: block;
	padding: .3em;
}

#htmlView a:hover
{
	text-decoration: underline;
}

#htmlView h2,
#htmlView h3,
#htmlView h4
{
	color: $paletteText;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;

	position: relative;
	left: -4px;
}

.mobile #htmlView h2,
.mobile #htmlView h3,
.mobile #htmlView h4
{
	position: static;
	left: 0;
	margin-left: 2px;
}

#htmlView h2 a,
#htmlView h3 a,
#htmlView h4 a
{
	color: inherit;
	text-decoration: underline;
}

#htmlView h2 a:hover,
#htmlView h3 a:hover,
#htmlView h4 a:hover
{
	text-decoration: none;
	color: @@darken($paletteText,35);	
}

#htmlView h2
{ 
	font-size: 19px;
	font-weight: bold;
}

#htmlView h3
{ 
	font-size: 17px;
}

#htmlView p
{
	margin-left: 4px;
}

#htmlView ul
{
	padding-left: 40px;
}
#htmlView ul ul
{
	padding-left: 20px;
}

.mobile #htmlView ul
{
	padding-left: 25px;	
}

#htmlView .openingBlock
{ 
	margin-top: 8px;
}
#htmlView .closingBlock
{ 
	margin-bottom: 10px;
}
#htmlView .lastPart .closingBlock
{ 
	margin-bottom: 0px;
}

#htmlView .textNav
{
	position: absolute;
	top: -8px;
	right: 0px;
	padding-left: 4px;
	padding-right: 4px;
	color: #aaa;
	background-color: white;
	font-size: 11px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#htmlView .textNav a
{
	color: #aaa;
	border: 1px solid #aaa;
	text-decoration: none;
	padding-right: 1px;
	padding-left: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.mobile #htmlView .textNav a
{
	padding: .4em;
}

#htmlView .textNav a:hover 
{
	border-color: $paletteText; 
}

#htmlView .textNav a.anchor
{ 
	font-weight: bold;
	border: none;
}

#htmlView #textPart0:not(.lastPart)
{
	margin-top: 2em; /* make room for .textNav */
}

.mobile #textPart0
{
	padding-top: 1em;
}

.mobile #htmlView #textPart0:not(.lastPart)
{
	margin-top: 1em; /* make room for .textNav */
}

#htmlView #textPart0 .textNav
{ 
	top: -20px;
}

.mobile #htmlView #textPart0 .textNav
{
	top: -5px;
}

.mobile #htmlView #textPart0.lastPart
{
	top: 0px;
	padding-top: .5em;
}


#htmlView .textPart
{ 
	position: relative;
}

.mobile #htmlView img
{
	max-width: 100%;
	height: auto;
}

/* *** Image zoom */
#image-zoom-hover
{
	display: none;
	position: absolute;
	font-family: sans-serif;
	z-index: 5;
	-moz-box-shadow: #000 5px 4px 5px;
	-webkit-box-shadow: #000 5px 4px 5px;
	background-color: #aaa;
	padding: .3em;
	border: 1px solid #444;
	color: black;
	cursor: pointer;
}
#image-zoom-button
{
	padding: .2em;
}

#image-zoom-button:hover
{
	background-color: white;
}

#image-zoom-link
{
	display: none;
	margin-left: 1em;
	padding: .3em;
}

#image-zoom-button a:hover
{
	background-color: #ddd;
	color: @@lighten($paletteText,15);
}
#image-zoom-popup
{
	display: none;
	position: absolute;
	font-family: sans-serif;
	z-index: 20;
	left:0;
	width: 100%;
	text-align: center;
}
#image-zoom-popup div
{
	padding: 10px;
	display: inline-block;
	-moz-box-shadow: #000 5px 4px 5px;
	-webkit-box-shadow: #000 5px 4px 5px;
	border: 2px solid $paletteFg;
	background-color: #aaa;
	padding: 10px;
	cursor: zoom-out;
}

#image-zoom-popup div img
{
	background-color: white;
}

#htmlView .zoomableImage
{
	cursor: zoom-in;
}



/* for use in tinymce styles menu */
#htmlView .floatLeft
{ 
	float: left;
	padding-right: .3em;
	padding-bottom: .3em;
}

/* for use in tinymce styles menu */
#htmlView .floatRight
{ 
	float: right;
	clear: right;
	position: absolute;
	left: 597px;
	z-index: 0;
	max-width: 370px;
}
.mobile #htmlView .floatRight
{
	position: static;
	display: block;
	float: none;
	max-width: 100%;
	width: auto;
	height: auto;
	top: auto;
	left: auto;
}
#htmlView p.floatRight
{
	margin: 0; /* needed for paragraphs */
	width:360px;
	height: 220px; /* needed for text paragraphs () */
}

#htmlView p.composite-doc-container .composite-doc
{
	position: relative;
	display: inline-block;
}

#htmlView p.composite-doc-container .composite-doc img
{
	vertical-align: top;
}

#htmlView p.composite-doc-container.doc-type-pdf .composite-doc::after
{
	position: absolute;
	display: block;
	top: -13px;
	right: -5px;;
	content: '';
	width: @@sprite_width('pdf-24.png')px;
	height: @@sprite_height('pdf-24.png')px;
	background-image: url(@@sprite('pdf-24.png','page.png'));
	background-position: @@sprite_bgpos('pdf-24.png','page.png');
}

.mobile #htmlView p.composite-doc-container.doc-type-pdf .composite-doc::after
{
	background-image: url(@@sprite('pdf-24.png','mobile.png'));
	background-position: @@sprite_bgpos('pdf-24.png','mobile.png');
}

@media all and (max-width: 400px)
{
	#htmlView p.composite-doc-container.doc-type-pdf .composite-doc
	{
		display: inline;
	}
}

#htmlView p.floatRight.composite-doc-container
{
	height: auto;
}

#htmlView img.pdfPage
{  
	border: 1px solid #aaa;
}

.mobile #htmlView img.pdfPage
{
	position: relative;
	left: -1px; /* tiny fix: compensates border */
}

#htmlView hr
{
	margin: 1em 0; /* make room for textNavs */
}

#htmlView hr.subsection
{ 
	width: 30%;
	margin: .5em auto;
}
