/* common.css : style common to all pages, including frontpage and mobile */

/* html5 tags for very old browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display:block;
}


@font-face 
{
	font-family: Delicious;
	font-display: swap;
	src: url('images/Delicious-Italic.cache-000000.woff');
	font-style: italic;
}

body,html
{
	margin:0;
	padding:0;
	background-color: #ccc;/* body-tag: (do not delete this) */     
	color: black;
}

body 
{
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

body.notFullWidth
{
	min-width:1000px;
}

body.not-mobile
{
	font-size: 16px;
}

body.mobile
{
	font-size: medium;
}

#wrap 
{
	background-color: $paletteBg;
	position: relative;
}

body.notFullWidth #wrap
{
	width: 1000px;
	margin:0 auto;
}

body.fullWidth #wrap
{ 
	width: inherit;
	margin: 0;
}


/* IE */
a > img
{
    border: 0;
}

.page-title
{
	margin-top: 0; /* margin overflow on top can break tabs */
	padding-top: .6em; 
	margin-bottom: .5em;
	font-size: 130%;
}
body.unPaddedContent .page-title
{
	margin-left: .5em;
}
