#page-title
{
	margin: 0;
	margin-bottom: .5em;
	font-size: 19px;
	text-align: center;
}

#carpool-not-enabled
{
	color: red;
}

/************* top destination block *********/

#destination
{
	position: relative;
	background-color: #fff;
	box-shadow: 2px 2px 1px #333;
	min-height: 175px;
	overflow: hidden;
}

#destination h3
{
	display: inline;
	margin: 0;
	margin-left: .3em;
}

#event-title
{
	display: inline;
	font-style: italic;
	margin-left: 20px;
	margin-top: 2px;
}
#event-title a
{
	text-decoration: none;
	color: #555;
}
#event-title a:hover
{
	text-decoration: underline;
}
#destination
{
	padding-top: .5em;
}

#destination .centered
{
	display: flex;
	flex-wrap: wrap ;
	justify-content: center;
	margin-top: .5em;
}

#destination .left
{
	width: 420px;
}

#date
{
	clear: both;
	font-size: 20px;
}

#date span
{
	position: relative;
	left: -10px;
	display: block;
	font-size: 14px;	
}

#address
{
	position: relative;
	margin-top: 10px;
	height: 85px;
	overflow: hidden;
	background-color: #eee;
	width: 400px;
	padding: 5px;
	overflow-y: auto;
}

#map
{
	margin-bottom: 5px;
}

#map a img
{
	border: none;
}

/************* list of carpools *********/

.carpool-list
{
	margin-top: 30px;
	width: 100%;
	border-collapse: collapse;
}

.carpool
{
	margin-bottom: 20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 4px;
}

/* ugly hack for space between 2 lines */
.spacer-line
{
	height: 15px;
}

.carpool>td
{
	background-color: white;
	vertical-align: top;
	white-space: nowrap;
	padding: .3em .4em;
	max-width: 400px;
}

.carpool>td:first-child
{
	-moz-border-radius-topleft: 15px;
	border-top-left-radius:    15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

.carpool>td:last-child
{
	-moz-border-radius-topright: 15px;
	border-top-right-radius:    15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

/* text that can be wrapped */
.carpool .carpool-name,
.carpool .carpool-contact,
.carpool .carpool-from,
.carpool .carpool-comment
{
	white-space: normal;
	word-wrap: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto; 
	-ms-hyphens: auto;
	hyphens: auto;
}

.carpool .carpool-driver,
.carpool .carpool-roundtrip,
.carpool .carpool-controls
{
	vertical-align: middle;
}

.carpool .label
{
	color: #aaa;
	white-space: nowrap;	
}

.carpool .carpool-driver
{
	text-align: center;
	width: 70px;
	padding: 0;
}

.carpool .driver-label
{
	min-width: 20px;
	background-image: url(@@svg_to_png('images/carpool.svg'));
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	font-size: 11px;
	color: #666;
	padding-top: 24px;
	margin-left: 4px;
	display: inline-block;
}
.carpool.passenger .driver-label
{
	background-image: url(@@svg_to_png('images/carpool-passenger.svg'));
}

.carpool .carpool-name-and-contact
{
	min-width: 6em;
	max-width: 300px;
}
.has-time .carpool-from
{
	padding-top: .3em;
}

.carpool .carpool-roundtrip
{
	text-align: center;
}

.carpool .carpool-controls 
{
	width: 43px;
	padding-left: 8px;
}

.carpool .carpool-controls a
{
	background-image: url(@@file('images/edit.png'));
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 11px;
	color: #666;
	padding-top: 20px;
	text-decoration: none;
	display: inline-block;
	padding-right: 5px;
}
.carpool .carpool-controls a:hover
{
	background-color: yellow;
}

@media all and (max-width: 800px)
{
#map
{
	display: none;
}
#destination .left
{
	width: 100%;
	margin-left: 1.5em;
}

}

@media all and (max-width: 700px)
{
.carpool-list .carpool
{
	background-color: white;
	display: block;
}
.carpool-list .carpool td
{
	display: block;
}
.carpool-list .carpool .carpool-driver,
.carpool-list .carpool .carpool-name-and-contact
{
	display: inline-block;
}

.carpool-list .carpool .label
{
	margin-right: .5em;
}

.carpool-list .carpool .carpool-name br
{
	display: none;
}

.carpool-list .carpool .carpool-from br
{
	display: none;
}

.carpool-list .carpool .carpool-roundtrip 
{
	font-style: italic;
}

.carpool-list .carpool .carpool-roundtrip br
{
	display: none;
}

}

/********** button line ***************/

#button-line-message
{
	margin-top: 15px;
}

#button-line-message>span
{
	font-size: 17px;
	font-style: italic;
}

#new-carpool-button-line
{
	text-align: center;
}
#new-carpool-driver-button
{
	margin-right: 3em;
}

#new-carpool-button-line .big-button
{
	padding-left: 50px;
	background-repeat: no-repeat;
	background-position: 15px center;

}

#new-carpool-driver-button
{
	background-image: url(@@svg_to_png('images/carpool.svg',
									   ['png_fname'=>'carpool-white.png',
										'level_colors'=>'white,transparent']));
}

#new-carpool-passenger-button
{
	background-image: url(@@svg_to_png('images/carpool-passenger.svg',
									   ['png_fname'=>'carpool-passenger-white.png',
										'level_colors'=>'white,transparent']));
}

#new-carpool-button-line .big-button .plus:before
{
	content: "+";
}
#new-carpool-button-line .big-button .plus
{
	color: white;
	margin-left: 7px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #555;
	vertical-align: middle;
}


/********** Carpool form ***************/

#Carpool .form-item label
{
	display: inline-block;
	min-width: 150px;
	vertical-align: top;
}

#Carpool .form-text,
#Carpool .form-item textarea
{
	width: 300px;
}

#Carpool .form-item.hidden
{
	display: none;
}

#Carpool .form-item .description
{
	color: #555;
	font-style: italic;
}

#Carpool #top-message
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 35px;
	line-height: 24px;
	min-height: 24px;
	margin-top: 10px;
}

#Carpool #top-message.driver
{
	background-image: url(@@svg_to_png('images/carpool.svg'));
}

#Carpool #top-message.passenger
{
	background-image: url(@@svg_to_png('images/carpool-passenger.svg'));
}

#contact-and-hide-wrapper
{
	position: relative;
}

#contact-and-hide-wrapper
{
	position: relative;
}

#edit-hideEmail-wrapper
{
	position: absolute;
	top: 0;
	left: 480px;
	margin: 0;
}

#time-wrapper
{
	position: relative;
}

#edit-minute-wrapper
{
	position: absolute;
	top: 0;
	left: 250px;
	margin: 0;
}
#edit-day-wrapper
{
	position: absolute;
	top: 0;
	left: 380px;
	margin: 0;
}

#Carpool .form-submit-buttons
{
	margin-top: 1em;	
}


#Carpool #edit-save-wrapper
{
	margin-right: 2em;
}

/********** Carpool contact form ***************/

#carpool-contact-form .form-text,
#carpool-contact-form .form-item textarea
{
	width: 500px;
}

#carpool-contact-form .form-item .description
{
	color: #555;
	font-style: italic;
}

