
.page-path-extra
{ 
	margin-left: 3em;
	width: 50%;
}
.page-path-extra .description
{
	font-size: 0.85em;
}
.page-path-extra label
{
	display: block;
	margin-bottom: .5em;
}


#main-config-menu-link
{ 
	position: absolute;
	margin: 0 1em;
	font-size: 12px;
}

#submit-reminder
{
	text-align: right;
	color: @@darken($paletteBg2,30);
	margin-right: 1em;
}
#edit-submit
{
	margin: 2em;
}
.right-column
{ 
	width: 400px;
	display:inline-block;
	vertical-align:top;
	margin-top: 1.3em;
	margin-left: 1em;
	margin-bottom: .6em;
}

.example
{  
	color: #0af;
}

.default-value
{  
	color: $paletteText;
}

.form-item
{ 
	width: 600px;
	display:inline-block;
	vertical-align:top;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0;
}
.form-item-wrapper
{  
	border-top: 1px solid #ccc;
}
.form-item-wrapper.level-1
{ 
	background-color: @@darken($paletteBg2,10);
}
.form-item-wrapper.level-2
{ 
	background-color: @@darken($paletteBg2,25);
}
.form-item-wrapper.fragment-selected
{  
	background-color: #ff0;
}
.section-heading
{ 
	color: $paletteText;
	padding-left: 10px;
	padding-right: 10px;
}
.level-message
{ 
	color: #444;
	font-size: 12px;
	text-align: right;
}
.level-message span
{ 
	margin-right: .5em;
	font-size: 13px;
	font-weight: bold;
}

input[type=text],
input[type=password]
{ 
	width: 100%;
}

#edit-email-footer
{  
	font-size: 12px;
}

#edit-emails-wrapper .aofa-table
{ 
	width: 1000px;
}



#frontpage-infoboxes-example
{ 
	font-size: 12px;
}
#frontpage-infoboxes-example td
{ 
	white-space: nowrap;
	border: 1px solid #aaa;
}

#frontpage-regions-example th,
#frontpage-regions-example td
{ 
	border: 1px solid #aaa;
}

.default-array th,
.default-array td
{ 
	border: 1px solid #aaa;
}


.form-item-wrapper.emails .right-column
{ 
	display: block;
}
.form-item-wrapper.emails .default-array 
{
	width: 1000px;
}
.form-item-wrapper.emails .default-array td:nth-child(3)
{ 
	white-space: pre;
}

.form-item-wrapper.item-type-word_list .default-value,
.form-item-wrapper.item-type-word_list .example
{ 
	word-wrap: break-word;
}

.form-item-wrapper.gmap_key .example,
.form-item-wrapper.gmap_key .default-value
{ 
	word-wrap: break-word;
}

.item-anchor
{
	text-decoration: none;
	color: black;
	position: absolute;
}


#color-presets
{
	color: black;
	text-shadow: 0 0 2px white;
}

#color-presets option
{
	border-right: 60px solid white;
	border-left: 60px solid white;
	padding: 5px;
}

