#send-by-email-form
{ 
	position: relative;
}

h2.send-by-email
{ 
	color: #700;
}

#send-by-email-required-inputs
{ 
	background-color:  #f1bc88;
	padding: .5em; 
}

.form-required
{ 
	display: none;
}

#edit-recipients-wrapper label,
#edit-sender-email-wrapper label,
#edit-sender-name-wrapper label,
#edit-message-wrapper label
{ 
	position: absolute;
	left: .5em;
} 
.mobile #edit-recipients-wrapper label,
.mobile #edit-sender-email-wrapper label,
.mobile #edit-sender-name-wrapper label,
.mobile #edit-message-wrapper label
{
	position: static;
}

#edit-recipients,
#edit-sender-email,
#edit-sender-name
{ 
	display: block;
	margin-left: 220px;
	width: 450px;
}
.mobile #edit-recipients, 
.mobile #edit-sender-email, 
.mobile #edit-sender-name
{
	width: 90%;
	margin-left: 0;
}

#edit-recipients,
#edit-sender-email,
#edit-sender-name,
#edit-message
{ 
	font-size: 100%;
}


#edit-sender-email-wrapper 
{ 
	margin-bottom: .5em;
}

#send-by-email-optional
{
	margin-top:2em;
	margin-left:.5em;
}


textarea#edit-message
{ 
	height: 4em;
	width: 450px;
}
.mobile .resizable-textarea
{
	margin-left: 0;
	width: 90%;
}
.mobile textarea#edit-message
{
	width: 90%;
	margin-left: 0;
}

#edit-message-wrapper
{
	margin-bottom: 3em;
}

#edit-message
{ 
	margin-left: 220px;
	width: 30em;
}

#example-title
{ 
	margin-left: .5em;
	font-size: 100%;
}

.mobile #example-title
{
	display: none;
}

.form-item #fcontainer
{ 
	margin-top: 1em;
}
.mobile #fcontainer
{
	display: none;
}

#send-by-email-private
{ 
	font-size: 70%;
}

.mobile #send-by-email-form #edit-submit1
{
	margin-bottom: 1em;
}

