/* *************** user view page (profile) *********** */

#user-sections
{
	display: flex;
	flex-wrap: wrap;
}

.supports-flex-wrap-no #user-sections
{
	display: block;
}

.user-section 
{
	background-color: @@lighten($paletteBg2,5);
	padding: 1em;
	margin: 1em;
	width: 420px;
}

@media all and (max-width: 480px)
{
	.user-section 
	{
		margin: .7em 0;
		padding: 1em .4em;
		width: 100%;
	}
}

.user-section h3
{
	margin-top: 0;
	margin-bottom: .2em;
}

.user-section ul
{
	padding-left: 1.2em;
}

.user-section .description
{
	font-style: italic;
	color: #666;
	margin-top: .3em;
	margin-bottom: .3em;
}

#wrap .user-section .button
{
	margin-right: 0em;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	white-space:nowrap;
	padding: .1em .7em;
	border:1px solid #268a16;

}

.user-section .big-button
{
	float: right;
	margin-left: .5em;
	margin-bottom: .5em;
}

.user-section>h3
{
	margin-bottom: .4em;
}

.user-section>h3>span
{
	display: inline-block;
	vertical-align: top;
	opacity: .4;
	margin-right: .5em;
	position: relative;
	top: -2px;
}


/* ***************  user view page (profile) : specific parts *********** */

#user-data-toggle:hover
{
	background-color: #ffa;
	cursor: pointer;
}

#user-data
{
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	padding: .5em;
	z-index: 3;
}


#my-events-table td,
#events-for-opinions td
{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	max-width: 350px;
}

#my-events-table td:first-child,
#events-for-opinions td:first-child
{
	padding-right: .5em;
	overflow: visible;
}

#my-repetitions,
#my-comments ul
{
	padding-left: .5em;
}

#my-repetitions li,
#my-comments li
{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	list-style-position:inside;
}

#my-comments ul
{
}


#my-opinions-list td
{
	padding: 0 .3em;
}

#my-opinions-list .rating
{
	text-align: right;
}

#my-opinions-list .title 
{
	white-space: nowrap;
	max-width: 350px;
	text-overflow:ellipsis;
	overflow: hidden;
}

/* section icons */

#personal-info.user-section>h3>span
{
	width: @@sprite_width('person.svg')px;
	height: @@sprite_height('person.svg')px;
	background-image: url(@@sprite('person.svg'));
	background-position: @@sprite_bgpos('person.svg');
}

#email-subscriptions.user-section>h3>span
{
	width: @@sprite_width('mail.svg')px;
	height: @@sprite_height('mail.svg')px;
	background-image: url(@@sprite('mail.svg'));
	background-position: @@sprite_bgpos('mail.svg');
}

#my-events.user-section>h3>span
{
	width: @@sprite_width('event.svg')px;
	height: @@sprite_height('event.svg')px;
	background-image: url(@@sprite('event.svg'));
	background-position: @@sprite_bgpos('event.svg');
}

#my-comments.user-section>h3>span
{
	width: @@sprite_width('comment.svg')px;
	height: @@sprite_height('comment.svg')px;
	background-image: url(@@sprite('comment.svg'));
	background-position: @@sprite_bgpos('comment.svg');
}

#on-my-website.user-section>h3>span
{
	width: @@sprite_width('internet.svg')px;
	height: @@sprite_height('internet.svg')px;
	background-image: url(@@sprite('internet.svg'));
	background-position: @@sprite_bgpos('internet.svg');
}

#my-calendar.user-section>h3>span
{
	width: @@sprite_width('personal-calendar.svg')px;
	height: @@sprite_height('personal-calendar.svg')px;
	background-image: url(@@sprite('personal-calendar.svg'));
	background-position: @@sprite_bgpos('personal-calendar.svg');
}

#my-opinions.user-section>h3>span
{
	width: @@sprite_width('opinion.svg')px;
	height: @@sprite_height('opinion.svg')px;
	background-image: url(@@sprite('opinion.svg'));
	background-position: @@sprite_bgpos('opinion.svg');
}

/* *************** smore (button to show/hide more lines) *********** */

.smore-line
{
	display:none;
}

.smore-wrap
{
	position: relative;
}

table.has-smore
{
	margin-bottom: 1em;
}

ul.has-smore
{
	margin-bottom: 1.5em;
}

.smore-button
{
	position: absolute;
	line-height: 6px;
}

.smore-button.smore-shown
{
	opacity: .5;
}

.smore-button::before
{
	content: "...";
	position: relative;
	top: -3px;
}

/* *************** user edit page (profile and user/add) *********** */

#edit-bogus-login-wrapper
{
	display: none;
}
#edit-bogus-password-wrapper
{
	display: none;
}

/* *************** User add page (dbobject-ui) *********** */

#User.dbobject-ui-edit #edit-login,
#User.dbobject-ui-edit #edit-password,
#User.dbobject-ui-edit #edit-email
{
	width: 400px;
}

/* *************** login and register form *********** */

#login-and-register .section
{
	padding: 5px;
	width: 400px;
	margin-left: 20px;
}

.mobile #login-and-register .section
{
	width: auto;
	margin-left: 0px;
}


body #login-and-register .form-item label
{
	display: inline-block;
	min-width: 180px;
}

#login-and-register .form-item input
{
	width : 190px;
}

#login-and-register .form-submit-buttons
{
	text-align: right;
}

#login-and-register .form-submit-buttons input
{
	width : auto;
}

.register-only #login-section
{
	display: none;
}

.login-only #register
{
	display: none;
}

#login-section
{
	background-color: @@lighten($paletteBg2,5);
	margin-top: 20px;
	font-size: 16px;
}

#edit-bogus-register-email-wrapper
{
	display: none;
}
#edit-bogus-register-password-wrapper
{
	display: none;
}

#edit-password-wrapper .description
{
	margin-left: 180px;
}

.mobile #edit-password-wrapper .description
{
	margin-left: 0px;
}


#edit-password-wrapper .description a
{
	color: $paletteFg;
}


#register
{
	background-color: @@mix($paletteBg2,$paletteFg,80);
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 16px;
}

h2
{
	font-size: 18px;
	margin-top: 0;
	color: $paletteFg;
}


