/* http://www.cssbuttongenerator.com/ */

/********* big button defaults to green *************/

.big-button
{
	-moz-border-radius:29px;
	-webkit-border-radius:29px;
	border-radius:29px;
	border:1px solid #d83526;
	display:inline-block;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	cursor: pointer;

	-webkit-touch-callout: none;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.big-button::-moz-focus-inner 
{
	border: 0;
}

.big-button:active 
{
	position:relative;
	top:1px;
	outline: none;
}

<? function @@big_button($name,$color){ ?>
.big-button-$name
{
	<? $bbLight=@@lighten($color,30); ?>
	<? $bbDark =@@saturate(@@darken($color,11),19); ?>
	-moz-box-shadow:   inset 0px 1px 0px 0px $bbLight;
	-webkit-box-shadow:inset 0px 1px 0px 0px $bbLight;
	box-shadow:		   inset 0px 1px 0px 0px $bbLight;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $color), color-stop(1, $bbDark) );
	background:-moz-linear-gradient( center top, $color 5%, $bbDark 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='$bbDark');*/
	background-color:$color;

	border-color: @@saturate(@@darken($color,13),5);
	/* border-color: @@saturate(@@darken($color,17),5); */
	color:#ffffff;
	text-shadow:1px 1px 0px @@darken(@@desaturate($color,15),5);
	/* text-shadow:1px 1px 0px @@darken(@@saturate(@@spin($color,57),15),5); */
}

.big-button-$name:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $bbDark), color-stop(1, $color) );
	background:-moz-linear-gradient( center top, $bbDark 5%, $color 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$bbDark', endColorstr='$color');*/
	background-color:$bbDark;
}

<?}?>

@@big_button('green','#77d42a')
@@big_button('red'	,'#fe1a00')
@@big_button('blue' ,'#3d94f6')
