/************* Opinions below Event **************/

#contributor-opinion-link
{
	color: black;
	text-decoration: none;
}

#opinions-event
{
	padding: .5em;
	margin-top: .5em;
	background-color: #fed;
}

#opinions-title
{
	font-size: 100%;
	margin: .2em;
	text-align: center;
}

#opinions-closed
{
	font-size: 80%;
	color: #666;
	margin-top: -.3em;
	text-align: center;
}

#dis-all-form
{
	float: right;
}

.opinion
{
	margin: 18px 0;
	padding: 3px;
	border-top: 1px solid rgba(255,255,255,.5);
	box-shadow: 2px 2px 4px rgba(0,0,0,.3);
	overflow: auto;
	background-color: rgba(255,255,255,.4);
}

.opinion.disabled
{
	background-color: #aaa;;
}

.opinion .disabled-message
{
	margin: .5em 0;
	text-align: center;
}


.opinion-rating
{
	font-size: 25px;
	font-weight: bold;
	color: #666;
	float: left;
	width: 30px;
	margin-right: 15px;
	text-align: center;
	background-color: rgba(255,255,255,.5);
	padding: .2em .3em;
	box-shadow: 0 0 1px rgba(0,0,0,.1);
	position: relative;
	top: -3px;
	left: -2px;
}

.opinion-text
{
	color: #333;
	padding: .3em;
}

.opinion-information
{
	text-align: right;
	color: #555;
    font-style: italic;
	float: right;
	margin-bottom: .7em;
	margin-left: .7em;
}
.opinion-information a
{
	color: #555;
}

.stars-empty
{
	display: inline-block;
	width: @@sprite_width('stars-empty.svg')px;
	height: @@sprite_height('stars-empty.svg')px;
	background-image: url(@@sprite('stars-empty.svg'));
	background-position: @@sprite_bgpos('stars-empty.svg');
	position: relative;
	margin: 0 .3em;
	top:1px;
}

.stars-full
{
	display: inline-block;
	width: @@sprite_width('stars-full.svg')px;
	height: @@sprite_height('stars-full.svg')px;
	background-image: url(@@sprite('stars-full.svg'));
	background-position: @@sprite_bgpos('stars-full.svg');
	position: absolute;
	top: 0;
	left: 0;
}


.opinion-pubGuideline
{
	clear: both;
	margin-left: 30%;
	height: 1.5em;
	border: 1px solid rgba(0,0,0,.1);
	border-right: none;
	border-bottom: none;
	color: #333;
	background-color: rgba(255,128,128,.05);
	overflow: hidden;
	width: 680px;
}
.opinion-pubGuideline-inner
{
	background-color: #ffe0d0;
	padding: .2em;
	width: 673px;
}

.opinion-pubGuideline:hover .opinion-pubGuideline-inner
{
	position: absolute;
}

.opinion-pubGuideline:hover .pg-more
{
	display: none;
}
.opinion-pubGuideline .pg-more
{
}

#pubGuidelinesSel
{
	max-width: 500px;
}


.opinion-mod-open
{
	clear: right;
	cursor: pointer;
	float: right;
}

.open-but {display: inline;}
.close-but{display: none;}

.open-mod .open-but {display: none;}
.open-mod .close-but{display: inline;}

.opinion-mod
{
	clear: both;
	margin: .3em;
	margin-top: .4em;
	display: none;
	background-color: rgba(255,255,128,.3);
	box-shadow: 0 0 3px black;
	padding: .4em;
	padding-top: 0;
	position: relative;
}
.open-mod .opinion-mod
{
	display: block;
}

.opinion-reputation
{
	font-weight: bold;
	font-size: 110%;
	padding-right: 15px;
	padding-left: 3px;
	background-repeat: no-repeat;
	background-position: right;
	margin: 2px 4px;
}
.opinion-reputation.rep-0
{
	background-image: url(/files/images/svg-to-png/button-downcase.png);
	color: red;
	border-color: red;
}
.opinion-reputation.rep-1
{
	background-image: url(/files/images/svg-to-png/button-upcase.png);
	color: green;
	border-color: green;
}
.opinion-reputation.mod-problem
{
	color: red;
	padding-left:  7px;
	padding-right: 7px;
	border-radius: 5px;
}

.opinion-reputation.big-weight
{
	border-style: solid;
	border-width: 2px;
}

.opinion-id
{
	position: absolute;
	right: 3px;
	top: 3px;
	color: #777;
}

.opinion-reputation-details
{
	color: #777;
	font-size: 12px;
	margin-left: 200px;
}

.opinion-mod .form-item-submit
{
	float: left;
}

.opinion-dis 
{
	display: inline;
	margin-left: 1em;
}

#opinions-event .opinion-dis .form-item
{
	margin:0;
}

.opinion-dis div
{
	display: inline;
}

#opinions-event .opinion-mod label
{
	display: inline;
	margin-right: .5em;
}

.opinion-mod .form-item
{
	display: inline-block;
	margin-right: 2em;
}

.opinion-mod .form-item-float input
{
	width: 3em;
}

.opinion-mod textarea
{
	height: 3em;
	vertical-align: top;
}


/************* Opinion form (below events) **************/

#Opinion
{
	padding: .3em;
	margin-top: .2em;
	margin-bottom: .2em;
}
#Opinion label
{
	display: block;
	/*clear: both;*//* breaks display.  why was this needed?  => moved to edit-rating wrapper*/
	float: left;
	width: 150px;
}

#Opinion #edit-rating-wrapper
{
	margin-top: 0;
	clear: both;
}

#edit-pubGuideline
{
	display: none;
}

#edit-pubGuideline-wrapper.form-item-error
{
	border: 2px solid red;
}

/************* opinion table (both "recent" and user) **************/

#charts
{
	display: -webkit-flex;
	display: flex;
}

.histogram
{
	margin-bottom: .7em;
	margin-right: 2em;
}

.opinion-list
{
	background-color: #eee;
	border-collapse: collapse;
}

.opinion-list td,
.opinion-list th
{
	padding: .1em .6em;
}

.opinion-line.disabled
{
	background-color: #aaa;
}

.opinion-list .rating a:hover
{
	text-decoration: underline;
}

.opinion-list .rating a
{
	font-size: 20px;
	color: black;
	text-decoration: none;
	text-align: right;
	display: block;
	padding-right: .6em;
}

.opinion-list .reputation
{
	text-align: right;
	padding-right: .3em;
}

#event-rating
{
	text-align: center;	
	color: #aaa;
	margin-left: 3em;
	font-weight: normal;
}
#event-rating-yes-rep
{
	margin-left: 1em;
}

#event-average
{
	color: black;
	font-size: 20px;
	vertical-align: middle;
	padding: .2em;
}

/********** histogram **********/

.histogram
{
}
.histogram .count
{
	background-color: rgba(255,255,255,.1);
}

.histogram .count td
{
	vertical-align: bottom;
	padding: 0;
}

.histogram
{
	text-align: center;
}

.histogram .bar
{
	background-color: #fa0;
	width: 15px;
}

