
/***********  search for on the top of page ***************/

#search-form
{
	margin-bottom: 1em;
}
#search-form h2
{
	font-size: 16px;
	margin: .3em 0;
}


#search-input
{
	width: 30%;
	min-width: 200px;
}

#search-submit
{
	margin-right: 1em;
}

.search-opt-group
{
	display: inline-block;
	white-space: nowrap;
	padding: 0em;
	padding-left: .5em;
}

.form-radios label
{
	display: inline-block;
	padding-right: 5px;
	border-right: 1px solid rgba(255,255,255,.5);
}
.form-radios label:last-child
{
	padding-right: 0px;
	border-right: none;
}


.form-radios input
{
	margin-top: 0;
	margin-bottom: 0;
}

/* tricky vertical align of checkboxes and radios */
label.wrapper>span,
label.wrapper>input,
.form-radios label>*,
span.wrapper>span
{
	vertical-align: middle;
}

label.wrapper>span,
span.wrapper>span
{
	display: inline-block;
}

#reindex
{
	float: right;
}


form .wrapper
{
	background-color: rgba(0,0,0,.1);
	height: 30px;
	line-height: 30px;
	display: inline-block;	
	padding: 0 .5em;
	white-space: nowrap;
	margin: .5em;
}

/************* search results structure (flex collumns)  **********************/

/* big box around all search results */
#search-all
{
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* column displaying main search results (usually event and comments) */
#search-results-main
{
	flex: 4;
	background-color: white;
	padding: .5em;
	padding-top: 0;
	max-width: 700px;
}

#search-results-main .pager
{
	margin-bottom: 1em;
}

#search-results-main .pager-single-page
{
	display: block;
}

/* columns displaying other search results (usually feed and mail) */
#search-results-boxes
{
	flex: 2; /* grow "2" inside parent flex */

	display: -webkit-flex;
	display: flex; /* we are also a container flex */
	flex-wrap: wrap; /* wrap our children if they dont fit */
	justify-content: space-around;
}

.search-results-box
{
	flex: 3;
	background-color: white;
	box-shadow: 0 0 1.5px rgba(0,0,0,.2);
	min-width: 300px;
	max-width: 800px;
}
.search-results-box.empty
{
	flex: 1;
	min-width: 100px;
}

.search-results-box>h2
{
	font-size: 120%;
	margin-top: 0;
	margin-bottom: 12px;
	text-align: center;
	background-color: red;
}

.search-results-box>h2 a
{
	text-decoration: none;
	display: block;
	padding: .2em .1em;
}
.search-results-box>h2 a:hover
{
	text-decoration: underline;
	background-color: rgba(255,255,0,.2);
}

.search-results-box .search-results
{
	padding: .5em;
}

#box-mail>h2
{
	background-color: $mailColor;
}
#box-mail>h2 a
{
	color: black;
}

#box-feed>h2
{
	background-color: $feedColor;
}
#box-feed>h2 a
{
    color: white;
}

#empty-search
{
	color: red;
}
#extra-search-title
{
	font-size: 15px;
}

#extra-search-title a
{
	font-weight: normal
}

/************* a single search result *********************/

.search-result
{
	overflow: hidden;
	padding: 10px .5em;
	margin-bottom: 1px;
}
.search-result.not-published,.search-result.finished
{
	background-color: #ddd;
}

.search-result h3
{
	font-weight: normal;
	font-size: 16px;
	margin:0;
	margin-bottom:3px;
}

#search-results-main .search-result .type
{
	padding: 0 1em;
	margin-right: .3em;
}

.search-result.doc-type-event .type
{
	display:none;
	background-color: $feedColor;
}

.search-result.doc-type-event.nattention-level-2 .type
{
	display:inline;
	background-color: red;
}

.search-result.doc-type-event .type
{
	background-color: $feedColor;
}

.search-result.doc-type-feed .type
{
	background-color: $feedColor;
}

.search-result.doc-type-mail .type
{
	background-color: $mailColor;
}

.search-result.doc-type-comment .type
{
	background-color: #ffa;
}

.search-result p
{
	font-size: 14px;
	margin:0;
}

.search-date
{
	color: $paletteFg;
}

.search-fetched
{
	color: #aaa;
}

.search-mail-from span
{
	color: $paletteFg;
}

.comment-event
{
	opacity: .5;
}

.comment-event-published
{
	background-color: white;
}
.comment-event-not-published
{
	background-color: #aaa;
}

.comment-part
{
	margin-left: 1em;
}

.search-feed-name
{
	color: $paletteFg;
}

.mobile
{

}
