/* frontpage.css : style used only on frontpage */


#header
{ 
	min-height: 165px;
}

/* Not sure if this is really used */
#header a
{
	color: $paletteFg;
}

/* The big left column, with logo and events */
#main
{ 
	width: 735px;
	float: left;
}

/* The big right column, with infoboxes */
#sidebar 
{
	margin-top: 117px;
	float:right;
	width: 265px;
}
#footer
{
	clear: both;
}

#siteName
{
	margin: 0;
	padding: 0;
	color: $paletteFg;
	<? $siteNameWidth=430; ?>
	width: @@($siteNameWidth)px;
	white-space: nowrap;
	text-align: center;
}

#siteName h1
{ 
	margin: 0;
}

#home-link
{
	display: block;
	text-decoration: none;
	color: inherit;
}

#home-link a:hover
{ 
	text-decoration: underline;
}

#fp-logo
{ 
	position: absolute;
	display: block;
	margin-left: @@($siteNameWidth/2-@@sprite_width('fp-logo.svg')/2)px;
	padding: 0;
	font-weight: normal;
	width:  @@sprite_width('fp-logo.svg')px;
	height: @@sprite_height('fp-logo.svg')px;
	background-image: url(@@sprite('fp-logo.svg'));
	background-position: @@sprite_bgpos('fp-logo.svg');
	z-index: 0;
}

#fp-big-name 
{  
	display: block;
	padding-top: 80px;
	font-family: Delicious, Arial, sans-serif; 
	font-weight: normal;
	font-style: italic;
	font-size: 37px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.8);
	/* text shadow for IE <= 9 does not work. IE filters add ugly black outline that is not acceptable */
	color: $paletteFg;
	/* display on top of logo z-index 0 */
	position: relative;
}

.IE7 #fp-big-name,
.IE8 #fp-big-name
{
	font-size: 33px;
	font-style: italic;
}

#userCalSiteName
{
	overflow: hidden;
	display: block;
	width: 490px;
	height: 175px;
	color: $paletteText;
}

#userCalSiteName 
{
	margin-left: .5em;
}

#slogan
{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	/* display on top of logo z-index 0 */
	position: relative;
	color: $paletteFg;
}

#mission
{
	color: $paletteFg;
	white-space: normal;
	margin: 3px 16px 7px 13px;
	width: 480px;
	text-align: center;
	/* display on top of logo z-index 0 */
	position: relative;
}

#announcement
{
	background-color: $paletteBg2;
	color: $paletteText;
	font-size: 16px;
	width: 680px;/* 704-2*12 */
	margin: .3em;
	border: 1px solid $paletteFg;
	text-align: center;
	padding: 3px 12px;
	margin-left: 14px;
	margin-bottom: .6em;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}

#announcement h2,
#announcement h3,
#announcement h4,
#announcement p
{
	margin: .2em 0;
}
#announcement h2{font-size: 24px;}
#announcement h3{font-size: 18px;}
#announcement h4{font-size: 18px;}

#announcement .floatRight
{
	float: left;
}

#messages
{ 
	font-size: 13px;
	text-align: center;
	color: $paletteText;
	padding-left: 13px;
	padding-right: 15px;
}

#messages p
{
	margin: .7em;
	margin-top: 0;
}

/* ************ featured events ************* */


#featured-events
{
	text-align: left;
	padding-left: 13px;
	padding-right: 15px;
	margin-bottom: .5em;
	margin-top: .3em;
}

#edit-featured 
{
	position: absolute;
	padding-top: 5px;
}

#edit-featured>span
{
	position: relative;
	bottom: 7px;
	color: #333;
	left: -30px;
	font-size: 12px;
	z-index: 8;	
	display: block;
	cursor: pointer;
}

@media all and (max-width: 1050px)
{
	#edit-featured>span
	{
		left: 0;
	}
}

#featured-events ul
{
	list-style-type: none;
	margin: 0;
	padding-left: 0px;
	font-size: 13px;
}

#featured-events li
{
	background-color: white;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 20px;
	position: relative;
	margin-bottom: 16px;
	border: 5px solid $paletteFg;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.light-background #featured-events li
{
	<? if($paletteBg==='#ffffff'){ ?> background-color: @@mix($paletteBg2,'#ffffff',50); <? } ?>
}

.IE6 #featured-events li,
.IE7 #featured-events li
{
	border-style: none;
}

#featured-events li:hover
{
	border-color: @@saturate(@@lighten($paletteFg,10),30);
}

#featured-events h2
{
	margin: 0;
	font-weight: normal;
	font-size: 20px;
}

#featured-events li a
{
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px;
}

#featured-events li:hover a
{
	color: @@lighten($paletteText,15);
}

.fdate
{
	display: block;
	color: $paletteFg;
	font-size: 16px;
}
.ftitle
{
	display: block;
	overflow: hidden;
	padding-left: 10px;
}
.ftitle.short
{
	font-size: 28px;
}

.ftitle.long
{
	font-size: 16px;
}

.ftitle.very-long
{
	font-size: 16px;
}

.ftitle strong
{
	font-weight: normal;
}

.ffeatured
{
	position: absolute;
	color: #aaa;
	font-size: 13px;
	right: 8px;
	top: 5px;
}

.IE6 .ffeatured
{
	right: 19px;
}

.fcorner
{
	position: absolute;
	display: block;
	padding: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.IE6 .fcorner,
.IE7 .fcorner
{
	display: none;
}
.fcorner>span
{
	display: block;
	background-color: white;
	position: relative;	
}

.ft
{
	top: 0;
	left: 0;
	width: 100%;
}
.ft>span
{
	top: -22px;
	height: 3px;
	border-top: 5px solid $paletteBg;
}
.fr
{
	bottom: 0;
	right: 0;
	height: 100%;
}
.fr>span
{
	right: -22px;
	width: 3px;
	height: 100%;
	border-right: 5px solid $paletteBg;
}
.fb
{
	bottom: 0;
	right: 0;
	width: 100%;
}
.fb>span
{
	bottom: -22px;
	height: 3px;
	width: 100%;
	border-bottom: 5px solid $paletteBg;
}
.fl
{
	top: 0;
	left: 0;
	height: 100%;
}

.fl>span
{
	left: -22px;
	width: 3px;
	height: 100%;
	border-left: 5px solid $paletteBg;
}

/* ************  ************* */


#userCalSiteName a,
#announcement a,
#messages a
{ 
	color: @@lighten($paletteText,15);
	text-decoration: none;
}
#userCalSiteName a:hover,
#announcement a:hover,
#messages a:hover
{ 
	text-decoration: underline;
}
#announcement a img
{
	border: none;
}

#secondary-links
{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	margin: 0;
	padding: 0;
	margin-right: 15px;
	white-space: nowrap;

}
#secondary-links li>a
{
	color: black;
	text-decoration: none;
}
#secondary-links li>a:hover
{
	text-decoration: underline;
}
#secondary-links li
{
	display: inline;
	padding-left: 1em;
}
#secondary-links .login-link>a
{ 
	color:$paletteFg;
}


#frontpage-regions-links
{
	margin-left: 2em;
	margin-bottom: .4em;
	position: relative;
	top: -4px;
	font-size: 13px;
}

#frontpage-regions-links a
{
	color: $paletteFg;
}
#frontpage-regions-links a:hover
{
	color: @@saturate(@@lighten($paletteFg,15),15);
}

#frontpage-regions-links a.active
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

#calendar
{
	margin-top:0em;
	padding:0px;
	margin-left: 14px; 
	transition: padding-top .5s; /* move down when options popups open */
}
.event-filter-message
{
	margin-top: .2em;
	margin-bottom: .4em;
}
.event-filter-message .back
{
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin-left: 1em;
	margin-top: .3em;
}


#archives-link
{
	clear:left;
	margin-bottom: 2px;
}
#archives-link,#archives-link a
{ 
	color: white;
}
#calnavigation a#archive-link
{
	font-size: 15px;
	font-weight: bold;
	color: #FF9000;
}

#archives-link a { text-decoration: none;}
#archives-link a:hover { text-decoration: underline;}


#autoLimitMoreEventsUrl a
{
	color: $paletteFg;
	font-size: 150%;
	text-align: center;
	display: block;
}

/* topic selection box for calendar events */
#topicSelect
{
	position: absolute;
	left: 507px;
	top: 25px;  
	width: 477px;
	height: 68px;
	margin-left: 0px;
	padding-left: 3px;
	white-space: nowrap;
	z-index: 5;
	color: white;
	text-align: center;
	overflow: hidden;
	background-color: $paletteFg;
	-moz-border-radius: 10px;
	border-radius: 10px;
	@@linear_gradient("to bottom",@@mix($paletteFg,$paletteBg2,77),'0%',$paletteFg,'100%');
}

#topicSelect.follow
{ 
	position: fixed;
	right: 0px;
	top: 0px;
}

#topicSelect .line
{ 
	font-size:15px;
	padding-top: 9px;
	margin-top: 0px;
	white-space: nowrap;
}

#topicSelect .line.line0
{ 
	padding-top: 15px;
	margin-top: 0px;
	font-size: 17px;
}

#topicSelect .line.lineHasColor
{ 
}

#topicSelect .line.lineNoColor
{
	padding-top: 5px;	
}

.lineNoColor span 
{ 
	padding-right: 4px;
	border-right: 1px solid #d4aa8e;
}

.lineNoColor span:last-child
{ 
	border-right: none;
}

#topicSelect span.col
{ 
	border-top-width: 5px;
	border-top-style: solid;
	margin-left: 2px;
}

<? foreach($topicColors as $tid=>$color){ ?>
#sel$tid 
{
	border-color: $color;
}
<?}?>


#topicSelect span.unhighlighted a,#topicSelect span.unselected a
{
	background-color: #666;
	color: #ddd;
}
#topicSelect span.highlighted a,#topicSelect span.selected a
{
/*	border-style: solid;*/
	background-color: white;
}
#topicSelect span.highlighted a,#topicSelect span.selected a
{ 
	color: black;
}

#topicSelect a
{
	text-decoration: none;
	color: white;
}
#topicSelect span:not(.highlighted) a:hover
{
	background-color: @@lighten($paletteFg,20);
}

#selothers a
{
	width: 7px;
	height: 7px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 2px;
	padding: 0;
}


/* ****** search button  ****  */
#searchButton
{
	position: absolute;
	left: 507px;
	top: 100px;
	font-size: 13px;
}

#search-field
{
	width: 212px;
	height: 22px;
	border: none;
	padding: 0;
	padding-left: 8px;
	vertical-align: top;

	font-size: 14px;
	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
}
#search-submit
{
	vertical-align: middle;
	width: @@sprite_width('fp-search.svg','frontpage.png')px;
	height: @@sprite_height('fp-search.svg','frontpage.png')px;
	background-image: url(@@sprite('fp-search.svg','frontpage.png')),linear-gradient(to right, white,#e2e2e2);
	background-position: @@sprite_bgpos('fp-search.svg','frontpage.png'),left;
	padding: 0;
	border: none;
	vertical-align: top;
}
#search-submit:hover
{
	border: outset 1px;
}

/* ****** options bar  ****  */

#options-wrap
{
	position: absolute;
	left: 507px;
	top: 130px;
	width: 234px;
}

#options
{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}

.options-button
{
	position: relative;
	background: $paletteFg;
	width:  22px;
	height: 22px;
	overflow: hidden;
	border-radius: 2px;
	z-index: 1;
}

.options-button:hover
{
	background-color: @@lighten($paletteFg,15);
}

.options-button::before
{
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	content: '';
	background-image: url(@@sprite('time.svg'));
	color: white;
	text-align: center;
}

#edit-select-topic-wrapper::before
{
	top: 5px;
	left: 7px;
	content: '';
	background-image: none;
	background-color: white;
	height: 12px;
	width: 8px;
	box-shadow: 0 0 1px white;
	
}

#edit-select-city-id-wrapper::before
{
	width:  @@sprite_width('city.svg')px;
	height: @@sprite_height('city.svg')px;
	background-position: @@sprite_bgpos('city.svg');	
}

#edit-select-fp-region-wrapper::before
{
	width:  @@sprite_width('region.svg')px;
	height: @@sprite_height('region.svg')px;
	background-position: @@sprite_bgpos('region.svg');	
}

#edit-select-place-reference-id-wrapper::before
{
	width:  @@sprite_width('map-point.svg#2')px;
	height: @@sprite_height('map-point.svg#2')px;
	background-position: @@sprite_bgpos('map-point.svg#2');	
}

#edit-most-visited-wrapper::before
{
	top: 4px;
	left: 6px;
	width:  @@sprite_width('dayrank.svg')px;
	height: @@sprite_height('dayrank.svg')px;
	background-position: @@sprite_bgpos('dayrank.svg');	
}

#edit-max-nb-events-per-day-wrapper::before
{
	width:  @@sprite_width('max-per-day.svg')px;
	height: @@sprite_height('max-per-day.svg')px;
	background-position: @@sprite_bgpos('max-per-day.svg');	
}

#edit-select-recent-changes-wrapper::before
{
	width:  @@sprite_width('time.svg')px;
	height: @@sprite_height('time.svg')px;
	background-position: @@sprite_bgpos('time.svg');	
}

#edit-order-by-last-big-changes-wrapper::before
{
	width:  @@sprite_width('sort-recent.svg')px;
	height: @@sprite_height('sort-recent.svg')px;
	background-position: @@sprite_bgpos('sort-recent.svg');	
}

#near-lat-lng-button::before
{
	width:  @@sprite_width('gps.svg')px;
	height: @@sprite_height('gps.svg')px;
	background-position: @@sprite_bgpos('gps.svg');	
}

#options>.form-item
{
	margin: 0; /* override form.css when popup loads */
}

/* https://stackoverflow.com/questions/1895476/how-to-style-a-select-dropdown-with-css-only-without-javascript */
.options-button>select
{
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
	color: transparent;
    background: transparent;
    width: 22px;
    height: 22px;    
    font-size: 16px;
	border: none;
	padding: 0 .5em;
	position: relative;
	z-index: 2;
}

/* IE 10+ appearance:none workaround */
/* https://stackoverflow.com/questions/15351949/removing-the-ie10-select-element-arrow */
.options-button>select::-ms-expand
{
	opacity:0;
}

/* IE 10+ appearance:none workaround */
.options-button>input[type=checkbox]::-ms-check
{
	opacity:0;
}



.options-button>select option
{
	color: black;/* For Chrome (avoid white on white). FIXME this might be OS/desktop dependent. Needs checking. */
}

.options-button.changed,
.changed>.options-button
{
	background-color: $paletteFlashy;
}

.options-button.changed:hover,
.changed>.options-button:hover
{
	background-color: @@lighten($paletteFlashy,15);
}


.options-button>input[type=checkbox]
{
	display: block;
	margin: 0;
	position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
	width: 22px;
	height: 22px;
	z-index: 2;
}

#near-lat-lng-pwrap
{
	position: relative;
	overflow: visible;
}

#near-lat-lng-button
{
	display: inline-block;
}

#more-options-button
{
	display: inline-block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background-color:@@mix($paletteBg,$paletteBg2,50);
	color: $paletteFg;
}

#more-options-button:hover
{
	background-color:@@lighten(@@mix($paletteBg,$paletteBg2,50),10);
}

#near-lat-lng-popup
{
	height: 0px;
	transition: height .5s,visibility .5s;
}

.options-popup
{
	overflow: hidden;
	position: absolute;
	top: 22px;
	right: 0px;
	background-color: $paletteBg2;
	min-width: 650px;
	z-index: 10;
	border: 1px solid $paletteFg;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	padding: 8px;
	visibility: hidden;
}

#more-options-popup .form-item:last-child
{
	margin-bottom: 115px;/* room for mapshape popup */
}

#near-lat-lng-pwrap.open #near-lat-lng-popup
{
	height: 300px;
	visibility: visible;
}

#more-options.loaded #more-options-popup
{
	height: 0px;
	transition: height .5s,visibility .5s;
}

#more-options.open #more-options-popup
{
	visibility: visible;
}

#options-extra
{
	line-height: 18px;
	margin-top: -3px;
	display: none;
}

#options-extra a
{
	text-decoration: none;
}

#options-link
{
	display: inline-block;
	background-image: url(@@sprite('link.svg'));
	width:  @@sprite_width('link.svg')px;
	height: @@sprite_height('link.svg')px;
	background-position: @@sprite_bgpos('link.svg');	
	vertical-align: middle;
}


/* ****** sidebar elements ****  */

.fullInfobox,
.stdInfobox
{
	width: 226px;
	margin-left: 25px;
	overflow: hidden;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.fullInfobox .ibContent,
.stdInfobox .ibContent
{
	overflow: hidden; /* force margin collapse with content */
	position: relative; /* reference for abs inside */
}


.fullInfobox
{ 
	color: white;
	background-color: $paletteFg;
	@@linear_gradient("to bottom",@@mix($paletteFg,$paletteBg2,62),'0%',$paletteFg,'100%');
	padding-bottom: .3em;
}

.infobox-title
{
	margin: .14em 0 .16em .55em;
	font-family: Delicious, Arial, sans-serif; 
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
}

.fullInfobox .infobox-title,
.fullInfobox .infobox-title a
{
	color: white;
	text-decoration: none;
}

#calnavigation .infobox-title
{
	display: none;
}

#calnav-inner
{
	margin-top: 17px;
	padding-left: 10px;    
	white-space: nowrap;
}


#calnavigation p
{ 
	margin-top: 3px;
}
#calnavigation p a
{
	color: white;

}
#calnavigation #archives-link
{
	margin-top: 3px;
	font-size: 14px;
	white-space: nowrap;
}

body .demosphereMapLink 
{
	position: relative;
	margin-top: 15px;
	padding: 0px;    
	background-image: url(@@sprite('fp-map.png'));
	width:  @@sprite_width('fp-map.png')px;
	height: @@sprite_height('fp-map.png')px;
	background-position: @@sprite_bgpos('fp-map.png');
	box-shadow: inset 0 0 5px rgba(255,255,255,1);
}


body .demosphereMapLink .infobox-title a
{
	position: relative;
	display: block;
	height: 100px;
	z-index: 4;
}

body .demosphereMapLink .infobox-title a:hover
{
	background-color: rgba(255,255,0,.2);
}

body .demosphereMapLink .infobox-title span
{
	display: none;
}

#wrap .demosphereMapLink .ibContent
{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 0;
}

.eventmarker
{
	position: relative;
	text-align: center;
	border-radius: 20px;
	border: 1px solid black;	
	padding: 2px .5em;
	min-width: 37px;
	background-color: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.demosphereMapLink .eventmarker
{
	position: absolute;
	display: inline-block;
	font-size: 15px;
}

.eventmarker>span
{
	display: block;
	position: absolute;
	bottom: -20px;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 35px;
	height: 20px;
	z-index: 1;
}

.eventmarker>span>i
{
	display: inline-block;
	margin:0;
	width: 17px;
	height: 17px;
	overflow: hidden;
}
.eventmarker>span>i::before
{
	content: '';
	position: relative;
	display: block;
	width: 17px;
	height: 17px;
	border-top: 1px solid black;
}
.eventmarker>span>i:nth-child(1)::before
{
	border-top:   1px solid black;
	border-right: 1px solid black;
	border-top-right-radius: 17px;
	box-shadow: 1px -1px 0 white,
                2px -2px 0 white,
				3px -3px 0 white,
				4px -4px 0 white,
				5px -5px 0 white;
}
.eventmarker>span>i:nth-child(2)::before
{
	left: -1px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-top-left-radius: 17px;
	box-shadow: -1px -1px 0 white,
                -2px -2px 0 white,
				-3px -3px 0 white,
				-4px -4px 0 white,
				-5px -5px 0 white;
}


.demosphereMapLink .eventmarker:nth-child(1)
{
	left: 5px;
	top: 10px;
}

.demosphereMapLink .eventmarker:nth-child(2)
{
	left: 70px;
	top: 40px;
}

.demosphereMapLink .eventmarker:nth-child(3)
{
	left: 160px;
	top: 30px;
}

.demosphereMapLink .eventmarker:nth-child(4)
{
	left: 100px;
	top: 5px;
}


.stdInfobox
{ 
	margin-top: 30px;
	font-size: 12px;
	position: relative;
	background-color: white;
	@@linear_gradient("to top",@@mix(@@desaturate($paletteBg2,20),'#fff',65),'0%','white','140px');
}

.whiteInfobox
{
	background: none;
	background-color: white;
}

.stdInfobox a
{ 
	color: black;
}

.stdInfobox a img
{ 
	border: none;
}

.infoboxWithLogo
{ 
	margin-top: 0;
}

.infoboxLogo
{  
	height: @@sprite_height('fp-white-logo.svg')px;
	width: @@sprite_width('fp-white-logo.svg')px;
	margin-left: 26px;
	margin-top: 5px;
	background-image: url(@@sprite('fp-white-logo.svg'));
	background-position: @@sprite_bgpos('fp-white-logo.svg');
	position: relative;
	top: 8px;
}

.infoboxWithLogo h3.infobox-title span
{ 
	padding-top: 0;
	position: relative;
	top: -3px;
}

/* Hack for sites that have the title "démosphère ?" */
.infoboxWithLogo h3.infobox-title.isDemosphere span
{
	left: 7px;
	font-size: 24px;
}

body .infoboxWithLogo .ibContent
{
	padding-top: 0;
}

.stdInfobox .infobox-title
{ 
	color: $paletteFg;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.stdInfobox .infobox-title span
{
	display: block;
	margin-left: .5em;
	padding-top: .5em;
}

.stdInfobox .infobox-title a 
{ 
	color: $paletteFg;
	text-decoration: none;
}

.stdInfobox h2
{
	font-size: 18px;
	color: black;
	font-weight: normal;
	text-align: center;
}

.stdInfobox h2 a 
{
	color: black;
	text-decoration: none;
}
.stdInfobox h2 a:hover
{
	text-decoration: underline;
}

.stdInfobox h3
{
	font-size: 14px;
}


.stdInfobox h4 a { color: $paletteFg;  }
.stdInfobox h4
{  
	font-size: 12px;
	margin: 3px;
	color: $paletteFg;
}
.stdInfobox .ibContent
{  
	overflow: hidden; /* force margin collapse with content */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 9px;
	margin:0;
}

body.light-background .stdInfobox
{
	box-shadow: .5px 1px 1px #ccc;
}

.stdInfobox .ibContent p
{ 
	margin: 3px;
}

/* big green button */

#publicFormButton
{
	margin-top: 0em;
}
#publicFormButton a
{
	display: inline-block;
	color: $paletteText;
	text-decoration: none;
	background-color: $paletteFlashy;  
	/* linear_gradient("to bottom",@@mix($paletteFlashy,'#fff',43),'7%',@@darken($paletteFlashy,12),'30%'); */
	@@linear_gradient("to bottom",@@mix($paletteFlashy,'#fff',70),'0%',@@darken($paletteFlashy,12),'100%');
	-moz-border-radius: 13px;
	border-radius: 13px;
	white-space: nowrap;
	color: $paletteText;
	text-decoration: none;
	padding: .4em .9em;
	font-size: 17px;
	margin-top: 10px;
	margin-left:  5px;
	margin-right: 5px;
	text-shadow: 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

#publicFormButton a:hover
{
	color: @@darken($paletteText,15);
	text-shadow: 0 0  1px rgba(255,255,255,1);
	background: none;
	background-color: $paletteFlashy;  
}

#publicFormButton a:active, 
#publicFormButton a:focus 
{
  outline: 0;
  -moz-outline-style: none;
}

.dtoken-login-logout
{ 
	text-decoration: none;
	position: absolute;
	top: 10px;
	right: 5px;
}

.infoboxStayInformed
{ 
	margin-top: 30px;
	font-size: 18px;
}
.infoboxStayInformed ul
{
	list-style-type: none;
	margin-top: 8px;
	margin-left: 70px;
	padding-left: 0px;
}
.infoboxStayInformed li
{
	white-space: nowrap;	
}
#rss-logo
{
	position: absolute;
	top: 10px;
	left: 10px;
	color: transparent;
	width:  @@sprite_width('fp-rss-logo.svg')px;
	height: @@sprite_height('fp-rss-logo.svg')px;
	background-image: url(@@sprite('fp-rss-logo.svg'));
	background-position: @@sprite_bgpos('fp-rss-logo.svg');
}
.IE8 #rss-logo
{
	font-size:0px;
}

.infoboxStayInformed ul a
{ 
	text-decoration: none;
	color: white;
}

.infoboxStayInformed ul a:hover
{ 
	text-decoration: underline;    
}

/* ****** navigation calendar ****  */
#calnavigation table.leftcal
{ 
	float: left;
	margin-right: 10px;
}
#calnav-tablewrap
{
	/* avoid cals that are too big and hide archive link */
	max-height: 98px;
	/* allows a slight overflow to avoid wrapping*/
	width: 226px;
	overflow: hidden;
}

#calnavigation table
{ 
	color: black;
	border-collapse: collapse;
	font-size: 10px;
	text-align: right;
	border: 0px;
	background-color: white;
}

#calnavigation table a
{ 
	color: black;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
}

#calnavigation table a:hover
{ 
	background-color: green;
}
#calnavigation td
{ 
	padding-top:    0px;
	padding-bottom: 0px;
}

#calnavigation td.o,
#calnavigation .o td
{ 
	background-color: #ccc;
	cursor: pointer;
}
#calnavigation td.now
{ 
	background-color: red;
}

#calnavigation .w6,
#calnavigation .w7
{  
	background-color: #bccdff;
}

#calnavigation .o td.w6
{ 
	border-left: 1px solid #333 !important;
}

#calnavigation td.x,
#calnavigation td.x a
{
	color: green;
}

#calnavigation caption
{
	color: black;
	background-color: @@saturate($paletteBg2,20);/* #f8dbc3 */
	font-size: 17px;
}

#calnavigation.bigMonths caption
{
	font-size: 15px;
}


/** */
#login
{
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 12px;
}
.noMobile #login
{
	right: 50px;
}

/* only show login, a logout link is alrady there (added by menu) */
#login .logoutlink
{
	display: none;/* */
}

.new
{ 
	position: relative;
	display: inline-block;
	width: @@sprite_width('fp-new.svg')px;
	height: @@sprite_height('fp-new.svg')px;
	background-image: url(@@sprite('fp-new.svg'));
	background-position: @@sprite_bgpos('fp-new.svg');
}

.email
{ 
	position: relative;
	display: inline-block;

	width:  @@sprite_width('fp-email.svg')px;  
	height: @@sprite_height('fp-email.svg')px;
	background-image: url(@@sprite('fp-email.svg'));
	background-repeat:  no-repeat;
	background-position: @@sprite_bgpos('fp-email.svg');
	top: 1px;
}

.hidden
{
	display:none;
}

#secondary-links #back-to-mobile
{
	display:none;
}

#secondary-links #back-to-mobile
{
	border: 1px solid $paletteFg;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: $paletteFg;
	padding: 2px 10px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 16px;
	background-color: rgba(255,255,255,.3);
}

#secondary-links #back-to-mobile a
{
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
#extra-back-to-mobile a
{
	color: $paletteFg;
}
