/************** repetitions form ************/


/** repetitions form top **/

#group-id
{
	color: #999;
	position: absolute;
	right: 1em;
}
.auto-uncreated, .multiple-edit .auto-uncreated .place,.auto-more
{
	color: #999;
}

.auto-uncreated.creation-pending, .multiple-edit .auto-uncreated.creation-pending .place,.auto-more
{
	color: #222;
}

.auto-uncreated .moderation-message
{
	border: 1px solid transparent;
}
.auto-uncreated .create
{
	color: black;
	cursor: pointer;
}

.auto-more td
{
	text-align: center;
}

/** repetitions form manual **/

#repetition-suggest-dates-wrap
{
	float: right;
}
#repetition-suggest-dates-wrap p,
#repetition-suggest-dates-wrap ul
{
margin: 0;
}
#repetition-suggest-dates li
{
	cursor: pointer;	
}
#repetition-suggest-dates li:hover
{
	background-color: #ff0;
}

#repetitions-tabs-wrapper
{
	margin-top: 2em;
}
#repetitions-tabs-line>h2
{
	display: inline-block;
	border: 1px solid black;
	border-bottom: none;
	margin: 0;
	margin-right: .5em;
	font-size: 100%;
	color: #666;
	background-color: rgba(0,0,0,.2);
	cursor: pointer;
}

#repetitions-tabs-line>h2>span
{
	display: block;
	position: relative;
	padding: .4em 1em;
	z-index: 1;
}

#repetitions-tabs-line>h2.active>span
{
	background-color: @@desaturate($paletteBg2,20);
	color: black;
}

#repetitions-tabs-bodies
{
	border: 1px solid black;
	position: relative;
	top: -1px;		
}
#repetitions-tabs-bodies>div
{
	display: none;
	padding: 1em;
}
#repetitions-tabs-bodies>div.active
{
	display: block;
}


/** repetitions form automatic **/

#auto-body .form-item label
{
	display: inline-block;
	min-width: 13em;
}

#auto-body .description
{
	color: #666;
}

#edit-ruleData-time
{
	width: 5em;
}

#edit-ruleData-dayInMonth
{
	width: 5em;
}

#edit-organizerEmail
{
	width: 25em;
}

#group-log-title
{
	margin-bottom: 0;
}

#group-log
{
	margin-top: .2em;
	color: #666;
}

/************** repetition copy form ************/

.copyform table
{
	border-collapse: collapse;
}

#main-help
{
	font-style: italic;
}

#more-options
{
	margin-top: 3em;
}


.notEventAdmin .copyform td
{
	white-space: normal;
}


.copyform table
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.copyform th
{
	padding-right: 0;
}
.copyform th.rotate 
{ 
	position: relative;
	height: 2em;
}

.copyform th.rotate span
{ 
position: absolute;
-moz-transform: rotate(-45deg);
-moz-transform-origin: left;
}

.copyform tr,
#legend dt span
{
	background-color: #eee;
}


.no-changes-incompleteMessage .col-incompleteMessage
{
	display: none;
}

.col-htmlTitle
{
	text-overflow: ellipsis;
	overflow: hidden;
}

@media all and (max-width: 1250px){.col-htmlTitle{max-width: 500px;}}
@media all and (max-width: 1150px){.col-htmlTitle{max-width: 400px;}}
@media all and (max-width: 1050px){.col-htmlTitle{max-width: 300px;}}

#old-event,
#new-event,
#new-event-in-rep,
#legend #green span,
#legend #green-change span
{
	background-color: #dfd;
}

.copyform #old-event td,
.copyform #new-event td,
.copyform #new-event-in-rep td
{
	padding-left: 24px;
}

#new-event td.changed,
#new-event-in-rep td.changed,
#legend #green-change span
{
	color: #a50;
}

.copyform .repetition th,
#new-event-in-rep th
{
	font-weight: normal;
	padding-left: .2em;
	padding-right: 3px;
}

.copyform tr.firstFuture
{
	border-top: 2px solid black;
}

/* Too slow:
.copyform tr.repetition:hover td,
.copyform tr.repetition:hover th
{
	border-top: 1px solid #ff0;
	border-bottom: 1px solid #ff0;
}
*/

/*.copyform tr.repetition:hover
{
	border-left: 3px solid #ff0;
	border-right: 3px solid #ff0;
}
*/


/* all td's */
.copyform td,
#legend dt span
{
	border: 1px solid #aaa;
	padding: 1px;
	padding-right: 3px;
	white-space: nowrap;
}

.copyform td .form-checkbox
{
	margin-right: 0;
	margin-left: 5px;
}

.copyform table .form-item
{
	margin: 0;
	padding: 0;
}

/* changed fields */
.copyform .changed,
#legend #red span
{
	color: red;
}

.copyform .notchanged.noOldNewChange,
#legend #grey span
{
	background-color: #ddd;
	color: #777;
}
#event-change-title,
#repetitions-title
{
	background-color: transparent;
} 

#event-change-title td,
#repetitions-title td
{
	text-align: left;
	border: none;
	font-style: italic;
}

#repetitions-title td
{
	padding-top: 1em;
}

.repetition .form-item
{
	display: inline;
}

div.diff-wrap
{
	display: inline-block;
	cursor: pointer;
}
.copyform .popup-button
{
	display: inline-block;
	margin-left: .2em;
	position: relative;
	top: -6px;
}

.copyform .short
{
	display: inline-block;
	white-space: nowrap;
	max-width: 7em;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.html-diff
{
	white-space: normal;
	position: absolute;
	display: none;
	background-color: #ffa;
	border: 1px solid black;
	box-shadow:10px 10px 5px #888888;
	-moz-box-shadow:10px 10px 5px #888888;
	-webkit-box-shadow:10px 10px 5px #888888;
	color: black;
	padding: .5em;
	max-height: 300px;
	max-width: 600px;
	overflow: auto;
}
div.html-diff .diff
{
	color: red;
}

.copy-table-wrapper .togglecol
{
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}

#legend dd
{
	margin-top: .2em;
	margin-bottom: .5em;
	font-style: italic;
}
#legend dt span
{
	padding-right: .8em;
	min-width: 15em;
	display: inline-block;
}

td.copy-selected,
#legend span.copy-selected
{
	border: 6px solid #ff0;
}

/************** repetition_group_self_edit ************/


/************** repetition_group_confirm ************/

#repetition-group-confirm .confirm
{
	text-align: center;
}
.uncancelable .confirm
{
	color: #aaa;
}

#repetition-group-confirm .title
{
	padding: 0 .5em;
}

#confirm-top-message,
#uncancelable-message
{
	font-style: italic;
	color: #666;
}

#repetition-group-confirm .rule-end
{
	font-weight: bold;
}

#repetition-group-confirm .form-submit-buttons
{
	margin-top: 1em;
}

#repetition-group-confirm #edit-submit-wrapper
{
	margin-right: 4em;
}

/************** repetition groups list ************/

#repetition-groups-list table
{
	border-collapse: collapse;
}
#repetition-groups-list .rule-type-label th
{
	text-align: left;
	padding-top: .5em;
}
#repetition-groups-list a
{
	text-decoration: none;
}
#repetition-groups-list tr.inactive
{
	background-color: #aaa;
}

#repetition-groups-list .nb,
#repetition-groups-list .next
{
	text-align: right;
}

#repetition-groups-list .next
{
	color: #777;
}
