
#widget-head-wrapper .description
{ 
	width: inherit;
}
.changed #edit-embed
{ 
	border: 2px solid red;
}

#edit-embed,
#edit-embed-advanced
{ 
	position: absolute;
	left: 440px;
	top: 0px;
	width: 460px;
	height: 53px;
	font-size:12px;
}

#edit-embed-advanced-wrapper
{ 
	display:none;
}

#edit-embed-wrapper .description,
#edit-embed-advanced-wrapper .description
{ 
	width: 430px;
}

#widget-example-wrapper
{ 
	border-bottom: none;
}

#widget-example
{ 
	border: 2px outset black;
	background-color: white;
	margin-bottom: 1em;
}
#widget-example-content
{ 
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 15px;
}
.demosphere-widget h4
{
	color: inherit;
}


.colorpicker
{ 
	display: inline-block;
	background-color: #eee;
	border: 1px outset black;
	width: 195px;
}

body .ui-resizable-handle  
{
	z-index: 800;/*handles through, when dialog on top of it! (default is 99999)*/
}

body .ui-dialog
{ 
	font-size: 10px;
}
.colorpicker.ui-dialog-content
{ 
	padding: 0;
	margin:0;
}

.form-item-color input[type="checkbox"]
{
	position: absolute;
	left: 570px;
	top: 0;
}

.input-suggestion
{ 
	position: absolute;
	left: 575px;
	top: 0px;
}

.form-item,
.custom-field
{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.form-item:last-child 
{ 
	padding-bottom: 0;
	border-bottom: none;
}
.custom-field h4
{ 
	margin-top: .6em;
	margin-bottom: 0em;
}
.form-text,.form-color
{
	position: absolute;
	left: 290px;
	top: 0px;
	width: 280px;
}
.form-select
{ 
	position: absolute;
	left: 290px;
	top: 0px;
	width: 280px;
}
.description
{
	margin-top: 10px;
	color: #4d4d4d;
	font-style: italic;
	width: 530px;
	font-size: 13px;
}

.custom-field .description
{ 
	margin-top: .3em;
	margin-bottom: .3em;
}

.form-radios .form-item
{ 
	border-bottom:none;
	padding-bottom:0;
}

#add-event-date
{ 
	width: 8em;
}
#add-event-time
{ 
	width: 5em;
}
#add-event-url
{ 
	width: 35em;
}
#add-event-city
{ 
	width: 8em;
}
#add-event-title
{ 
	width: 42em;
}
#add-event button
{ 
	margin-left: 1em;
}
#add-event-result
{ 
	font-size: 80%;
	margin-top: .4em;    
}
#add-event-result strong
{ 
	margin-right: .5em;
}
#add-event-result span
{ 
	margin-right: 1em;
}

#select-events 
{ 
	font-size: 13px;
	margin-top: 1em;
	width: 815px;
}
#select-events .dcal .day
{ 
	width: 815px;
}
#select-events-loading
{
	height: 600px;
}

#select-events .month-line
{ 
	width: 775px;
}

body form .individual-events #select-events tr .uc_select.uc_no,
#select-events tr .uc_select,
#select-events.policy-0 tr.rules-not-ok .uc_select
{ 
	border-left: 7px solid #000;
}
body form .individual-events #select-events tr .uc_select.uc_yes,
#select-events.policy-0 .uc_select,
#select-events tr.private .uc_select
{ 
	border-left: 7px solid #0f0;
}

#select-events .dcal td.uc_select
{ 
	white-space: nowrap;
}

#select-events .dcal .uc_select
{ 
	width: 40px;
	font-size: 10px;
	border-right: 2px solid transparent;
}
#select-events .dcal .uc_select input
{ 
	margin:0;
	margin-left: 2px;
	margin-right: 2px;
}

#select-events .dcal tr td.uc_no
{ 
	background-color: #888;
}
#select-events .dcal tr td.uc_yes
{ 
	background-color: #8c8;
}
#select-events .dcal tr td.uc_wait
{ 
	background-color: yellow;
}

#select-events .dcal td.c2
{ 
	width: 600px;
	white-space: nowrap;
	overflow: visible;
}
#select-events .dcal td.c2 a
{ 
	color: black;
	text-decoration: none;
	line-height: 18px;
}
#select-events .dcal td.c3
{ 
	width: 95px;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	padding-right: 5px;
}

#select-events tr.rules-not-ok td.c0,
#select-events tr.rules-not-ok td.c1,
#select-events tr.rules-not-ok td.cx,
#select-events tr.rules-not-ok td.c2,
#select-events tr.rules-not-ok td.c3
{ 
	background-color: #aaa;
}


html.js fieldset.collapsible.collapsible-with-map .fieldset-wrapper
{ 
	overflow: visible;
}

#reset-wrapper .description
{
	display:none;
}
