#rss-url-builder-form .form-item
{
	margin-top:.5em;
	margin-bottom:.5em;
}

#rss-url-builder-form label
{
	display: inline;
/*	display: inline-block;
	min-width: 150px;*/
}
#rss-url-builder-form input[type="text"]
{
	width: 200px;
}
#rss-url-builder-form select
{ 
	max-width:200px;
}

body #rss-url-builder-form .mapcircle-distance-buttons
{
	position: static;
}
body #near-lat-lng-map-wrapper
{
	right:-320px;
	top: -100px;
}

