#header
{
	padding: 0px;
	margin: 0px;
	padding-top: 0px;
	/* so that top margins (for example in sitename) don't overflow */
	overflow: hidden;
}

.userCalendarSiteName
{
	font-size: 130%;
	min-height: 80px;
	width: 500px;
}
.userCalendarSiteName a
{
	display: block;
	text-decoration: none;
	color: $paletteFg;
	padding: 1em;
}

#main 
{
	margin:0px;
	padding:0px;
	padding-bottom: 20px;
	position: relative;
	display: flow-root; /* Force Block Formatting Context (BFC) to avoid margin problems. */
	overflow: hidden;   /* Old browsers don't support display: flow-root */
}

@supports (display: flow-root)
{
	#main{overflow: visible;}
}

#columnWrapper
{  
	clear: both;
}

/* Primary links (menu) */

#primary-links 
{
	text-align:right;
	padding:0;
	margin:0;
	padding-bottom: 2px;
	margin-right: 2px;
}

#primary-links li 
{
	display:inline-block;
	list-style:none;
	text-align:center;
	height: 33px;
	line-height: 33px;
	background-color: 	@@mix($paletteBg,$paletteBg2,75);
	-moz-border-radius: 36px;
	border-radius: 36px;
	border: 2px solid @@mix($paletteFg,'#fff',75);
	box-shadow: 2px 2px 3px rgba(10,10,10,.5);
	margin-right: 4px;
	overflow: hidden;
}
#primary-links li:hover
{
	background-color: @@mix($paletteBg,$paletteBg2,45);
}

#primary-links a 
{ 
	display: block;
	padding: 0 15px;
	color:$paletteFg;
	font-size:18px;
	text-decoration:none;
	white-space: nowrap;
	position: relative;
	z-index: 2;
}

#primary-links li a:hover 
{
	color:#300;
/*	background-color:#FFF;*/
	border-color:#300;
}

.clear-both 
{
	clear:both;
}

/* (top) right column */
#right
{ 
	position: absolute;
	right: 0em;
	top: 0em;
	text-align: right;
	width: 600px;
	padding-bottom: 4px;/* ie bug */
}

#rightInfo
{ 
	margin-right: .3em;
	padding-top: 15px;
}

#siteName
{
	width: 300px;
	margin-bottom: 23px;
}

.not-mobile #page-logo
{ 
	width: @@sprite_width('page-logo.svg')px;
	height: @@sprite_height('page-logo.svg')px;
	background-image: url(@@sprite('page-logo.svg'));
	background-position: @@sprite_bgpos('page-logo.svg');
	position: absolute;
	z-index: 0;
}
.not-mobile #siteName a
{ 
	display: block;
	text-decoration: none;
}
#siteName h1
{
	margin: 0;
	padding-top: 60px;
	white-space: nowrap;
}

#big-site-name
{
	min-width: 190px;
	display: inline-block;
	padding-left: 6px;
	padding-right: 0px;
	font-family: Delicious, Arial, sans-serif; 
	font-weight: normal;
	font-style: italic;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(255,255,255,.8);
	/* text shadow for IE <= 9 does not work. IE filters add ugly black outline that is not acceptable */
	color: $paletteFg;
	white-space: nowrap;
	/* site name on top of image, not under it */
	position: relative;
	z-index: 1;
}

#slogan
{
	display: inline-block;
	text-align: left;
	color: $paletteFg;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	padding-left: 10px;
	white-space: nowrap;
	position: relative;
	top: 3px
}


#siteName.user-calendar
{
	background-image: none;
	width: 490px;
	margin-left: .5em;
}
#siteName.user-calendar a
{
	width: 490px;
	font-size: 25px;
	text-decoration: none;
	color: $paletteText;
	line-height: 120px;
}

#politis-backlink 
{
	}
#politis-backlink a
{
	color: $paletteFg;
	text-decoration: none;
	padding-left: .5em;
	display: inline-block;
	padding-bottom:.5em;
}

#main
{ 
	margin-left: 0em;
}

#left ul
{ 
	padding-left: 1em;
}

#edit-message
{  
	height: 20em;
	width: 95%;
}


#userGreeting
{
	padding-right: .5em;
	font-size: 60%;
}

/** secondary-links (top right menu) ***/
#underPrimary
{ 
	text-align: right;
	margin-top: .6em;
}
#secondary-links
{ 
	display: inline;
	padding-left: 0;
	font-size: 12px;
}
#secondary-links.menu ul.menu
{
	position: relative;
	top: 6px;
}

#secondary-links li
{ 
	display: inline;
	padding: 0;
	padding-left: .5em;
	margin: 0;
}
#secondary-links li a
{ 
	/* border: 2px solid black;*/
	padding: .1em;
	text-decoration: none;
	color: black;
	white-space: nowrap;
}
#secondary-links li a:hover
{ 
	border-color: #777;
	color: #444;
}


#loginHelp 
{ 
	width: 50em;
}

/* all fields are required... so don't display red star */
#user-login .form-required,#user-register .form-required
{ 
	display: none;
}

#content-and-tabs
{
}

/* Default main content of page: color bg with rounded corners */
#content
{  
	padding: 10px;
	border: 2px solid $paletteFg;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: @@desaturate($paletteBg2,20);
	margin-bottom: 100px;
}

body.unPaddedContent #content
{
	padding: 0px;
	padding-bottom: 20px;
}

body.nonStdContent #content
{
	background-color: transparent;    
	border: none;
	padding: 0;
}

.mobile #content
{
	padding: 7px;
	padding-bottom: 5px;
	border: none;
	border-radius: 0;
}

.tabs.primary
{ 
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 30px;
	max-width: 80%;
	height: auto;
	line-height: normal;
	list-style: none outside none;
	padding: 0 0 0 1em;
	white-space: nowrap;
}

.tabs.primary li a
{ 
	background-color: #ddd;
	border-style: 1px solid #bbb;
	height: auto;
	margin-right: 0.5em;
	padding: 0 1em;
	text-decoration: none;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	padding-top: .2em;
}

.tabs.primary li 
{
	display: inline;
}
.tabs.primary {
	border-collapse: collapse;
	line-height: normal;
	list-style: none outside none;
	white-space: nowrap;
}

.tabs.primary li.active a
{ 
	border-bottom: 3px solid white;
	position: relative;
	z-index: 10;
	background-color: white;
	color: black;
	box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}

.messages
{
	background-color: #cfc;
	border: 1px solid black;
	padding:1em;
	overflow: hidden;
}

@media all and (max-width: 500px)
{
.messages
{
	padding:.5em;
}
.messages>ul
{
	padding-left: .5em;
}
}
.messages.single>ul
{
	padding-left: 0;
}

.messages.single>ul>li
{
	list-style:none;
}

.messages.error 
{
	border: 1px solid #d77;
	background: #fcc;
}

.messages.warning
{
	border: 1px solid #FAEBCC;
	background: #FCF8E3;
}

ul.links li 
{
	display: inline;
	list-style-type:none;
}

.big-event-link
{
	font-size: 14px;
	padding: 1em;
	padding-top: 0;
}

#content fieldset.collapsible>legend 
{
	background: linear-gradient(@@rgba(@@mix('#fff',$paletteFg,80),.3),@@rgba($paletteFg,.3));
}
#content fieldset.collapsible>legend:hover
{
	background: linear-gradient(@@rgba(@@mix('#fff',$paletteFg,80),.3),@@rgba(@@mix('#fff',$paletteFg,50),.3));
}

