/* changed places  */
#changed-places
{
	border-collapse: collapse;
	font-size: 14px;
}
#changed-places tr
{
	background-color: #f88;
}
#changed-places tr.ok
{
	background-color: #6f6;
}

#changed-places td:not(.link-icon-col)
{
	padding: 0 .5em;
}

/* setting for multiple-edit tables, rows, and cells */

table.multiple-edit 
{
	font-size: 14px;	
	border-collapse: collapse;
}

.multiple-edit  tr
{
	border-top: 1px solid #ccc;
}

.multiple-edit tr.first-future
{
	border-top: 4px solid black;
}

.pending-trash.multiple-edit tr.first-future
{
	border-top: 4px solid #aaa;
}

.multiple-edit td:empty
{
	padding: 0;
}


/* trash events: override red needs attention bg with black */
body .nattention-level-1.status-trash,
body .nattention-level-2.status-trash
{
	background-color: black;
}

.multiple-edit td
{
	white-space: nowrap;
	vertical-align:top;
}

/* editable (click to edit field) */
.multiple-edit .delayed-meditable 
{
	cursor: pointer;
}

.multiple-edit .delayed-meditable:hover,
.multiple-edit .meditable:hover
{
	background-color: #ff0;
}

input[type="text"].meditable-input
{
	min-width: 80px;
}

.time input[type="text"].meditable-input
{
	min-width: 3.2em;
}

/* flash a color using css3 transitions */

.multiple-edit .transition
{
	-moz-transition-property: background-color;
	-moz-transition-duration: .7s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .7s;
	transition-property: background-color;
	transition-duration: .7s;
}


/* icon link columns (edit, view, repetition copy) */
.link-icon-col
{
	padding: 0;
}

.link-icon-col a
{
	display: inline-block;
	width: 30px;
	height: 18px;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
}

.link-icon-col a span
{
	display: none;
}

.edit-link a
{
	background-image: url(@@file('images/edit.png'));
}

.view-link a
{
	background-image: url(@@file('images/view.png'));
}

.repetition-copy-link a
{ 
	background-image: url(@@file('images/copy.png'));
}

/* private/showOnFrontpage col */

.private .showOnFrontpage
{
	background-color: $paletteFg;
	color: white;
	font-weight: bold;
}
.public .showOnFrontpage span
{
	display: none;
}

.opinions a
{
	text-decoration: none;
	color: black;
}

/* moderation status col */

td.moderation-status 
{
	max-width: 70px;
	overflow: hidden;
}
td.moderation-status div
{
	border: 1px solid #aaa;
	padding-left: 2px;
	background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,0) 30%);
	background-image:      linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,0) 30%);
}

/* needs attention col */

td.needs-attention div
{
	border: 1px solid #aaa;
	padding-left: 2px;
	background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,0) 30%);
	background-image:      linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,0) 30%);
}

#wrap .small-needs-attention div
{
	display:inline-block;
	width: 12px;
	max-width: 20px;
	overflow: hidden;
	color: transparent;
}

.small-needs-attention div.editing
{
	max-width: 10px;
	overflow: visible;
}

.nattention-level-1 td.small-needs-attention div,
.nattention-level-2 td.small-needs-attention div
{
	background-color: white;
	border: 1px solid red;
	background:    -moz-radial-gradient(6px 8px, cover, rgb(255, 0, 0) 0%, rgb(255, 255, 255) 30%);
	background:         radial-gradient(6px 8px, cover, rgb(255, 0, 0) 0%, rgb(255, 255, 255) 30%);
}
.nattention-level-1 td.small-needs-attention div:hover,
.nattention-level-2 td.small-needs-attention div:hover
{
	background:    -moz-radial-gradient(6px 8px, cover, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 30%);
	background:			radial-gradient(6px 8px, cover, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 30%);
}

/* date time cols */

.multiple-edit td.date
{
}

td.demosphere_timestamp:hover
{
	background-color: #fa0;
}

.multiple-edit .date input
{
	max-width: 6em;
}

.multiple-edit .time
{
	max-width: 4em;
	min-width: 1.5em;
}

.multiple-edit .time,
.multiple-edit .day
{
	text-align: right;
}


/* message-and-title col */

.message-and-title
{
	min-width: 600px;
	white-space: nowrap;
}

.message-and-title-wrap
{
	width: 100%;
}

/* moderation message field */

.moderation-message
{
	border: 1px solid #aaa;
	vertical-align:top;
	white-space: nowrap;
	max-width: 130px;
	overflow: hidden;
	color: $paletteText;
	font-size: 13px;
	min-width: 1em;
	min-height: 17px;
	display: inline-block;
}

.nattention-level-2 .moderation-message
{
	color: black;
}


#message-popup,
#address-popup
{
	display: none;
	position: absolute;
	background-color: white;
	padding: 2px;
	border: 1px solid yellow;
	pointer-events:	none;
	color: $paletteText;
}

.moderation-message
{
}

.moderation-message .empty
{
	min-width: 1.5em;
}

.moderation-message.editing
{
	min-width: 20em;
}

/* title field */

.multiple-edit .title
{
	padding-left: .2em;
	max-width: 585px;
	min-width: 430px;
	min-height: 17px;
	overflow: hidden;
	vertical-align:top;
	display: inline-block;
}

.multiple-edit .title input
{
	font-size: 13px;
}

#title-length
{
	padding-left: 6px;
	color: red;
	position: absolute;
	white-space: nowrap;
	display: none;
	background-color: white;
	padding: .2em;
}

#title-length.show-msg
{
	display:inline;
}

#title-length-check
{
	display: none;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
}

/* place col */

.multiple-edit .place
{
	max-width: 80px;
	overflow: hidden;
	color: #555;
	padding-right: .2em;
}
.status-trash .place
{
	color: white;
}
.multiple-edit .place .address
{
	display: none;
}

/* topics col */

.multiple-edit .topics
{
	height: 10px; /* why? */
	line-height: 10px; /* why? */
	min-width: 15px;
}

.topic-icon
{
	display: inline-block;
	width: @@sprite_width('topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite("topic-chart.svg",'mobile.png'));
	background-color: white;
	background-repeat: no-repeat;
	background-position: 10000px 10000px;
	border: 1px solid white;
}

<?foreach($topicIcons as $tid=>$name){?>
.topic-icon.t$tid
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>

.multiple-edit .topics  
{
	position: relative; /* needed by js for select right:0 */
}

.topics option::before
{
	display: inline-block;
	content: '';
	vertical-align: middle;
	width:  @@sprite_width( 'topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite('topic-chart.svg','mobile.png'));
	margin-right: .5em;
	background-repeat: no-repeat;
	background-position: 10000px 10000px;
}

<?foreach($topicIcons as $tid=>$name){?>
body option[value="t$tid"]::before
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>



/* *********** pending events specific ********* */

#pending-events>h2
{
	margin-bottom: .2em;
}

#pending-events>p
{
	margin-top: .2em;
	margin-bottom: .2em;
}

/* *********** colors for moderation status ********* */

<? foreach(Event::$moderationStatusColors as $statusNb=>$color){ $status=Event::$moderationStatus_['values'][$statusNb] ?>

tr.status-$status,
tr.status-$status td.moderation-status div
{
	background-color: $color;
}

tr.status-$status:hover
{
	background-color: @@lighten($color,9);
}

.moderation-status option[value="$statusNb"]
{
	background-color: $color;
	border-right: 20px solid $color;
}

<?}?>


tr.status-trash,
tr.status-trash td.moderation-status div
{
	color: white;
}

tr.status-trash a,
option.status-trash a
{
	color: #aaf;
}

.moderation-status option[value="7"]
{
	color: white;
}

/* *********** colors for needs attention ********* */

option.nattention-level-1,
body tr.nattention-level-1 
{
	background-color: #fcc;
}

body tr.nattention-level-1:hover
{
	background-color: #fdd;
}


option.nattention-level-2,
body tr.nattention-level-2 
{
	background-color: #f88;
}

body tr.nattention-level-2:hover
{
	background-color: #fb9;
}

@media all and (max-width: 1150px)
{
.message-and-title
{
	min-width: 300px;
	overflow: hidden;
}
.pending-nattention .message-and-title
{
	min-width: 300px;
	overflow: hidden;
}
}

@media all and (max-width: 1150px){.message-and-title{max-width: 600px;}}
@media all and (max-width: 1030px){.message-and-title{max-width: 500px;}}
@media all and (max-width: 1150px){.pending-nattention .message-and-title{max-width: 500px;}}
@media all and (max-width: 1030px){.pending-nattention .message-and-title{max-width: 400px;}}
