#options .description
{
	display: none;
	position: absolute;
	width: 200px;
	padding: .5em;
	border: 1px solid black;
	background-color: #ffa;
	z-index: 20;
	box-shadow: #555 3px 3px 3px;
	-moz-box-shadow: #555 3px 3px 3px;
	-webkit-box-shadow: #555 3px 3px 3px;
	box-shadow: #555 3px 3px 3px;
	cursor: pointer;
}

.options-help
{
	cursor: pointer;
	background-color: @@mix('#fff',@@desaturate($paletteBg2,10),20);
	color: @@mix($paletteBg2,$paletteFg,50);
	-moz-border-radius: 15px;	
	border-radius: 15px;	
	border: 1px solid @@mix($paletteBg2,$paletteFg,50);
	font-size: 12px;
	padding: 1px 4px;
	position: relative;
	top: -1px;
}

.options-help:hover
{
	background-color: #fed;
}

/* map and map controls */

#near-lat-lng-formitems
{
	width: 345px;
}
#edit-near-lat-lng-distance-wrapper span.mapcircle-distance-buttons
{
	position: static; 
	white-space: nowrap;
}

#options #near-lat-lng
{
	border-bottom-style: none;
	padding-bottom: 0;
}

#edit-near-lat-lng-use-map-wrapper
{
	margin-top: 0;
}
#edit-near-lat-lng-distance-wrapper label,
#edit-near-lat-lng-latitude-and-longitude-wrapper label
{
	display: inline-block;
	width: 150px;
}
#edit-near-lat-lng-distance
{
	width: 110px;
}
#edit-near-lat-lng-latitude-and-longitude
{
	width: 110px;
}

#more-options
{
	padding-bottom: 0px;
	border-bottom: none;
}

#more-options-popup input[type=text]
{
	width: 130px;
}

#more-options-popup select
{
	width: 130px;
}

#demosphere-frontpage-options-form
{
	display: block;
}

#more-options-popup .form-item-select label
{
	display: inline-block;
	min-width: 300px;
}

#more-options-popup #near-lat-lng
{
	min-height: 300px;
}