
#widget-stats 
{
	border-collapse: collapse;
}

#widget-stats td,
#widget-stats th
{
	border: 1px solid black;
	padding: .2em;
}
#widget-stats td:nth-child(3)
{
	max-width: 20em;
}


/*****************************************/
/* email bounces */
/*****************************************/
#email-bounces td
{
	padding: .1em;
}
#email-bounces tr:hover
{
	background-color: #ff0;
}
#email-bounces td:nth-child(1) 
{
	max-width: 15em;
	overflow: hidden;
}

#email-bounces td:nth-child(2) a
{
	padding: .1em .5em;
	text-decoration: none;
	background-color: rgba(255,255,255,.5);
}

#email-bounces td:nth-child(4),
#email-bounces td:nth-child(5),
#email-bounces td:nth-child(6)
{
	text-align: right;
}