
/*************************************************************/
/***************** Aliases and mailboxes page ****************/
/*************************************************************/

#aliases-section td
{
	vertical-align: top;
}

#aliases-section .aofa-table td.aofa-col-dests:before
{
	content: '';
	position: absolute;
	left: -10px;
	top: 7px;
	width: @@sprite_width('right-arrow.svg')px;
	height: @@sprite_height('right-arrow.svg')px;	
	background-image: url(@@sprite('right-arrow.svg'));
	background-position: @@sprite_bgpos('right-arrow.svg');
}

#aliases-section .aofa-table td.aofa-col--key
{
	border-right: none;
	padding-right: 10px;
}
#aliases-section .aofa-table td.aofa-col-dests
{
	padding-left: 10px;
	word-break: break-all; 
	position: relative;
	border-left: none;
}
#aliases-section .aofa-table .aofa-col-comments
{
	max-width: 500px;
}

.aofa-table .aofa-col-type
{
	display: none;
}

#aliases-section .row-moderators td.delete span,
#aliases-section .row-contact td.delete span
{
	display: none;
}

#aliases-section .aofa-row-form.type-none .aofa-form-item-type
{
	display: none;
}


#mailboxes-section .aofa-form-items .aofa-form-item-type
{
	display: none;
}

.aofa-table .row-readonly>td.delete span,
.aofa-table .row-readonly>td.edit span
{
	display: none;
}
.aofa-table .row-readonly
{
	background-color: #ccc;
}


/*************************************************************/
/***************** emails_received_options  ****************/
/*************************************************************/

#emails-received-options #email-wrap.disabled
{
	background-color: #aaa;
	color: #777;
}