
/* Big top title with link to event */
.hdiff-col.event-hdiff-part .hdiff-title
{
    background-color: $tmDocEvent;
    color: white;
	padding: 0;
}

.hdiff-col.event-hdiff-part .hdiff-title a 
{
	color: white; 
	text-decoration: none;
	display: block;
	padding: 0 .5em;
}

/**********  event title   *************/

.event-hdiff-title .hdiff-html-inner p
{
	margin: 0;
}

.title-changed-date
{
	font-size: 70%;
	font-weight: normal;
}

/**********  event address   *************/

.event-hdiff-address .hdiff-html-inner h4
{
	margin: 0;
}

.event-hdiff-address .hdiff-html-inner p
{
	margin: 0;
}

/**********  event body, both for single part (text matching) and multipart    *************/

.event-hdiff-body .hdiff-html-inner 
{
	padding-left: 0;
	padding-right: 0;
}

.event-hdiff-body .hdiff-html-inner p,
.event-hdiff-body .hdiff-html-inner h2,
.event-hdiff-body .hdiff-html-inner h3,
.event-hdiff-body .hdiff-html-inner h4,
.event-hdiff-body .hdiff-html-inner ul,
.event-hdiff-body .hdiff-html-inner ol
{
	/* We can't use background because canvas underneath has to be visible */
	/* We use transparent border */
	border: 2px solid rgba(0,0,255,.1);/* #e1e8f1 */
	border-width: 2px 5px;
	margin: 0;
	padding-left: 7px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;

}

.event-hdiff-body .hdiff-html-inner ul
{
	padding-left: 20px;
}

.event-hdiff-body .hdiff-html-inner h2,
.event-hdiff-body .hdiff-html-inner h3,
.event-hdiff-body .hdiff-html-inner h4
{
	font-weight: normal;
	color: $paletteText;
	padding-left: 0;
}
.event-hdiff-body .hdiff-html-inner h2
{
	font-weight: bold;
}

