/****** Page with a single place on it **********/

.mobile #place-view
{
	padding: 0;
	width: auto;
	border: none;
	border-radius: 0;
}

#place-view.hasDescription .place-description-label
{
	margin: 0;
	position: absolute;
	top: 5px;
	left: 8px;
	z-index: 5;
	color: #ca8;
}
.mobile #place-view .place-description-label
{
	position: static;
}

#place-view #topTitle
{
	margin-bottom: 10px;
}

#place-view.hasDescription #topTitle
{
	margin-top: 20px;
	max-width: 576px;
}
#place-view.hasDescription .place
{ 
	top: 13px;
	left: 614px;
}
#place-view .place
{
	border-top-left-radius: 15px;
}
.mobile #place-view .place
{
	top: 0;
	left: 0;
	min-height: 0;
	width: auto;
}

#place-view .placeTopLeft
{
	display: none;
}
#place-view .moderator-info .small-title
{
	float: left;
	font-size: 11px;
	color: #777;
}

#place-view .moderator-info
{
	color: #b00;
	text-align: left;
	width: 576px;
	background-color: #eee;
}
#place-view .moderator-info h3
{
	clear: both;
	margin: 0;
}
#place-view .moderator-info p
{
	margin: 3px;
}
#place-view .moderator-info .more-contents
{
	display: none;
}

#place-view.noDescription .place
{
	left: 165px;
	min-height: 186px;
	position: relative;
	width: 650px;
}

.mobile #place-view .place
{
	left: auto;
	width: auto;
	border-radius: 0;
}

.mobile #place-view.noDescription .placeLabel
{
	color: $paletteFg;
	font-weight: bold;
}


#place-view.noDescription .place .address-text
{
	width: 300px;
}
.mobile #place-view .place .address-text
{
	width: auto;
}

#place-view.noDescription .place .mapimage
{
	position: absolute;
	top: 30px;
	right: 10px;
}
.mobile #place-view .place .mapimage
{
	position: static;
}

#place-view .place-events h2
{
	font-size: 19px;
	color: $paletteFg;
	margin-bottom: 5px;
}
#place-view .place-events table
{
	margin-left: 10px;
	border-collapse: collapse;
}
#place-view .place-events tbody
{
	border: none;
}

#place-view .place-events td
{
	padding-right: 5px;
}

.mobile #place-view .place-events td
{
	/* Google mobile usability complaint: too close */
	padding-top: .3em;
}

.mobile .place-events td:nth-child(1),
.mobile .place-events td:nth-child(5)
{
	display: none;
}

/* *********** colors for moderation status ********* */

<? foreach(Event::$moderationStatusColors as $mStatusNb=>$color){ $mStatus=Event::$moderationStatus_['values'][$mStatusNb] ?>

tr.mstatus-$mStatus
{
	background-color: $color;
}

<?}?>

tr.mstatus-published
{
	background-color: transparent;
}

/* *********** colors for needs attention ********* */

tr.nattention-level-1 
{
	background-color: #fcc;
}

tr.nattention-level-2 
{
	background-color: #f88;
}


tr.nattention-level-1.mstatus-rejected
{
	background-color: #aaa;
}
