
#Event #place
{ 
	width: 850px;
	min-width: 850px;
	border-radius: 6px;
	border: 1px solid #777;
	background-color: @@mix(@@desaturate($paletteBg2,20),'#fff',60);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	overflow: hidden;
	margin-right: 1em;
	margin-bottom: 4px;
}

/***************************************/
/* Place head  */
/***************************************/

#place-head
{
	margin:0;
	overflow: hidden;
	background: linear-gradient(@@mix(@@desaturate($paletteBg2,0),'#fff',10),
								@@mix(@@desaturate($paletteBg2,0),'#fff',90)),
	@@mix(@@desaturate($paletteBg2,20),'#fff',30);
	border-bottom: 1px solid #777;
	padding-top:  5px;
	padding-left: 5px;
	padding-right: 5px;
}
#place-head-first-line
{
	margin-bottom: .2em;
}

#place-head-label
{
	display: inline;
	margin: 0;
	margin-right: .5em;
}

/* suggest  */


#place-suggest
{ 
	margin-left: 3px;
	padding-left: 0;
}
#place-suggest img
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}

.only-variants #place-suggest
{
	display: none;
}

#place-suggestions-wrapper
{ 
	display: inline-block;
	margin-left: 4px;
	width: 550px;
}
#place-suggestions-wrapper.waiting
{ 
	background-color: #ff0;
	height: 1.3em;
}
#place-suggestions-wrapper select
{ 
	width: 550px;
}
#variants-selector-wrapper
{
	display: inline-block;
	width: 100px;
}
#variants-selector-wrapper select
{ 
	width: 120px;
}
#variants-search
{
	position: absolute;
	width: 12em;
}

/* change type  */

#edit-place-change-type-wrapper label
{
	font-weight: normal;
	display: inline;
}
#edit-place-change-type-wrapper .place-erase
{
	margin-left: 1em;
}

#edit-place-change-type-wrapper .place-erase img
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#edit-placeId-wrapper,
#Event #edit-referenceId-wrapper
{
	display: none;
}

#edit-place-change-type
{
	display: inline;
	margin-bottom: .4em;
}

#edit-place-change-type label,
#edit-place-change-type div
{  
	display: inline;
}

#edit-place-change-type input
{
	margin-right: 0px;
}
#edit-place-change-type .form-item
{
	margin-right: 10px;
}

#edit-place-change-type .place-change-type-none
{
	display: none;
}

/***************************************/
/* Place non map fields  */
/***************************************/



#place-fields
{
	position: relative;
	padding-bottom: .3em;
}

#place.readonly #place-fields
{
	background-color: rgba(0,0,0,.07);
}


#place-non-map-fields
{
	padding-left: 5px;
	padding-top: 7px;
}


#place input.place-erase
{
	position: absolute;
	z-index: 2;
}

#place input.place-erase:hover
{
	background-color: #ff0;
}

.only-variants .place-erase
{
	display: none;
}

#place-label
{
	position: absolute;
	margin-left: 20px;
	display: inline-block;
	min-width: 10em;
	color: #555;
	font-style: italic;
}

#place-label span
{
	display: none;
}

#place.new #place-more #place-more-x-x,
#place.not-used-elsewhere #place-more #place-more-p-r
{
	display: inline;
}

#edit-place-is-readonly-wrapper,
#edit-place-is-used-elsewhere-wrapper
{
	display: none;
}


#Event #place #edit-city-wrapper
{  
	text-align: right;
	margin-right: 235px;
}

#edit-city-wrapper
{
	margin-top: 0;
}

#edit-city-wrapper label
{  
	display: inline;
}

#edit-city
{
	width: 11em;
}

#city-field-prefix
{
	position: relative;
}

#citySelect
{ 
	width:1.3em;
	position: relative;
	left: -3px;
}


#edit-city-short-wrapper
{
	position: absolute;
	top: 4px;
	left: 620px;
	display: none;
	margin-left: .5em;
}

body.notEventAdmin #edit-city-short-wrapper
{
	display: none !important;
}

#Place #place #edit-city-short-wrapper
{
	top: -10px;
	left: 350px;
}

#edit-city-short-wrapper label
{
	display:inline;
}
#edit-city-short
{
	width: 100px;
}
#city-too-long-warning
{ 
	display: none;
	color: red;
	padding: 2px;
	position: absolute;
	background-color: white;
	left: 0px;
	top: -25px;
	height: 16px;
}

#Place #place #city-too-long-warning
{
	left: 132px;
}


#place.readonly input,
#place.readonly textarea,
#place.readonly #edit-place-suggest
{ 
	background-color: #ccc;
}
#place.readonly input.place-erase
{
	background-color: inherit;
}

#edit-address-wrapper
{
	position: relative;
	margin-bottom: 0;
}


#Place #place #edit-city-wrapper label,
#edit-address-wrapper label
{  
	display: inline;
	position: absolute;
}

#Place #place #edit-city,
#edit-address
{
	margin-left: 130px; /* 8em, strange fontsize problem */
}

#edit-address
{ 
	width: 470px;
	font-size: 14px;
}

#edit-address-wrapper textarea
{  
	vertical-align: middle;
}

#edit-address-wrapper .form-required,
#edit-city-wrapper .form-required
{ 
	display: none;
}

#Place #place
{
	padding: 1em;
}

/***************************************/
/* map */
/***************************************/
#map-button-wrapper
{
	position: relative;
}

#map-button
{ 
	width: 105px;
	height: 20px;
	line-height: 20px;
    font-weight: bold;
	position: absolute;
	margin-left: .35em;
	top: -24px;
	cursor: pointer;
	vertical-align: middle;
	overflow: hidden;
	background: url("../../dlib/menu-collapsed.png"),rgba(255,255,0,.2);
	background-repeat: no-repeat;
	background-position: 3px 8px;
	padding-left: 20px;
}

#map-button:hover
{
	background-color: #ff0;
}

.open-map #map-button
{ 
	background-image: url("../../dlib/menu-expanded.png");
}

#map-button span { font-size: 20px;font-weight: bold;} 
#map-ok   { display: none;color: green;vertical-align: middle; }
#map-notok{ display: inline;color: red; }
.map-is-enabled #map-ok   { display: inline; }
.map-is-enabled #map-notok{ display: none;   }


#map-links
{ 
	position: absolute;
	left: 725px;
	margin-top: .5em;
	z-index: 2;
	padding: 0;
}

#Place #map-links
{
	left: 745px;
	margin-top: 1.5em;
}

#map-fields
{ 
	position: relative;
	margin-top: 2px;
	padding: .5em;
	height: 430px;
}

#Event #map-fields
{ 
	display: none;
}


#Place #place #map-fields
{
	background-color: @@mix(@@desaturate($paletteBg2,20),'#fff',60);
	margin-bottom: 1em;
	width: 850px;
	padding-bottom: 1.5em;
}

#Event .open-map #map-fields
{ 
	display: block;
}

#map-coords
{ 
}

#map-block
{ 
	position: absolute;
	top: 10px;
	left: 200px;
}

#map-help
{ 
	position: absolute;
	left: 420px;
	color: #444;
	font-style: italic;
	width: 200px;
}

body.demosphere-firefox-extension .no-ffox-extension
{
	display:none;
}

#map-search input
{ 
	width: 300px;
}

#map-search-result-text
{ 
	position: absolute;
	left: -200px;
	top: 240px;
	border: 1px solid black;
	padding:.5em;
	width: 190px;
}
#map-search-result-text h4
{ 
	margin: .2em 0;
}

#map
{ 
	border: 1px solid black;
	width: 400px;
	height: 400px;
	margin-top: .2em;
}


/***************************************/

#edit-description-wrapper .error,
#edit-title-wrapper .error
{
	color: red;
}
