body .form-item
{  
	margin-top: .2em;
	margin-bottom: .2em;
}

fieldset.collapsible  legend
{
	min-width: 20em;
}

/**********************************/
/* top messages (repetition & help) */
/**********************************/

.repetition-edit
{ 
	font-size: 14px;
}

#repetition-head
{
	margin: 0 .5em;
	font-style: italic;
}

#non-admin-help-message
{
	font-size: 13px;
	text-align: center;
	margin: .2em;
}

/**********************************/
/****** top submit button *****/
/**********************************/

#edit-non-admin-submit
{
	float: right;
	color: #a00;
}

#edit-submit0
{
	display: none;
	color:red;
}

/**********************************/
/* title */
/**********************************/

#edit-title-wrapper label,
#edit-date-wrapper label,
#edit-date-deprecated-wrapper label
{  
	display: inline;
	position: absolute;
}

#edit-title 
{
	margin: 0 0 0 0;
	padding: 0;
	width: 82ex;
}

#edit-date,
#edit-date-deprecated,
#edit-title 
{ 
	margin-left: 130px; /* 8em, strange fontsize problem */
}

#edit-title-wrapper
{
	width: 100%; /* needed by ie8: strange? */
}

#title-field-wrap
{
	position: relative;
}

#edit-title-warn
{
	color: red;
}

#title-buttons
{
	display: none;
	background-color: #eaeaea;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
	padding: 2px;
	position: absolute;
	top: -33px;
	right: 2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#title-buttons button
{
    background-image: linear-gradient(to bottom, #fff, #d9d9d9);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	padding: 0;
	height: 27px;
	vertical-align: top;
}

#title-buttons button:hover
{
    background-image: none;
	background-color: white;
}


#title-bold span:before 
{
	/* a "B" letter in tinymce's font */
	content: "\e02a";
}

#title-bold span 
{
    text-shadow: 1px 1px #fff;
	display: inline-block;
	height: 18px;
    width: 16px;
    color: #333;
    font-size: 16px;
    font-family: 'tinymce',Arial;
	vertical-align: middle;
}

#title-downcase span
{
	display: inline-block;
	background-image: url(@@sprite('button-downcase.svg'));
	background-position: @@sprite_bgpos('button-downcase.svg');
	width: @@sprite_width('button-downcase.svg')px;
	height: @@sprite_height('button-downcase.svg')px;
}

#title-upcase span
{
	display: inline-block;
	background-image: url(@@sprite('button-upcase.svg'));
	background-position: @@sprite_bgpos('button-upcase.svg');
	width: @@sprite_width('button-upcase.svg')px;
	height: @@sprite_height('button-upcase.svg')px;
}


/**********************************/
/* date & time */
/**********************************/

#edit-date-wrapper,
#edit-date-deprecated-wrapper,
#edit-time-wrapper
{  
	display: inline;    
}
#edit-date-wrapper.not-supported
{
	display: none;
}

#edit-date-deprecated-wrapper
{
	display: none;
}

#edit-date-deprecated
{
	width: 12ex;
}
#edit-time
{
	width: 4em;
}

#parsed-dates-times-selectors
{ 
	display:inline;
}
#parsed-dates-times-selectors.waiting
{ 
	background-color: #ff0;
	width: 5em;
	min-height: 1em;
}

/**********************************/
/* events near date */
/**********************************/

#eventsNearDate
{ 
	font-size: 85%;
	color : black;
 /*   min-height: 4em;*/
	margin-top:  .1em;
	margin-bottom: .1em;
	/* border: 1px solid #333;*/
	/* background-color:$tmDocEvent;*/
       -moz-column-width: 40em;    
	-webkit-column-width: 40em;    
	        column-width: 40em;
	-moz-column-gap: 2px;
	-webkit-column-gap: 2px;
	        column-gap: 2px;
	-moz-column-rule: solid 2px;
	-webkit-column-rule: solid 2px;
	        column-rule: solid 2px;
}
#eventsNearDate .eventsNearDatePopupTitlebar
{ 
	display: none;
}

#eventsNearDate ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#eventsNearDate .deventMessage
{
	color: #600;
}

#eventsNearDate li
{ 
	margin: 0;
	overflow: hidden;
	white-space: nowrap;	
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0);
}

#eventsNearDate li:hover
{
	border-bottom: 1px solid red;
}

#eventsNearDate a
{ 
/*    margin-right: 1em;
	padding-right: 1em;*/
/*    border-right: 2px solid black;*/
	/*display: block;*/
	/* min-width: 400em; */
}
#eventsNearDate a
{  
	color: black;
	text-decoration: none;
}
#eventsNearDate .stpCity
{
	background-color: #eee;
	font-weight: bold;
	position: absolute;
	right: 0px;
}

/**********************************/
/* text-matching  */
/**********************************/

#text-matching
{ 
	margin-bottom: .2em;
	text-align: right;
}

#text-matching .tmInfo
{
	background-color: @@mix($paletteBg2,$paletteFg,93);
	display: inline-block;
	padding-left: .5em;
	padding-bottom: 3px;
}


/* source or pasted documents */
.tmMatch.extra:after {
	content: " * ";
}


/**********************************/
/* log button & log */
/**********************************/

#log-button-wrapper
{
	position: relative;
	top: -20px;
}

#log-button
{ 
	width: 10em;
	background-color: #eca;
	position: absolute;
	right: 1em;
	z-index: 2;
	height: 20px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #600;
	text-align: center;
	cursor: pointer;
	width: 5em;
}

#log-button:hover
{ 
	background-color: #ffa;
}

.open-log #log-button
{ 
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
}

#edit-log-add-wrapper
{
	/* hide log by default */
	display: none;
	border: 2px outset #600;
	background-color: #eca;
	padding: .5em;
	margin-top: 0;
}

.open-log #edit-log-add-wrapper
{
	display: block;
}

#edit-log-add-wrapper textarea
{ 
}

#edit-log-add
{
	width: 100%;
}

#log-display
{
	margin-left: 1em;
	background-color: rgba(255,255,255,.3);
	padding: .5em;
}

#log-display .event-log td
{
	vertical-align: top;
}

#log-display .event-log td:nth-child(1),
#log-display .event-log td:nth-child(2),
#log-display .event-log td:nth-child(3),
#log-display .event-log td:nth-child(4),
#log-display .event-log td:nth-child(5)
{
	color: #555;
}

#log-display .event-log td:nth-child(7)
{
	padding-left: .4em;
	white-space: pre;
}

#edit-body-wrapper label
{ 
	display: none;
}

/**********************************/
/* public-form */
/**********************************/

#place-and-public-form-info
{
	position: relative;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#public-form-info
{
	flex-grow: 1;
	width: 300px;
	min-width: 200px;
	background-color: @@darken(@@desaturate($paletteBg2,20),3);
	margin-top: 3px;
	padding-bottom: 0;
	overflow: hidden;
	box-shadow: .5px .5px 2px rgba(0,0,0,.5);
	margin-bottom: 17px; /* log button */
}

#public-form-info>h2
{
	margin: 0;
	font-size: 100%;
	color: $paletteText;
	text-align: center;
	background-color: rgba(50,0,0,.07);
	height: 20px;
}

#public-form-info-contents
{
	padding: .2em;
}

#public-form-info h3
{
	display: inline-block;
	min-width: 7em;
	margin: 0;
	vertical-align: top;
	font-size: 100%;
}
#public-form-info p
{
	display: inline-block;
	margin: 0;
	margin-bottom: .3em;
	margin-left: .4em;
}

#public-form-info #tech-data
{
	display: block;
	font-size: 10px;
	color: #666;
	text-align: right;
	margin: .2em 0;
}

/**********************************/
/* body editor (tinymce) */
/**********************************/

#edit-body-wrapper
{  
	margin-left: 1em;
	margin-top:  .3em;
}

.IE #edit-body-wrapper
{
	margin-top:  0;
}

#edit-body
{ 
	width: 100%;
	height: 30em;
	resize:none;
}

#edit-body-wrapper .mce-tinymce.error
{  
	border: 1px solid red;
}

/**********************************/
/* topics & terms */
/**********************************/

#edit-topics-wrapper
{
	float: left;
	margin-right: 25px;
}

#edit-topics
{ 
	max-height: 14em;
	overflow-y: auto; /* not supported on ffox */
}

#edit-topics option::before
{
	display: inline-block;
	content: '';
	vertical-align: middle;
	width:  @@sprite_width( 'topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite('topic-chart.svg','mobile.png'));
	margin-right: .5em;
	background-repeat: no-repeat;
	background-position: 10000px 10000px;
}

<?foreach($topicIcons as $tid=>$name){?>
#edit-topics option[value="$tid"]::before
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>


.form-item.vocab-wrapper
{
	margin-bottom: .6em;
}

/**********************************/
/* Emails */
/**********************************/

.emailfieldset
{ 
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}

#edit-event-email-address-wrapper
{
}

#edit-event-email-address
{
	width: 450px;
}

#email-suggestion
{ 
	display: inline;
}

#email-suggestion>ul
{
	display: inline;
	padding-left: 0em;
	margin-left: 1em;
	white-space: normal;
	word-break: break-all;
}

#email-suggestion>ul li
{
	display: inline-block;
	margin-left: .5em;
	white-space: nowrap;	
}
#email-suggestion>ul .email-arrow
{
	display: inline-block;
	vertical-align: middle;
	width: @@sprite_width('left-arrow.svg')px;
	height: @@sprite_height('left-arrow.svg')px;
}

#email-suggestion>ul li:hover .email-arrow
{
	background-image: url(@@sprite('left-arrow.svg'));
	background-position: @@sprite_bgpos('left-arrow.svg');
}

#email-suggestion>ul .email-button
{
	background-color: #D2C1B0;
	display: inline-block;
	border: 1px solid @@darken('#D2C1B0',20);
	padding: .2em .5em;
	cursor: pointer;
	border-radius: 4px;
}

#email-suggestion>ul .email-button:hover
{
	background-color: @@lighten('#D2C1B0',10);	
	border-color: #444;
}

#email-suggestion>ul li.t1 .email-button
{
	background-color: #edf;
}
#email-suggestion>ul li.t2 .email-button
{
	background-color: #ff0;
}

#emails-and-history
{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

/* eventEmails  */

#eventEmails
{
	margin-right: 15px;
	padding-left: 2em;
	list-style: none;
	width: 630px;
}
.eventEmailHead div
{
	display: inline;
}

.eventEmailTitle
{
	padding-left: 10px;
	background-image: url("../../dlib/menu-collapsed.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
}

.eventEmail.open .eventEmailTitle
{
	background-image: url("../../dlib/menu-expanded.png");
}

.eventEmailDetails
{
	display: none;
	margin-left: 1.5em;
	padding: .3em 1em;
	background-color: rgba(255,255,255,.2);
}

.eventEmailDetails .form-item-textfield input
{
	width : 573px;
}

.eventEmailDetails textarea
{
	width : 573px;
}


.eventEmailOptionWrapper
{
	border: 1px solid #aaa;
	margin-left: 1em;
	padding: 0 .5em;
}

#edit-event-emails.collapsible
{ 
	padding: 0;
}
#edit-event-emails.collapsed
{ 
	border: none;
}

/* email history */

#email-history
{
	flex-grow: 1;
	width: 400px;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
	background-color: @@mix($paletteBg,$paletteBg2,50);
	padding: .6em 0;
	border: 1px solid @@mix($paletteBg,$paletteBg2,100);
}

#email-history h4
{
	margin-top: 0;
	margin-bottom: .5em;
	padding: 0 .4em;
}

#email-history>ul
{
	list-style: none;
	margin-top: .5em;
	margin-bottom: 0;
	padding-left: 0;
}

.email-history-email
{
	margin-top: .2em;
	border-top: 1px solid @@mix($paletteBg,$paletteBg2,100);
}

.email-history-email .first-line
{
	padding-left: 3px;
	background-color: $paletteBg;
}
.email-history-email .date
{
	color: @@mix('#000',$paletteFg,65);
	padding-left: .4em;
	margin-left: -3px;
	margin-right: 3px;	
}

.email-history-email .mail-import
{
	background-color: $mailColor;
	padding: 0 .2em;
	color: black;
	text-decoration: none;
	margin-right: 3px;	
}
.email-history-email.type-mail-import .date a
{
	color: black;
	text-decoration: none;
}
.email-history-email.type-mail-import .date a:hover
{
	text-decoration: underline;
}

.email-history-email .right-arrow
{
	display: inline-block;
	vertical-align: middle;
	background-image: url(@@sprite('right-arrow.svg'));
	background-position: @@sprite_bgpos('right-arrow.svg');
	width: @@sprite_width('right-arrow.svg')px;
	height: @@sprite_height('right-arrow.svg')px;	
}

.email-history-email .subject
{
	color: #555;
	cursor: pointer;
}

.email-history-email .body
{
	padding: 4px;
	display: none;
	background-color: @@mix(@@mix($paletteBg,$paletteBg2,50),'#fff',30);
	max-height: 300px;
	overflow: auto;
}

.email-history-email .open-button
{
	display: inline-block;
	text-align: center;
	padding: .1em 0;
	width: 1em;
	color: black;
	background-color: @@lighten(@@mix($paletteBg,$paletteBg2,50),5);
	margin-right: 3px;
}
.email-history-email.open .open-button::before
{
	content: "-";
}
.email-history-email .open-button::before
{
	content: "+";
}

.email-history-email .subject:hover .open-button
{
	background-color: #ff0;
}


/* self edit */

#self-edit-popup
{
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #eee;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	padding: .5em;
	z-index: 4;
	font-size: 80%;
}

#self-edit-popup h4
{
	margin: 0;
}

#self-edit-list
{
	clear: both;
}

.self-edit
{
	cursor: pointer;
}
.self-edit:hover
{
	background-color: #ff0;
}


/**********************************/
/* status */
/**********************************/

#edit-moderation
{
	clear: both;
}
#edit-moderationStatus-wrapper
{
	width: 300px;
	overflow: hidden;
	white-space: nowrap;
}

#edit-moderationStatus
{
	margin-top: .3em;
	margin-bottom: 0;
}

#edit-incompleteMessage
{
	display: none;
}
.mce-tinymce.mce-tinymce-inline
{
	margin-left: 250px;
}
#incomplete-message-html
{
	min-height: 2em;
	width: 400px;
	border: 1px inset;
	border-color: #ccc; 
	background-color: white; 
	border-radius: 3px;
}
#incomplete-message-html p
{
	margin: .6em;
}

#incomplete-message-html p:first-child
{
	margin-top: .3em;
}
#incomplete-message-html p:last-child
{
	margin-bottom: .3em;
}

#incomplete-message-html.error
{
	border: 1px solid red;
}

#edit-moderationMessage-wrapper
{
	position: absolute;
	left: 340px;
	width: 300px;
	z-index: 1;
}

#edit-moderationMessage
{
	width: 265px;
	font-size: 13px;
}
#moderation-message-select
{
	position: absolute;
	z-index: 1;
	width: 1em;
}

#edit-needsAttention-wrapper
{
	position: absolute;
	left: 660px;
}


/* *********** colors for moderation status ********* */

<? foreach(Event::$moderationStatusColors as $statusNb=>$color){ $status=Event::$moderationStatus_['values'][$statusNb] ?>

#edit-moderationStatus .status-$status
{
	background-color: $color;
}

<?}?>

#edit-moderationStatus .status-trash
{
	color: white;
}
#edit-moderationStatus .status-trash a
{
	color: #aaf;
}

/* *********** colors for needs attention ********* */

#edit-needsAttention-menu  .nattention-level-1,
#edit-needsAttention-button.nattention-level-1
{
	background-color: #fcc;
}

#edit-needsAttention-menu  .nattention-level-2,
#edit-needsAttention-button.nattention-level-2
{
	background-color: #f88;
}

/**********************************/
/* extra options */
/**********************************/

.extra-options .form-item
{
	border-bottom: 1px solid #eee;
	padding: 1em 0;
}
#edit-post-on-other-site .form-item-checkbox
{
	padding: 0;
	border: none;
}

/**********************************/
/* submit */
/**********************************/

.form-submit-buttons
{
	clear: both;
	margin-top: .5em;
}

#submit-message
{
	font-size: 150%;
	text-align: center;
	color: white;
	position: fixed;
	top: 100px;
	left: 20%;
	background-color: #8d8;
	width: 300px;
	border: 2px solid #0d0;
	-moz-box-shadow: #555 10px 10px 10px;
	-webkit-box-shadow: #555 10px 10px 10px;
	box-shadow: #555 10px 10px 10px;
	padding: .6em;
	z-index: 10;
}

