/* CSS common to all mobile pages, including frontpage */

input
{
	font-size: 16px;
	max-width: 93vw;
}
select
{
	max-width: 93vw;
}

#wrap
{
	overflow-x: hidden;
}

/* ***************** mobile menu */

#mobile-menu-button
{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
	display: inline-block;
	background-color: $paletteBg2;
	width: @@sprite_width('menu32.svg')px;
	height: @@sprite_height('menu32.svg')px;
	background-image: url(@@sprite('menu32.svg'));
	background-position: @@sprite_bgpos('menu32.svg');
}

#mobile-menu-button.show-menu
{
	background-color: #ffa;	
}

#mobile-menu
{
	position: absolute;
	z-index: 10;
	right: -200px;
	top: @@sprite_height('menu32.svg')px;
	background-color: white;
	padding: 0em;
	box-shadow: 0 0 10px rgba(0,0,0,.9);
	visibility: hidden;
	overflow: hidden;
	transition: height .3s,visibility .3s,right .3s;
	max-width: 100%; /* needed for js height computation */
}
#mobile-menu.show-menu
{
	right: 0;
	visibility: visible;
}

#mobile-menu a
{
	color: $paletteFg;
}

#mobile-menu>ul
{
	padding: 0;
	list-style: none;
	margin: 0;
}

#mobile-menu li
{
	border-top: 1px solid #aaa;
	clear: both;
	position: relative;
}

.mobile-menu-link
{
	padding: 1em;
	text-align: center;
	display: block;
	text-decoration: none;
}

#mobile-menu-topics
{
	font-size: 0px;
	text-align: center;
	max-height: 69px;/* 2 lines: 2*34.5 */
	overflow: hidden;
}
.mobile-menu-topic
{
	font-size: 16px;
	padding: 9px;
	display: inline-block;
	box-shadow: 0 0 1px #ddd; 
}

.mobile-menu-topic::before
{
	text-align: center;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: @@sprite_width(  'topic-chart.svg','mobile.png')px;
	height: @@sprite_height('topic-chart.svg','mobile.png')px;
	background-image: url(@@sprite('topic-chart.svg','mobile.png'));
}

<?foreach($topicIcons as $tid=>$name){?>
#topic-$tid::before
{
	background-position: @@sprite_bgpos($name,'mobile.png');
}
<?}?>

#topic-others::before
{
	background-image: none;
	border: 1px solid black;
	height: 7px;
	width: 7px;
	border-radius: 2px;
}
#nearby-line
{
	white-space: nowrap;
	overflow: hidden;
}

#nearby-line>span
{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 .6em;
	border-right: 1px solid #aaa;
	vertical-align: middle;
}

#nearby-line>span.waiting
{
	background-color: #ff0;
	background-image: url('/demosphere/css/images/waiting.gif');
	background-repeat: no-repeat;
}

#nearby::before
{
	text-align: center;
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: @@sprite_width(  'map-point.svg')px;
	height: @@sprite_height('map-point.svg')px;
	background-image: url(@@sprite('map-point.svg'));
	background-position: @@sprite_bgpos('map-point.svg');
	margin-right: .3em;
}

#search-line
{
	padding: .4em .4em;	
	text-align: right;
	white-space: nowrap;
}

#search-field
{
	padding: .3em;
	vertical-align: middle;
}

@media all and (max-width: 340px)
{
#search-field
{
	max-width: 200px;
}	
}

#search-submit
{
	vertical-align: middle;
	white-space: nowrap;	
}

#search-submit::before
{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: @@sprite_width('fp-search.svg','mobile.png')px;
	height: @@sprite_height('fp-search.svg','mobile.png')px;
	background-image: url(@@sprite('fp-search.svg','mobile.png'));
	background-position: @@sprite_bgpos('fp-search.svg','mobile.png');
	padding: 0;
	border: none;
}


