.dcal
{
	clear: right;
	margin:0;
	padding: 0;
	white-space: nowrap;
}

.dcal>.day
{ 
	width:704px;
	margin:0;
	padding: 0;    
	padding-bottom: 8px;
	overflow: hidden;
	margin-bottom: 36px;
	-moz-border-radius: 9px 9px 14px 14px;
	border-radius: 9px 9px 14px 14px;
	-moz-box-shadow:    3px 6px 8px rgba(0,0,0,.42);
	-webkit-box-shadow: 3px 6px 8px rgba(0,0,0,.42);
	box-shadow:         3px 6px 8px rgba(0,0,0,.42);
	background: white;
	@@linear_gradient("to top",@@mix(@@desaturate($paletteBg2,20),'#fff',65),'0%','white','140px');
	background-position:  bottom;
}

.dcal.highlightTopic>.day
{
	background: #ddd;
}

.month-line
{
	font-size:42px;
	font-weight:bold;

	margin:.8em 0 .8em 0;
	padding:3px;
	padding-right:37px;
	text-align:center;

	<? $monthBg=$isLightBg ?  @@desaturate($paletteBg2,20) : @@mix($paletteBg,'#fff',90) ?>
	<? $monthFg=$isLightBg ?  @@mix($paletteFg,$paletteBg,50) : '#fff' ?>
	color: $monthFg;

	background-color: $monthBg;

	@@linear_gradient("to bottom",'rgba(255,255,255,.4)','1%','rgba(255,255,255,0)','20%',true);

	-moz-box-shadow:    2px 3px 3px #555;
	-webkit-box-shadow: 2px 3px 3px #555;
	box-shadow:			2px 3px 3px #555;

	width: 664px;
	position: relative;
}

.month-line span,
.month-line a.ret
{
	color: @@mix($monthFg,$monthBg,20);
}
.month-line span
{
	position: absolute;
	right: 20px;
}
.month-line a.ret
{ 
	text-decoration: none;
	position: absolute;
	left: 20px;
}
.month-line a.ret:hover
{ 
	color: #fff;
}

.dcal h3
{
	height: 20px;
	color: white;
	background-color: $paletteFg;
	font-size:17px;
	font-weight:bold;
	margin:0px;
	padding:0px;
	position: relative;
}

/* CSS triangle trick, using borders */
.dcal h3::before
{
	content: '';
	width: 0; 
	height: 0; 
	border-left:  7px solid transparent;
	border-right: 7px solid transparent;  
	border-top:   7px solid $paletteFg;
	position: absolute;
	bottom: -7px;
	left: 23px;
}

.dcal h3 .specialDay
{
	color: white;
	font-weight: normal;
	font-style: italic;
	margin-left: 10px;
}
.dcal .wday
{ 
	position: absolute;
	right: 336px;
}
.dcal h3 .month
{ 
	color: @@mix($paletteFg,'#fff',50);
	right: 11px;
	position: absolute;
}


.dcal table
{
	border-collapse:collapse;
	margin: 0;
	table-layout:fixed;
	width:704px;
	overflow: hidden;
}

.dcal hr.week
{
	border: 0px solid #e4c5a6;
	color: #e4c5a6;
	height: 10px;
	background-image: -moz-radial-gradient(center 45deg, ellipse closest-side,  white -80%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 5, from(rgba(255,255,255,.8)), to(rgba(255,255,255,0)) );
	position: relative;
	top: -14px;
	left: -30px;
	width: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

.dcal hr.week+.day
{
	margin-top: 0;
}

.IE6 .dcal hr.week,
.IE7 .dcal hr.week
{
	display: none;
}

/********** Rows ************/

.dcal tr
{ 
}

.dcal tr td
{ 
	border-top: 1px solid #ddd;
}

.dcal tr:hover
{
	background-color: $paletteBg2;
}

.dcal table
{ 
	margin-top: 7px;
}

.dcal tr.contributor
{
	background-color: #f88;
}

.dcal tr.rejected
{
	background-color: #666;
}

.dcal tr.rejected td,
.dcal tr.rejected a
{
	color: white;
}

/*** Topic : highlighting / greying of whole line ***/

.dcal tr.sel_t
{
	background-color: white;
}

.dcal tr.xs
{
	background-color: #ddd;
	color: #999;
}

.dcal tr.xs td
{
	color: #999;
}

.dcal tr.xs a
{
	color: #999;
}


/********** Columns ************/


.dcal td
{
	line-height: 18px;
	font-size:13px;
	vertical-align:middle;
	overflow: visible;
}

.dcal td>a
{
	color: #333;
	text-decoration:none;
	display: block;
	width: 100%;
}


/*** Event time column ***/

.dcal .c1
{
	color:#555;
	width:33px;
	padding:0px;
	padding-left: 2px;
}

.dcal.useLongTime .c1
{
	width:47px;	
}

/*** Topic column ***/

.dcal .c0:hover
{ 
	background-color: #f77;
}
.dcal .t322 .c0:hover
{ 
	background-color: inherit;
}
.dcal .c0
{ 
	padding: 0;
	margin: 0;
	width: 13px;
}

.dcal .c0::before
{ 
	content: '';
	display: block;
	padding: 0;
	margin: 0;
	width: @@sprite_width('topic-chart.svg')px;
	height: @@sprite_height('topic-chart.svg')px;
	background-image: url(@@sprite("topic-chart.svg",'frontpage.png'));
	background-position: 10000px 10000px;
	background-repeat: no-repeat;
}

<?foreach($topicIcons as $tid=>$name){?>
.dcal .t$tid .c0::before
{
	background-position: @@sprite_bgpos($name,'frontpage.png');
}
<?}?>

/*** Dayrank column *****/

.dcal .cx,
.dcal .cx::before
{ 
	width:  @@sprite_width('fp-dayrank1.svg','frontpage.png')px;
	height: @@sprite_height('fp-dayrank1.svg','frontpage.png')px;
	padding:0px;
}
.dcal .cx::before 
{
	content: '';
	display: block; 
}

.dcal tr.dr1 .cx:hover,
.dcal tr.dr2 .cx:hover
{ 
	background-color: #f77;
} 

.dcal tr.dr1 .cx::before,
.dcal tr.dr2 .cx::before
{ 
	background-image: url(@@sprite('fp-dayrank1.svg','frontpage.png'));
}

.dcal tr.dr1 .cx::before
{ 
	background-position: @@sprite_bgpos('fp-dayrank1.svg','frontpage.png');
}
.dcal tr.dr2 .cx::before
{ 
	background-position: @@sprite_bgpos('fp-dayrank2.svg','frontpage.png');
}


/*** Event title column ***/

.dcal .c2>a
{
	font-weight: bold;
}

.dcal .c2>a>strong
{ 
	color: #990100;
}

.dcal .c2>a:visited
{
	color: #558;
}

.dcal .c2>a:visited>strong
{
	color: #733;    
}

/*** City column ***/

.dcal .c3
{
	color:#555;
	padding-left:0;
	padding-right:3px;
	width:92px;
	text-align: right;
	overflow: hidden;
}

.dcal .c3>a,.dcal .c1>a
{
	padding-left: 0;
}

.dcal td.c3>a:visited
{
	color: #333;
}

.dcal .c3:hover
{
	text-decoration: underline;
}

/*** Order by last big changes ***/

.dcal.changes h2
{
	display: none;
}

.dcal.changes .specialDay
{
	display: none;
}

.dcal.changes h3 .wday
{ 
	position: static;
	margin-left: .5em;
}

.dcal.changes h3 .month
{ 
	color: white;
	position: static;
}

.dcal.changes hr.week
{
	display: none;
}
