/********* Place as shown on event pages  ********/

.place
{ 
	position: absolute;
	left: 596px; 
	top: 0px;
	width: 360px; 
	min-height: 80px;
	font-style: normal; 
	font-size: 16px;
	border-left: 1px solid #aaa;
	background-color: #f2f2f2;
	border: 1px solid #8f8f8f;
	margin: 0;
	padding: 0;
	padding-bottom: 3px;
	z-index: 0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

.mobile .place
{
	position: relative;
	min-height: 0;
	width: auto;
	overflow: hidden;
	left: 0;
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.place h3
{ 
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
	font-weight: normal;
}

.place .placeLabel
{ 
	color: #808080;
	margin-left: 8px;
	font-size: 20px;
	position: relative;
	z-index: 1;
	top: 3px;
}

.place .city
{
	position: absolute;
	right: 12px;
	top: 3px;
	color: @@mix($paletteFg,'#8F8F8F',50);/* #d4a26f;*/
}

.place .placeLabel,
.place .city,
.place .address-text a,
.place .place-links a
{
	text-decoration: none;
}


.place .placeLabel:hover,
.place .city:hover,
.place .address-text a:hover,
.place .place-links a:hover
{
	text-decoration: underline;
}

.place .address-text
{ 
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
}
.place .address-text a
{
	color: black;
}

.place .mapimage
{ 
	margin: 0;
	text-align: center;
	padding:0;
}

.place .mapimage-link
{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	line-height: 100%;
}


.place .mapimage img
{ 
	color: @@mix($paletteFg,'#8F8F8F',50);/* only shown if broken img link */
	font-weight: normal;    
	text-decoration: none;
	border: 1px solid #aaa;
	vertical-align: middle;
}

@media all and (max-width: 322px)
{
.mobile .place .mapimage img
{
	border-left: none;
	border-right: none;
}
}
@media all and (max-width: 320px)
{
.mobile .place .mapimage img
{
	width: 100%;
	height: auto;
}
}

.place .no-map-warning
{
	color: red;
	padding: 0 10px;
	margin: 0;
	font-size: 11px;
}
.place .no-map-warning-sub
{
	color: red;
	font-size: 9px;
	line-height: 9px;
	padding: 0 5px;
	margin: 0;
	margin-left: 10px;
}

.place .place-links
{
	margin: 0;
	margin-left: 19px;
	margin-right: 19px;
	font-size: 12px;
	position: relative;
	z-index: 30;
	text-align: right;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.place .place-links a
{
	color: #666;
}

.place .place-links .place-description-link
{
	color: #222;
}


.placeTopLeft
{ 
	position: absolute;
	display: block;
	background-color: #f2f2f2;
	width: 16px;
	height: 49px;
	left: -15px;
}
.placeTopLeft span
{
	display: block;
	width: 14px;
	height: 15px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #8f8f8f;
	border-right: 1px solid #8f8f8f;
	border-top-right-radius: 15px;
}

.not-published .placeTopLeft span
{
	background-color: #FFDDDD;
}
