#archive
{
	margin-bottom: .6em;
}
#archive h4
{
	margin-top: .4em;
	margin-bottom: .4em;
}
#archive h4 span
{
	font-weight: normal;
}
#archive h4 strong
{
	font-weight: normal;
	color: $paletteFg;
}
#archive table
{
	border-collapse: collapse;
	margin: 0 auto;
}
#archive td,
#archive th
{
	border: 1px solid $paletteFg;
	border-style: solid none;
	padding: 2px;
}
#archive th
{
	padding-right: 10px;
}

#archive td a
{
	display: block;
	text-decoration: none;
	color: #333;
}
#archive td.future a
{
	color: #888;
}

#archive td a:hover
{
	background-color: #5f5;
}

#archive-current
{
	background-color: #3d3;
}
#archive-now
{
	background-color: #FAE5CC;
}