/************* single feed view ************/

#feed-blocks
{
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

#feed-blocks>div
{
	margin: .5em;
    background-color: #e3e3ff;
	padding: .7em;
	flex: auto;
}

#feed-blocks>div>ul
{
	margin:0;
	padding: 0;
	list-style: none;
}

#feed-blocks>div>ul>li
{
	margin-bottom: .5em;
}

#info-block
{
}

#info-block .url
{
	white-space: nowrap;
	display: inline-block;
	max-width: 400px;
	max-height: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}
#info-block .url-info span
{
	display: block;
}

#info-custom-code 
{
	display: inline-block;
}
#info-custom-code>span
{
	cursor: pointer;
}
#info-custom-code>pre
{
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ddf;	
	position: absolute;
	z-index: 10;
	box-shadow: 1px 1px 1px rgba(0,0,0,.5);
	border: 1px solid black;
	margin: 0;
	padding: .5em;
}

.selector li>span
{
	font-family: monospace;
	margin-left: 1em;
}

#status-block
{
	width: 300px;
}

#status-line
{
	font-size: 120%;
	margin-bottom: .5em;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around; 
}

#status-line .indicator
{
	padding: .2em;
	text-decoration: none;
	color: black;
}
#status-line .indicator[href]:hover
{
	background-color: rgba(255,255,0,.3);
}
#error-message
{
	display: block;
	background-color: rgba(255,0,0,.1);
	padding: .1em;
	text-align: center;
	margin-bottom: .3em;
	color: black;
	text-decoration: none;
}
#error-message:hover
{
	background-color: rgba(255,0,0,.3);
}
#feed-blocks #screenshot-block
{
	padding: 0;
	background-color: transparent;
	max-width: 150px; /* avoid stretch by flex */
}

#feed-blocks #screenshot-block img
{
	box-shadow: 1px 1px 3px rgba(0,0,0,.7);
}

#latest-finished h4
{
	margin-top: 0;
	margin-bottom: .2em;
}
#latest-finished table
{
	border-collapse: collapse;
}
#latest-finished tr
{
	background-color: #aaa;
}
#latest-finished tr a
{
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
	padding: .2em;
	color: black;
	text-decoration: none;
}
#latest-finished tr a:hover
{
	background-color: #ddd;
}

#feed-action-line
{
	padding-left: .5em;
	position: relative;
	top: -.5em;
}

#finish-feed-articles
{
	display: inline;
}

#finish-feed-articles::before 
{
	width: @@sprite_width('close.svg')px;
	height: @@sprite_height('close.svg')px;
	background-image: url(@@sprite('close.svg'));
	background-position: @@sprite_bgpos('close.svg');
}

#feed-action-line>a
{
	text-decoration: none;
	color: #444;
	padding: 0 1em;
	display: inline-block;
}

#delete-feed-link::before 
{
	width: @@sprite_width('trash.svg')px;
	height: @@sprite_height('trash.svg')px;
	background-image: url(@@sprite('trash.svg'));
	background-position: @@sprite_bgpos('trash.svg');
}

#update-feed-link::before 
{
	width: @@sprite_width('refresh.svg')px;
	height: @@sprite_height('refresh.svg')px;
	background-image: url(@@sprite('refresh.svg'));
	background-position: @@sprite_bgpos('refresh.svg');
}

#feed-view-articles
{
	margin-top: 1.5em;
}

#feed-view-pager-line
{
	display: flex;
	justify-content: space-between;
}

#feed-view-articles .pager
{
	padding-left: .5em;
}


/************* feed view details ************/

.feed-view
{
	margin-bottom: 15em; /* helps when resizing errors */
}

#feed-error-log-wrap
{
	height: 10em;
	overflow: auto;
	resize: both;
}

body .feed-error-log td
{
	vertical-align: top;
	padding: .5em;
	border: 1px solid #fff;
}

.feed-error-log td:nth-child(1) 
{
	white-space: nowrap;
}

.feed-error-log td:nth-child(1) div
{
	color: #777;
	margin-top: .2em;
	font-size: 12px;
}

.feed-error-log pre
{
	margin: 0;
	font-size: 10px;
}

#feed-error-log-fold.hidden .feed-error-log
{
	display: none;
}

#feed-error-log-fold>button
{
	font-size: 11px;
}

#feed-error-log-fold>button::after
{
	content: '-';
	margin-left: 1em;
	font-size: 17px;
	line-height: 11px;
}

#feed-error-log-fold.hidden>button::after
{
	content: '...';
}
