html
{
	background-color: #eee;
}
body
{
	background-color: white;
	margin: 0;
	padding: 8px;
}

.demosphere-feed-import-title
{
	font-size:60%;
	margin:0em;
	padding:0em;
	margin-left:20px;
}

img
{
	max-width: 1000px;
	height: auto;
}

#demosfb-event-start,#demosfb-event-venue,#demosfb-event-image
{
	margin: 1em;
}

iframe,embed
{
	background-color: #fee;
}


.twitter-video-link img
{
	max-width: 300px;
}
