/****************************************/
/* page layout */
/****************************************/

/* Top right menu is position absolute : leave space for it */
body.feedImport #main
{
	margin-top: 42px;
}

/* Reclaim unused top left space  */
@media (min-width: 1000px) {
body.feedImport.has-tabs                               #main,
body.path_feed_import_view_article_finish_confirm     #main,
body.path_feed_import_view_recently_finished_articles #main,
body.path_feed_import_view_feed_list                  #main,
body.path_feed-import_feed                            #main
{
	margin-top: 20px;
}
}

body.feedImport .messages
{
	margin-top: 1.5em;
	margin-bottom: 1em;
}

/****************************************/
/* page top right menu */
/****************************************/

#feed-import-top
{
	line-height: 30px;
	margin-top: .3em;
	margin-bottom: .5em;
	position: absolute; 
	right: 0;
	z-index: 15; /* dropdown needs to be on top (ex: rotated table labels in manage feeds) */
	display: -webkit-flex;
	display: flex;
}

#feed-import-top>a
{
	white-space: nowrap;	
}

#feed-import-top .indicator
{
	padding: 0 .4em;
	color: black;
	text-decoration: none;
	margin-right: .5em;
}

#feed-import-top .indicator:hover
{
	background-color: #fafafa;
}

#finish-choices .dropdown-button::before 
{
	width: @@sprite_width('close.svg')px;
	height: @@sprite_height('close.svg')px;
	background-image: url(@@sprite('close.svg'));
	background-position: @@sprite_bgpos('close.svg');
}


#manage-feeds-link
{
	text-decoration: none;
	display: inline-block;
	color: black;
	padding: 0 .6em;
	box-shadow: 0px 0px 1px rgba(0,0,0,.2);
	background-color: white;
}

#manage-feeds-link:hover
{
	background-color: #fafafa;
}

.top-button,
.top-icon-button
{
	margin: 0 5px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 3px;
	vertical-align: middle;
	height: 30px;
	line-height: 27px;/* Why is 27 necessary ? (should be 30-border=28, but icon 1px too low) */
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	text-align: center;
}

.top-button:hover,
.top-icon-button:hover
{
	background-color: #e2e2e2;
}

.icon-add::before,
.top-icon-button::before,
.top-icon-button span
{
	text-align: center;
	content: '';
	display: inline-block;
	vertical-align: middle;
}


/****************************************/
/* other common */
/****************************************/


body.feedImport #content>.page-title
{
	margin-left: .5em;
}

.indicator::before
{
	text-align: center;
	content: '';
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
	width: 15px;
	height: 15px;
	margin-right: .5em;
}
.indicator.status-0::before
{
	background-color: red;
}
.indicator.status-1::before
{
	background-color: green;
}

.screenshot
{
	position: relative;
}

.screenshot .selbox>div
{
	position: absolute;
	border: 1px dashed red;
}

.screenshot .html-selectors
{
	display: none;
	width: 150px;
	position: absolute;
	top: 0;
}
.screenshot .html-selectors tr
{
	background-color: rgba(200,255,137,1);
}
.screenshot .html-selectors tr:hover
{
	background-color: rgba(230,255,137,1);
}
.screenshot:hover .html-selectors
{
	display: table;
}

.screenshot td
{
	word-break: break-all;
}

.screenshot .selector-type
{
	max-width: 1em;
	white-space: nowrap;
	overflow: hidden;
	color: #666;
}


body.feedImport #content>.pager
{
	margin-left: .5em;
}

/****************************************/
/* tabs  */
/****************************************/


body.feedImport.has-tabs #main
{
	padding-bottom: 0;
	margin-bottom: 0px;
}

body.feedImport #main .tabs
{
	margin-bottom: 0;
	margin-top: 5px; /* avoid overflow hidden outside #main */
}

body.feedImport.has-tabs #main .tab-name a
{
	color: black;
	background-color: transparent;
	font-weight: bold;
	padding: 0;
	padding-right: 1em;
	max-width: 280px;
	display: inline-block;
	white-space: normal;
	max-height: 2.5em;
	overflow: hidden;
	font-size: 20px;
	border-radius: 0;
	box-shadow: none;
	border: none;
}

body.feedImport.has-tabs #content
{
	background-color: #f5f5ff;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 3em;
}


.tab-errors a
{
	color: #666;
}

.tab-errors.has-errors a
{
	color: red;
}


/****************************************/
/*  ? */
/****************************************/

#article-dowload-errors::,
#feed-dowload-errors
{ 
    background-color: red;
}

#html-content-selector-frame
{ 
    width:80%;
    height: 20em;
    margin-left: 5em;
    border: 1px solid black;
}

body.feed-view .pager.pager-single-page select
{
	display: none;
}

#last-error
{
	margin-left: 1em;
}

#last-error.current>strong:first-child
{
	color: red;
}

#last-error .error-log
{
	margin-top: .2em;
	margin-left: 1em;
}

#last-error.old .error-log
{
	color: #777;
	font-size: 12px;
}

#full-xml
{
	margin-left: 1em;
}

#full-xml>span:first-child
{
	cursor: pointer;
}

#feedxml
{
	margin-left: 1em;
	background-color: #fafaff;
}

/****************************************/
/* errors page */
/* (both single feed error and feed error list) */
/****************************************/

#feed-errors
{
	border-collapse: collapse;
	margin-top: 2em;
}

#feed-errors tr
{
	background-color: #fee;
	border-bottom: 10px solid white;
}

#single-feed-errors tr
{
	border-bottom: none;
}

#feed-errors tr.hide-errors
{
	background-color: #ddd;
}

#single-feed-errors #feed-errors .feed-status-1
{
	background-color: #efe;
	
}

#feed-errors td
{
	padding: .5em;
	vertical-align: top;
}

#feed-errors .info
{
	max-width: 14em;
	padding-top: 0;
}

#feed-errors .feed-name
{
	word-wrap: break-word;
	display: block;
	padding: .5em;
	text-decoration: none;
	color: black;
	width: 110px;
	font-weight: bold;
}

#single-feed-errors #feed-errors .feed-name
{
	display: none;
}

#feed-errors .feed-name:hover,
#feed-errors .indicator:hover
{
	background-color: rgb(255,255,255,.7);
}

.info .indicator
{
	display: block;
	padding: .2em;
	background-color: rgb(255,255,255,.2);
	margin-top: .2em;
	text-decoration: none;
	color: black;
}

#feed-errors .until
{
	display: none;
}

#feed-errors .hide-errors .until
{
	display: block;
}

#feed-errors .short-message
{
	background-color: rgba(255,0,0,.1);
	padding: .1em;
	text-align: center;
	margin-bottom: .3em;
}

#feed-errors .feed-status-1 .short-message
{
	background-color: rgba(0,255,0,.1);
}

#feed-errors .message 
{
	padding: 0;
}

#feed-errors .message .message-wrap
{
	white-space: pre-wrap;
	overflow: auto;
	min-height: 6em;
	height: 6em;
	resize: both;
	margin: 0;
	padding: .4em;
	background-color: rgba(255,255,255,.5);
}

#single-feed-errors #feed-errors .message .message-wrap
{
	height: 10em;
	min-height: 10em;
}


#feed-errors .main-message
{
}

#feed-errors .recommend
{
	font-style: italic;
}

#feed-errors .details
{
	font-familly: mono;
	border-top: 1px solid rgba(0,0,0,.1);
	padding-top: .3em;
	margin-top: .3em;
	font-size: 11px;
	color: #666;
}

#feed-errors .actions
{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.actions input[data-duration="0"]
{
	display: none;
}

#feed-errors .hide-errors .actions span
{
	display: none;
}

#feed-errors .hide-errors .actions input[data-duration="0"]
{
	display: inline;
}

/****************************************/
/* feed edit */
/****************************************/

#advanced-edit-link
{
	float: right;
	padding: .5em;
	padding-top: 0;
}

#feed-edit input,
#feed-edit textarea,
#feed-edit .description
{
	max-width: 600px;
}

#feed-edit .form-item 
{
	margin-left: 1em;
	margin-bottom: 1.5em;
}

#feed-edit .form-item label
{
	display: inline-block;
	min-width: 160px;	
}

#feed-edit .form-item .description
{
	color: #888;
	font-style: italic;
	margin-left: 165px;
}

#fake-feed-debug-link
{
	margin: .5em;
	margin-left: 180px;
}

#edit-fakeFeed-ccPhpCode-wrapper label
{
	vertical-align: top;
}

#feed-edit #edit-fakeFeed-ccPhpCode
{
	max-width: 800px;
}

#lip-filters
{
	list-style: none;
}
#feed-edit #lip-filters label
{
	font-weight: normal;
	display: inline;
}
#lip-filters li:nth-child(2) span
{
	display: none;
}

#lip-filters #lip-filter-advanced
{
	display: inline;
}
#selector-item 
{
	max-width: 769px;
}

#feed-edit #selector-item label
{
	display: block;
}

#selector-manual,
#selector-auto,
#fakeFeed-lipHtmlSelector
{
	display: inline-block;
	padding: 1em;
	margin: 1em;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-decoration: none;
	color: black;
}

#selector-manual
{
	margin-left: 165px;
}

#selector-manual:hover,
#selector-auto:hover,
#fakeFeed-lipHtmlSelector:hover
{
	background-color: #ffc;
}

#selector-item .screenshot
{
	float: right;
	margin-left: .5em;
	margin-bottom: 1em;
}

#edit-comment-wrapper
{
	clear: both;
}

#feed-edit #edit-comment-wrapper label
{
	vertical-align: top;
}



/****************************************/
/* feed management */
/****************************************/

#new-feed
{
	display: inline-block;
	background-color: #d14836;
	color: white;
	font-size: 13px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	border-radius: 2px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	padding: 0 8px;
	height: 30px;
	vertical-align: middle;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 2em;
	box-sizing: border-box;
	line-height: 30px;
}

#new-feed:hover
{
	background-color: #c13826;
}

#feed-manager .page-title
{
	position: absolute;
	top: 3em;
}

#last-update
{
	position: absolute;
	right:330px;
	top: 35px;
	z-index: 1;
}

#stats-link
{
	position: absolute;
	right:200px;
	top: 35px;
	z-index: 1;
}

body #feed-manager tr.hide-errors
{ 
    background-color: #aaa;
}

#feed-manager tr.bad-status
{
	background-color: red;
}

body .feed-list tr.disabled
{
	background-color: #bbb;
}

#feed-manager .table-render-wrapper
{
	overflow-x: auto;
	position: relative;
}

#feed-manager .table-render-csv-export
{
	display: none;
}

#feed-manager .table-render-search
{
	margin: 0;
}

.no-feed-warn
{
	color: orange;
}


#edit-choose-age-wrapper
{
	display: none;
}


/****************************************/
/* fake feed */
/****************************************/

#fake-feed-debug
{
	padding: .6em;
}

#fake-feed-debug .col-description
{
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 13px;
}
#fake-feed-debug .col-link,
#fake-feed-debug .col-guid
{
	word-break: break-all;	
}


#custom-code
{
	background-color: #eef;
	padding: .5em;
}

#fake-feed-xml
{
	white-space: pre-wrap;
	background-color: rgba(0,0,255,.07);
	padding: .5em;
	
}

/****************************************/
/* other */
/****************************************/

#confirm-finish
{
	margin-left: 1em;
}

.finish-all
{
	color: red;
}

#confirm-finish ul
{
	padding-left: 0;
}

#confirm-finish li
{
	list-style: none;
	padding-left: 0;
}

#confirm-finish li>span
{
	display: inline-block;
	min-width: 7em;
	text-align: right;
}

#confirm-finish li a
{
	text-decoration: none;
}

#confirm-finish li a:hover
{
	color: #80e;
}


#edit-advanced-begin
{
	width: 400px;
}


#article-details-head
{
	margin-left: .5em;
}

.path_feed_import_view_feed_delete #content form
{
	margin-left: .5em;
}

.path_feed_import_view_feed_delete #edit-advanced-fieldset
{
	margin-top: 1em;
}

#create-feed-form 
{
	padding: .5em;
}

#create-feed-form .description
{
	color: #555;
	font-style: italic;
}

#create-feed-form #edit-advanced-begin
{
	margin-top: 2em;
}

#content #create-feed-form fieldset.collapsible > legend
{
	background: white;	
}


#feeds-search-terms
{
	font-weight: normal;
	font-size: 16px;
}
