/**************** page structure and misc *****************/

body.dcomponent
{ 
    margin: 0em;
    padding: 0em;
    color : black;
	background-color: white;
}

body.dcomponent.localhost
{ 
	background-color: white;
}

body.dcomponent #wrap
{
	background-color: white;
}
body.dcomponent #main
{
	background-color: white;
}

#main .tabs
{
	border-bottom: 1px solid #aaa;
	margin-left: 0;
	max-width: 100%;
	margin-bottom: 10px;
}
.tabs .active a
{
	border: 1px solid #aaa;
}

body.dcomponent #content
{
	background-color: white;
	border: none;
	border-radius: 0;
	padding: 0;
	display: flow-root; /* Force Block Formatting Context (BFC) to avoid margin problems. (top margin in tab) */
	overflow: hidden;   /* Old browsers don't support display: flow-root */
}

@supports (display: flow-root)
{
	#main #content{overflow: visible;}
}

#mainContent
{ 
  padding: 0;
}

h2.error-message
{
	color: red;
}

div.messages.error
{
	padding: .3em;
	color: #220000;
	border: 1px solid black;
	background-color: #FFCCCC;
}

div.messages.status
{
	padding: .3em;
	border: 1px solid black;
	background-color: #CCFFCC;
}

/************ menu bar (not used in mail-import) **********/

#dc-menubar
{  
  background-color: #a00;
  color: white;
  text-align: center;
  overflow: hidden;
}

#dc-menubar a
{ 
  color: white;
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: none;
}

#dc-menubar a:hover
{ 
  color: black;
  background-color: white;
}

#dc-menubar>div
{
	padding: 4px;
}

#dc-menu-line1-of2
{
	background-color: #805;
	float: left;
}

#dc-menu-line1-of2 .label
{
	font-weight: bold;
}


/************ progress-log **********/

#progress-log-box .progress-log
{
	padding :.5em 2em;
	border-bottom: 1px solid #ccc;
}

#progress-log-box.progress-box-pre .progress-log
{
	white-space: pre-wrap;
	font-family: monospace;
	border-bottom: none;
	padding :0em 2em;
	font-size: 13px;
}

#progress-log-box.fold
{
	display: none;
	margin: 1em;
	padding: 1em;
	border: 1px solid #aaa;
	background-color: #fafafa;
}

#progress-log-button
{
	font-size: 11px;
	padding: 2px;
    cursor: pointer;
	background-color: #fff;
	border-radius: 10px;
}
#progress-log-button:hover
{
	background-color: #ffa;
}
.progress-log.error{background-color: #fcc;}
.progress-log.warn {background-color: #220;}


/* ********** dcitem  ************ */

.dcitem
{ 
    border-bottom: 1px solid #777;
    clear: both;
}

#main article.dcitem.pending
{ 
    background-color: #ff0;
}

#main article.dcitem.finished
{ 
    background-color: #aaa;
}


/* ********** dcitem: title-line ************ */

.dcitem .title-line
{  
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap; /* future: responsive */
	align-items: flex-start;
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 20px;
    min-height: 30px;
	line-height: 30px;
	overflow: hidden;
	vertical-align: center;
}

.dcitem img.finish
{ 
	padding-right: 7px;
	padding-left: 5px;
	padding-bottom: 3px;
	padding-top: 3px;
    /*margin-right: .5em;*/
}

.dcitem img.finish:hover
{
    background-color: yellow;
}


.dcitem .title-line a
{ 
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.dcitem .title-line .title-link
{
	display: block;
	flex: 1;
	margin-left: 20px;
	padding-left: .5em;
	max-height: 3em;	
}

.dcitem .title-link:hover
{ 
	background-color: rgba(0,0,0,.2);
	color: #fdd;
}

.dcitem .title-line .long-title
{
    font-size: 17px;
	padding-right: .5em;
}

@media all and (max-width: 800px)
{
.dcitem .title-line .title-link
{
	font-size: 14px;
	line-height: 1.5em;
}
}


#wrap .dcitem.finished .title-line
{ 
    background-color: #555;
	@@linear_gradient("to bottom",@@desaturate(@@lighten('#855',35),35),'0%',@@desaturate(@@lighten('#855',5),35),'30%');
}

.dcitem .title-line span.idNumber
{ 
    color: #aaa;
    font-size: 14px;
    vertical-align: middle;
    margin-left: .1em;
    margin-right: .5em;
	display: inline-block;
	min-width: 50px;
}


/********* dcitem: main horizontal line ***************/

.dcitem .main-line
{ 
    position: relative;/* for resize buttons */
	overflow: hidden;/* needed for resize */
	display: -webkit-flex;
	display: flex;
	resize: vertical;
	min-height: 5em;
	/* height: 265px; */
}

.dcitem .dc-middle
{
	flex: 1; /* grow horizontally */
	display: -webkit-flex;
	display: flex; /* vertical flex for its children (info top and frame) */
	flex-direction: column;
}

.dcitem .frame-resize-buttons
{
    position: absolute;
    left: 109px;
	top: 23px;
    z-index: 3;
}

.dcitem .frame-resize-buttons a
{
	display: block;
    text-decoration: none;
    padding: 0 2px;
    background-color: white;
    border: 1px solid #bbb;
	text-align: center;
}

.dcitem .frame-resize-buttons a:hover
{ 
    background-color: yellow;
}


.dcitem .content-frame
{ 
	flex: 1;
	display: block; /* iframe is inline by default ! */
    width : 100%; 
	min-height: 0px; /* For some reason flex refuses to shrink the frame under 150px, this works */

    margin: 0;
    padding: 0;
	border:0 none;

	box-shadow: inset 1px 1px 1px rgba(0,0,0,.3);
}

.dcitem .content-frame[src]
{
    background-color: white;
}


.dcitem.single .content-frame
{ 
    height : 20em;
}




/********* dcitem: info-top ***************/

.dcitem .info-top
{ 
    margin:0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.dcitem .info-top>span
{
	margin-top: .2em;
	margin-bottom: .2em;
}

.dcitem .info-top .infoPart
{ 
    margin-right: 2em;
}

.dcitem .info-top .infoPart.timestamps
{
	display: inline-block;
    white-space: nowrap;
	max-width: 400px;
	overflow:hidden;
	text-overflow: ellipsis; 	
}

.dcitem .info-top .infoPart .demosphere_timestamp,
.dcitem .info-top .infoPart .demosphere_keyword
{
    white-space: nowrap;
	padding: 0 .2em;
}

.dcitem .infoPart.ref-demosphere-events a
{ 
    background-color: red;
    color: yellow;
    font-size: 130%;
    margin:.2em;
    padding:.2em;
}

.dcitem .text-matching
{ 
	flex: 1;
	text-align: right;
}

/* Complicated / hackish overflow handling:  
   If we specify overflow:hidden in .text-matching, flex will not wrap it.
   If we specify overflow:hidden here, with no max-width, then it will not be considered as an overflow (even if it does)
   So we need max-width ... which is unknown (depends on window width). 
   Hackish solution is to specify max-width using js :-( */
.text-matching .tmInfo
{ 
	display:inline-block;
    white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis; 
}

.tmInfo .overflow-box
{
	text-align: left;
}

.text-matching .tmInfo .tmMatch
{
	margin-right: .5em;
}

/********* dcitem: info-left ***************/

.dcitem .info-left a
{
	text-decoration: none;
	color: black;
}

.dcitem .info-left a:hover
{
	color: #600;
}

.dcitem .info-left
{ 
    margin: 0;
    width: 110px;
	min-height: 265px; /* This is needed to set the default height of main-line, without blocking its resize button */

    padding-top: 8px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 8px;
    list-style-type: none;
    text-align: center;
    top:0px;
}

.dcitem .info-left>li
{
    margin: .4em 0;    
} 

.dcitem .info-left>li:last-child
{
    margin-bottom: 0;
} 


.dcitem li.cycleButtons
{
    margin-top: 0px;
    margin-bottom: 4px;
    position: relative;
}

.cycleButtons>span
{
    cursor: pointer;
    display:inline-block;
    padding:3px;
    vertical-align: middle;
}
.cycleButtons>span
{ 
    background-image: url(cycle-buttons.png);
    display: inline-block;
    width: 40px;
    height: 18px;
    padding: 0;
}
.cycleButtons.disabled span.prev      {background-position: 0px 0px;}
.cycleButtons.disabled span.prev:hover{background-position: 0px 0px;}
.cycleButtons.disabled span.next      {background-position: -40px 0px;}
.cycleButtons.disabled span.next:hover{background-position: -40px 0px;}
.cycleButtons span.prev               {background-position: -80px 0px;}
.cycleButtons span.next               {background-position: -120px 0px;}
.cycleButtons span.prev:hover         {background-position: -160px 0px;}
.cycleButtons span.next:hover         {background-position: -200px 0px;}

.cycleButtons.disabled span
{ 
    cursor: not-allowed;
}

.dcitem .info-left .import 
{
    margin: 1.2em 0;
}

.dcitem .info-left .import a
{ 
    border: 1px solid black;
    padding: 4px;
	border-radius: 10px;
    text-decoration: none;
    background: linear-gradient(rgba(255,255,255,255),rgba(255,255,255,0));
    box-shadow: 1px 1px 2px #555;
    color: black;
}

.dcitem .info-left .import a:hover
{
    color: #600;    
    background-color: yellow;
}

.infoPart.more-info a
{
	background-color: rgba(255,255,255,.6);
	padding: .2em;
	color: #666;
}
.infoPart.more-info a:hover
{
	background-color: rgba(0,0,0,.05);
}

/**********  overflow-popup **************/

.overflow-popup
{
	display: inline-block;
}
.overflow-popup.popup>span.overflow-box
{
	position: absolute;
    white-space: normal;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	display: block;
	padding-bottom: .7em;
	z-index: 20;
}

