
div.aofa
{
	position: relative;
}

.aofa-table
{ 
	border-collapse: collapse;
}

.aofa-row-form .invalid
{
	background-color: red;
}

.aofa-table tr
{
	background-color: #eeeeee;
    padding: 0.1em 0.6em;
}

.aofa-table tr.editing
{ 
    background-color: yellow;
}
.aofa-table tr.edited
{
    background-color: #eee5e0;
}

.aofa-table td,
.aofa-table th
{ 
    padding: 2px;
    border: 1px solid #bbb;
}
.aofa-table tr:first-child td
{ 
    border: none;
}

.aofa-table td.delete,
.aofa-table td.edit
{ 
    cursor: pointer;
}

.aofa-table td.delete span:hover
{ 
    background-color: #fa0;
}
.aofa-table td.edit span:hover
{ 
    background-color: #ff0;
}

.aofa-table td .up,
.aofa-table td .down
{ 
    display: block;
    width: 16px;
    height: 8px;
    cursor: pointer;
}
.aofa-table td.updown span:hover
{
    background-color: yellow;
}

.aofa-table td.updown span
{ 
    background-image: url(updown.png);
}
.aofa-table td .down
{
    background-position: 0px -8px;
}

.aofa-table td.delete span,
.aofa-table td.edit span
{ 
    display: block;
    width: 16px;
    height: 16px;
}
.aofa-table td.delete span
{ 
    background-image: url(delete.png);
}
.aofa-table td.edit span
{ 
    background-image: url(edit.png);
}


.aofa-row-form
{ 
    background-color: #dac;
    margin: .5em;
    padding: .5em;
	position: absolute;
	border: 1px solid #967;
	-moz-box-shadow: #555 5px 4px 5px;
	-webkit-box-shadow: #555 5px 4px 5px;
	box-shadow: #555 5px 4px 5px;
	z-index: 100;
}

.aofa.singleLine .aofa-row-form
{
	position: static;
}
.aofa.singleLine .aofa-table
{
	display: none;
}


/* remove drupal border */
.aofa-row-form tbody{border: none;}

.aofa-form-items
{ 
    margin: 0;
	display: table;
	padding-left: 0;
}
.aofa-form-items>li
{
	display: table-row;
}

.aofa-form-items>li>label
{
	display: table-cell;
    padding-right: 1em;
	white-space: nowrap;
	font-weight: normal;
}
.aofa-form-items>li>span
{
	display: table-cell;
}
.aofa-new-row-button
{ 
    display: inline-block;
    margin: .2em;
    text-decoration: none;
    background-color: white;
    padding: 2px 8px;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.aofa-new-row-button:hover
{ 
    background-color: yellow;
}

.aofa-type-textarea
{
    white-space: pre;
    word-wrap: break-word;
}
.aofa-row-form table { width: 100%; }
.aofa-row-form .aafield
{ 
    width: 500px;
}
.aofa-row-form select.aafield
{ 
    width: auto;
}

.aofa-row-form textarea
{
    height: 6em;
}

.aofa-must-save-msg
{
	display: none;
	font-style: italic;
	color: green;
}