
.form-item
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error,
.form-radios.error
{
	border: 2px solid red;
}
.form-item-hidden
{
	display: none;
}

.form-item .description
{
	font-size: 0.85em;
	max-width: 60em;
}
.form-item label
{
	display: block;
	font-weight: bold;
}
.form-radios label
{
	font-weight: normal;
}
.form-item label.option
{
	display: inline;
	font-weight: normal;
}

.form-item .description 
{
    font-size: 0.85em;
}
.form-checkboxes, .form-radios
{
	margin: 1em 0;
}

.form-checkboxes .form-item, .form-radios .form-item
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.form-submit-buttons .form-item
{
	display: inline;
	padding-bottom: 0;
}

.dlib-form fieldset
{
	margin-bottom: 10px;
}

/*body.useJscolor .form-color
{
	width: 10ex;
}*/

.useJscolor .form-color
{
	padding: 5px 20px;
}

.color-empty .form-color
{
	display: none;
}

/* ************
  Collapsing fieldsets (Adapted from Drupal 6)
************** */

fieldset.collapsible
{
}

fieldset.collapsed
{
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	margin-bottom: 0;
	/* height: 1em; Bad when legend is wrapped on multiple lines. Why was this necessary ?  */
}
fieldset.collapsed>.collapsible-content
{
	display: none;
}
fieldset.collapsed>legend
{
	display: block;
}

fieldset.collapsible>legend 
{
	cursor: pointer;
	background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.1));
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	/* text-shadow: -1px -1px 0px white, 1px 1px 2px rgba(0,0,0,.5); */
	padding-right: 10px;
}

fieldset.collapsible>legend:hover
{
	background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7));
}


fieldset.collapsible>legend > span
{
	padding-left: 20px;
	background: url(menu-expanded.png) 5px 75% no-repeat;
	
}
fieldset.collapsed>legend > span
{
	background-image: url(menu-collapsed.png);
	background-position: 5px 50%;
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* fieldset.collapsed legend,
* fieldset.collapsed legend *,
* fieldset.collapsed table *
{
	display: block;
}

fieldset.collapsible>legend 
{
	display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
fieldset.collapsible .fieldset-wrapper
{
	overflow: auto;
}


.form-yellow-bird
{
	display: none;
}