/* ********* table common   ************ */

.table-render-title
{
	margin-top: .2em;
	margin-bottom: .2em;
}

table.table-render
{
	clear: both;
}

.table-render .action-head:nth-child(1),
.table-render .action-head:nth-child(2)
{
	border: none;
}

table.table-render td.right
{
	text-align: right;
}

/* ********* search button  ************ */

.table-render-search
{
	display: block;
	float: right;
	margin: .5em;
	margin-top: 0;
}
.table-render-search input[name*="search"]
{
	width: 8em;
	vertical-align: middle;
	height: 21px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.table-render-search button
{
	width: 27px;
	height: 27px;
	background-image: url(search.png);
	vertical-align: middle;	
	position: relative;
	left: -4px;
}

.table-render-csv-export
{
	float: right;
	margin-right: 2em;
	color: rgba(0,0,0,.5);
	text-decoration: none;
	margin-top: .25em;
}
.table-render-csv-export:hover
{
	text-decoration: underline;
	color: black;
}

/* ********* gray table  ************ */

.gray-table
{
	border-collapse: collapse;
}

.gray-table thead tr
{
	border-bottom: 1px solid rgba(0,0,0,.3);
}

body .gray-table th
{
    background-color: #ddf;
	border-right: 1px solid #eef;
}

body .gray-table th:last-child
{
	border-right: none;
}

table.gray-table.has-rotate th.rotate div span
{
    background-color: #ddf;
}

.gray-table td,
.gray-table th
{
	border: none;
	padding-left: 0.2em;
    padding-right: 0.2em;
}

.gray-table tr 
{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.gray-table tr:hover
{
	background-color: #f7f7f7;
    border-bottom: 1px solid black;
}

/* ********* table header rotate  ************ */

.table-render th
{
	white-space: nowrap;
}

table.has-rotate 
{
}

table.has-rotate th.rotate 
{ 
	white-space: nowrap;
}
table.has-rotate th.rotate div
{ 
    position: relative;
    min-height: 1em;
    min-width: 2em;
}
table.has-rotate th.rotate div span
{ 
	padding: 0 2px;
	position: absolute;
	left: -3px;
	top: 5px;
	z-index: 2;
	-moz-transform: rotate(-25deg);
	-moz-transform-origin: left;
	transform: rotate(-25deg);
	transform-origin: left;
	background-color: #eee;
}

table.has-rotate.sortable th.rotate div span
{
	background-color: #ddf; 
}


table th.auto-rotate div
{
	max-width: 2em;
}
table th.auto-rotate div span
{
}

/* ********* sortable table ************ */

table.sortable th.sort-col:hover
{
	background-color: yellow; 
}

table.sortable th.sort-col.colhover,
table.sortable th.sort-col.colhover.rotate div span,
table.sortable th.no-sort.colhover
{
	background-color: #eef; 
}

table.sortable th.sort-col
{
	padding-right: 20px;
	cursor: pointer;
	background-image: url('sort-none.gif');
	background-repeat: no-repeat;
	background-position: right;
}

table.sortable.crowded th.sort-col
{
	padding-right: .2em;
	padding-bottom: 10px;
	background-position: center bottom 2px;
}

table.sortable th.sort-col.sort-ascending
{ 
	background-image: url('sort-asc.gif');
}

table.sortable th.sort-col.sort-descending
{ 
	background-image: url('sort-desc.gif');
}

table.sortable.crowded th.sort-col.sort-descending
{
	background-position: center bottom 6px;
}

/* ********* column hover table ************ */

table.column-hover td.colhover
{
	background-color: rgba(255,255,0,.15);
}
table.column-hover th.colhover
{
	background-color: rgba(255,255,0,.1);
}

/* ********* sticky_table_top ************ */
table.has-rotate .sticky-table-top-fixed th.rotate
{
	overflow: hidden;
}

table.has-rotate .sticky-table-top-fixed th.rotate div
{
	overflow: hidden;	
}

table.has-rotate .sticky-table-top-fixed th.rotate div span
{
	left: 0;
	top: 0;
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	z-index: 3;
}