
/* Some of this was copied from wymeditor, and used in tinymce
 * WYMeditor : Copyright (C) 2007 H.O.net - http://www.honet.be/
 *        http://www.wymeditor.org/
*/


/* basic */
body  
{ 
	background: #e1e8f1;
}

body,td,pre
{ 
    font-size: 17px;
    font-family:arial,sans-serif;
}

/* make HTML blocs visible */
p,h2,h3,h4,ul,ol
{ 
	background: #FFFFFF no-repeat 2px 2px;
	padding:8px 5px 5px;
	margin:3px; 
	background-position: 0 0, 655px top;
}

body.search-flash p,
body.search-flash h2,
body.search-flash h3,
body.search-flash h4,
body.search-flash ul,
body.search-flash ol
{
	background-color: #dfd;
}

ul,ol
{ 
	border-left:20px solid #B9C4D0; 
	padding:0px 5px; 
}

/* labels */
p	{ background-image: url(images/lbl-p.png)		,url(data:image/png;base64,R0lGODlhAQABAPAAAJejrwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==); }
h2	{ background-image: url(images/lbl-h2.png)		,url(data:image/png;base64,R0lGODlhAQABAPAAAJejrwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==); }
h3	{ background-image: url(images/lbl-h3.png)		,url(data:image/png;base64,R0lGODlhAQABAPAAAJejrwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==); }
h4	{ background-image: url(images/lbl-h4.png)		,url(data:image/png;base64,R0lGODlhAQABAPAAAJejrwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==); }

hr.subsection
{ 
    width: 30%;
    color: green;
}

h2,h3,h4
{
	padding-left: 1px;
	color: $paletteText;
	font-family:Arial, Helvetica, Verdana, sans-serif;
    font-weight: normal;
}

/* Tinymce on chrome adds style="color: black". FIXME: this is a hackish quick fix. Need to understand why. */
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
h2 strong,h3 strong,h4 strong
{
	color: $paletteText !important;
}
}

h2 a,
h3 a,
h4 a
{
	color: inherit;
	text-decoration: underline;
}

/* Font sizes for h2...h4 are "guessed" so that line width approximately matches real display line width */
/* Note that font sizes are bigger in editor that in real display, for readability */
h2
{ 
    font-size: 22px;
    font-weight: bold;
}

h3
{ 
    font-size: 19px;
}

h4
{ 
    font-size: 17px;
}

h3 b,
h3 strong,
h4 b,
h4 strong
{ 
    font-weight: normal;
}

a
{ 
	text-decoration: none;
}

p
{
	padding-left: 9px;
}

body ul,body ol
{
	padding-left: 28px;
}

img.pdfPage
{  
    border: 1px solid #aaa;
}

img.floatRight
{                                           
	border: 24px solid transparent; /* Strange: FFox 15requires this. bug? */
	-moz-border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 repeat;
	-webkit-border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 repeat;
	border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 / 0 24px 0 0 repeat;
	border-width: 0 24px 0 0; /* Strange: FFox 15requires this. bug? */
}

body.noBorderImageSupport img.floatRight
{                                           
    background-color: #f99; 
    border-right: 10px solid #ffaaff;
}

img
{
	max-width: 1200px;
	max-height: 1200px;
	/* this is not yet supported on any browser (width/height ratio) */
	object-fit: contain;
}

a img
{
	box-shadow: -2px -2px 0px blue,2px 2px 0px blue;
}


p.composite-doc-container
{
    padding-top: 20px;
    background-color: #f4f0ff; 
	width: 360px;
}		   

p.composite-doc-container.doc-type-pdf .composite-doc::after
{
	position: absolute;
	display: block;
	top: 26px;
	right: 6px;;
	content: '';
	width: @@sprite_width('pdf-24.png')px;
	height: @@sprite_height('pdf-24.png')px;
	background-image: url(@@sprite('pdf-24.png'));
	background-position: @@sprite_bgpos('pdf-24.png');
}


p.floatRight
{                                           
	border: 24px solid transparent; /* Strange: FFox 15requires this. bug? */
    background-color: #f4f0ff; 
    border-width: 0;
    border-right-width: 24px;
	-moz-border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 repeat;
	-webkit-border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 repeat;
	border-image: url(@@file('images/border-imageright.png'))  0 24 0 0 repeat;

	width: 360px;
}		   

body.IE p.floatRight
{
	/*width: auto;*/
}

body.noBorderImageSupport p.floatRight
{
    border-right: 10px solid #ffaaff;
}

p.floatRightText
{
	font-size: 15px; /* same as in display, so that text wraps at same places */
}

.composite-doc-container
{
	position: relative;
}

hr.hr-with-handle
{ 
/*    color: red;
    border: 10px solid red;*/
    text-align: right;
    font-size: 9px;
}

hr .hr-handles,
.composite-doc-container .composite-doc-handles
{
	position: absolute;
	right: 0;
}
.composite-doc-container .composite-doc-handles
{
	top: 0;
}

hr .hr-handle,
.composite-doc-container .composite-doc-handle
{
	display: inline-block;	
	width: 16px;
	height: 16px;
	position: relative;
	top: -8px;
	cursor: pointer;
	margin-left: 5px;
}
.composite-doc-container .composite-doc-handle
{
	top: 0;
}

hr .hr-handle:hover,
#tinymce .composite-doc-container .composite-doc-handle:hover
{
	background-color: #ff0;
}

.composite-doc-container .composite-doc-handle-down
{
	width: @@sprite_width('short-down-arrow.svg')px;
	background-image: url(@@sprite('short-down-arrow.svg'));
	background-position: @@sprite_bgpos('short-down-arrow.svg');
}

hr .hr-handle-resize,
.composite-doc-container .composite-doc-handle-resize
{
	width: @@sprite_width('rightleft.png')px;
	background-image: url(@@sprite('rightleft.png'));
	background-position: @@sprite_bgpos('rightleft.png');
}
hr .hr-handle-close,
.composite-doc-container .composite-doc-handle-close
{
	background-image: url(@@sprite('delete.png'));
	background-position: @@sprite_bgpos('delete.png');
}

.composite-doc-container.mceNonEditable .composite-doc-handle-edit
{
	background-image: url(@@sprite('edit.png'));
	background-position: @@sprite_bgpos('edit.png');
	background-color: transparent;
}
.composite-doc-container .composite-doc-handle-edit
{
	background-color: green;
}

.composite-doc 
{
	white-space: nowrap;
}

.composite-doc .docconvert-doc-button
{
	position: absolute;
}

.image-handles
{
	vertical-align: top;
	position: relative;
	right: 48px;

}

.image-handle-right:hover,
.image-handle-down:hover
{
	background-color: #ff0;
}

.image-handle-right
{
	cursor: pointer;
	display: inline-block;
	width: @@sprite_width('rightleft.png')px;
	height: @@sprite_height('rightleft.png')px;
	background-image: url(@@sprite('rightleft.png'));
	background-position: @@sprite_bgpos('rightleft.png');
	border: 1px solid #eee;
	border-radius: 4px;
	background-color: #fff;
	vertical-align: top; /* needed in webkit */
}

.floatRight+.image-handles
{
	right: 72px;	
}

.image-handle-down
{
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
	width: @@sprite_width('short-down-arrow.svg')px;
	height: @@sprite_height('short-down-arrow.svg')px;
	background-image: url(@@sprite('short-down-arrow.svg'));
	background-position: @@sprite_bgpos('short-down-arrow.svg');
	border: 1px solid #eee;
	border-radius: 4px;
	background-color: #fff;
	vertical-align: top; /* needed in webkit */
}


#docconvert-uploading-p
{
    background-image: url("../css/images/waiting.gif");
	padding-left: 40px;
}