

.htmleditor-textarea
{
	min-height: 280px;
}

#wrap .htmleditor-area-right
{ 
    width: 190px;
	background-color: #f0f0ee;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	overflow: hidden;
	border-left: 1px solid #aaa;
    font-size: 12px;
}

#wrap .htmleditor-area-right>div
{
    margin-bottom: 20px;
}

#wrap .htmleditor-area-right>div:last-child
{
    margin-bottom: 0;
}

#wrap .htmleditor-area-right ul
{
	padding-left: 5px;
}

#wrap .htmleditor-area-right li
{  
    list-style:none outside none;
    margin:0;
    padding: 0;
    line-height: 200%;
}

#wrap .htmleditor-area-right li a
{
    display: block;
	line-height: 200%;
}
#wrap .htmleditor-area-right li span
{
	display: inline-block;
	line-height: 200%;
}

#wrap .htmleditor-area-right li a:hover,
#wrap .htmleditor-area-right .docconvert-command:hover
{ 
    background-color: yellow;
	cursor: pointer;
}

#wrap .htmleditor-area-right span.docconvert-command
{
	padding: 0 .5em;
	display: inline-block;
}
#wrap .htmleditor-area-right span.docconvert-command:first-child
{
	padding: 0;
}

#wrap .htmleditor-area-right h2,
#wrap .htmleditor-area-right h2 span
{
    font-size: 16px;
	color: black;	
	text-shadow: #fff -1px -1px 1px;
    font-weight: bold;
	margin: 0;
}
#wrap .htmleditor-area-right h2
{
    background-color: #ddd;
    border: 1px solid gray;
    padding: 0;
}

#wrap .htmleditor-area-right p
{
	margin: 0;
}

#wrap .image-menu li
{
	line-height: normal;
	margin-bottom: 8px;
	white-space: normal;
}

#wrap .image-menu li a
{
	white-space: normal;
}

@media all and (max-width: 1200px)
{
	.not-mobile .tox .tox-tbtn
	{
		width: 24px;
	}
}

.demosphere-htmledit-button::after
{
	content: '';
}

.demosphere-htmledit-button.btn-bighr::after
{
	background-image: url(@@sprite('button-bighr.png'));
	background-position: @@sprite_bgpos('button-bighr.png');
	width: @@sprite_width('button-bighr.png')px;
	height: @@sprite_height('button-bighr.png')px;
}
.demosphere-htmledit-button.btn-smallhr::after
{
	background-image: url(@@sprite('button-smallhr.png'));
	background-position: @@sprite_bgpos('button-smallhr.png');
	width: @@sprite_width('button-smallhr.png')px;
	height: @@sprite_height('button-smallhr.png')px;
}
.demosphere-htmledit-button.btn-downcase::after
{
	background-image: url(@@sprite('button-downcase.svg'));
	background-position: @@sprite_bgpos('button-downcase.svg');
	width: @@sprite_width('button-downcase.svg')px;
	height: @@sprite_height('button-downcase.svg')px;
}
.demosphere-htmledit-button.btn-upcase::after
{
	background-image: url(@@sprite('button-upcase.svg'));
	background-position: @@sprite_bgpos('button-upcase.svg');
	width: @@sprite_width('button-upcase.svg')px;
	height: @@sprite_height('button-upcase.svg')px;
}

.demosphere-htmledit-button.btn-tidy::after
{
	background-image: url(@@sprite('button-tidy.png'));
	background-position: @@sprite_bgpos('button-tidy.png');
	width: @@sprite_width('button-tidy.png')px;
	height: @@sprite_height('button-tidy.png')px;
}
.demosphere-htmledit-button.btn-linecleanup::after
{
	background-image: url(@@sprite('button-linecleanup.svg'));
	background-position: @@sprite_bgpos('button-linecleanup.svg');
	width: @@sprite_width('button-linecleanup.svg')px;
	height: @@sprite_height('button-linecleanup.svg')px;
}
.demosphere-htmledit-button.btn-linewrapcleanup::after
{
	background-image: url(@@sprite('button-linewrapcleanup.svg'));
	background-position: @@sprite_bgpos('button-linewrapcleanup.svg');
	width: @@sprite_width('button-linewrapcleanup.svg')px;
	height: @@sprite_height('button-linewrapcleanup.svg')px;
}
.demosphere-htmledit-button.btn-listcleanup::after
{
	background-image: url(@@sprite('button-listcleanup.svg'));
	background-position: @@sprite_bgpos('button-listcleanup.svg');
	width: @@sprite_width('button-listcleanup.svg')px;
	height: @@sprite_height('button-listcleanup.svg')px;
}
.demosphere-htmledit-button.btn-imageright::after
{
	background-image: url(@@sprite('button-imageright.svg'));
	background-position: @@sprite_bgpos('button-imageright.svg');
	width: @@sprite_width('button-imageright.svg')px;
	height: @@sprite_height('button-imageright.svg')px;
}
.demosphere-htmledit-button.btn-paragraphright::after
{
	background-image: url(@@sprite('button-paragraphright.svg'));
	background-position: @@sprite_bgpos('button-paragraphright.svg');
	width: @@sprite_width('button-paragraphright.svg')px;
	height: @@sprite_height('button-paragraphright.svg')px;
}

.demosphere-htmledit-button.btn-dtoken::after
{
	background-image: url(@@sprite('button-dtoken.png'));
	background-position: @@sprite_bgpos('button-dtoken.png');
	width: @@sprite_width('button-dtoken.png')px;
	height: @@sprite_height('button-dtoken.png')px;
}

.tox-statusbar__branding
{
	display: none !important;
}

/* *********** dtoken popup in html editor ********* */
/* This is needed in both event edit and other node types edit */

#dtoken-popup
{
	position: absolute;
	width: 500px;
	background-color: white;
	padding: .5em;
	border: 1px solid black;
	-moz-box-shadow: #555 10px 10px 10px;
	-webkit-box-shadow: #555 10px 10px 10px;
	box-shadow: #555 10px 10px 10px;
	z-index: 10;
	overflow-y: auto;
	max-height: 400px;
}

#dtoken-popup dt
{
	display: inline-block;
	margin-top: 5px;
	cursor: pointer;
	background-color: #fee;
	color: #900;
	border: 1px solid black;
	padding: 2px 6px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	@@linear_gradient("to bottom",'#fff','0%','#ddd','50%');
}
#dtoken-popup dt:hover
{
	color: red;
	background-color: #faa;
}

/* Keyboard shortcut texts in formats menu of tinymce */
/* Note: Tinymce does not provide a class specific for the format select menu. This affects all menus. That's ok as long as we don't use other menus. */
.eventAdmin .tox-menu .tox-collection__item::after
{
	font-size: 10px;
	color: #aaa;
	margin-left: 1em;
}

.eventAdmin .tox-menu .tox-collection__item:nth-child(1)::after
{
	content: '<?= t('ctrl+shift') ?>+1';
}
.eventAdmin .tox-menu .tox-collection__item:nth-child(2)::after
{
	content: '<?= t('ctrl+shift') ?>+2';
}
.eventAdmin .tox-menu .tox-collection__item:nth-child(3)::after
{
	content: '<?= t('ctrl+shift') ?>+3';
}
.eventAdmin .tox-menu .tox-collection__item:nth-child(4)::after
{
	content: '<?= t('ctrl+shift') ?>+4';
}
